<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Accordions | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Accordions</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Default</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <!-- <h5 class="tit"></h5> -->
                <div class="cont">
                  <!-- accord_list -->
                  <ul class="accord_list">
                    <li class="on accord_head">
                      <p class="accord_tit">선택된 아코디언 메뉴</p>
                      <div class="accord_cont" style="display: block">...</div>
                    </li>
                    <li class="accord_head">
                      <p class="accord_tit">아코디언 메뉴</p>
                      <div class="accord_cont">...</div>
                    </li>
                    <li class="accord_head">
                      <p class="accord_tit">아코디언 메뉴</p>
                      <div class="accord_cont">...</div>
                    </li>
                  </ul>
                  <!-- //.accord_list -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Plus 아이콘 아코디언</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <!-- <h5 class="tit"></h5> -->
                <div class="cont">
                  <!-- accord_list -->
                  <ul class="accord_list is_plus">
                    <li class="accord_head"><!-- 펼침상태: on -->
                      <div class="accord_tit">
                        <a href="#">거래원장</a>
                        <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button>
                      </div>
                      <div class="accord_cont">...</div>
                    </li>
                    <li class="accord_head">
                      <div class="accord_tit">
                        <a href="#">정기교육</a>
                        <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button>
                      </div>
                      <div class="accord_cont">...</div>
                    </li>
                    <li class="accord_head no_open"><!-- 화살표없애고 그냥 링크로 -->
                      <a href="https://www.naver.com" class="">이벤트</a><!-- 아코디언 없는경우 a 태그만, 클래스제거 -->
                    </li>
                    <li class="accord_head">
                      <div class="accord_tit">
                        <a href="#">고객센터</a>
                        <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button>
                      </div>
                      <div class="accord_cont">...</div>
                    </li>
                  </ul>
                  <!-- //.accord_list -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>
</html>