<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Accordions</title>
  <style>
    .guide_contnets{padding: 20px;}
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    ul + ul{margin-top: 24px;}
  </style>
</head>
<body>
  <div id="container">
    <!-- contnets -->
    <div class="guide_contnets">
      <h1>Plus 아이콘 아코디언</h1>
      <ul class="accord_list is_plus">
        <li class="accord_head"><!-- 펼침상태: on -->
          <div class="accord_tit">
            <a href="#">거래원장</a>
            <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button>
          </div>
          <div class="accord_cont">...</div>
        </li>
        <li class="accord_head">
          <div class="accord_tit">
            <a href="#">정기교육</a>
            <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button>
          </div>
          <div class="accord_cont">...</div>
        </li>
        <li class="accord_head no_open">
          <div class="accord_tit">
            <a href="#">이벤트</a>
            <!-- <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button> -->
          </div>
          <div class="accord_cont"></div>
        </li>
        <li class="accord_head">
          <div class="accord_tit">
            <a href="#">고객센터</a>
            <button type="button" class="ico_plus_20 ico_20"><span class="hide">펼침버튼</span></button>
          </div>
          <div class="accord_cont">...</div>
        </li>
      </ul>
      <h1>기본 아코디언</h1>
      <ul class="accord_list">
        <li class="on accord_head">
          <p class="accord_tit">선택된 아코디언 메뉴</p>
          <div class="accord_cont" style="display: block">...</div>
        </li>
        <li class="accord_head">
          <p class="accord_tit">아코디언 메뉴</p>
          <div class="accord_cont">...</div>
        </li>
        <li class="accord_head">
          <p class="accord_tit">아코디언 메뉴</p>
          <div class="accord_cont">...</div>
        </li>
      </ul>
      <h1>왼쪽 화살표 아코디언</h1>
      <ul class="accord_list arr_left_list">
        <li class="on accord_head">
          <p class="accord_tit">선택된 아코디언 메뉴</p>
          <div class="accord_cont" style="display: block">...</div>
        </li>
        <li class="accord_head">
          <p class="accord_tit">아코디언 메뉴</p>
          <div class="accord_cont">...</div>
        </li>
        <li class="accord_head">
          <p class="accord_tit">아코디언 메뉴</p>
          <div class="accord_cont">...</div>
        </li>
      </ul>
      <h1>Q&A 아코디언</h1>
      <ul class="accord_list faq_list">
        <li class="on accord_head">
          <p class="accord_tit">선택된 질문</p>
          <div class="accord_cont" style="display: block"><p>...</p></div>
        </li>
        <li class="accord_head">
          <p class="accord_tit">질문</p>
          <div class="accord_cont"><p>...</p></div>
        </li>
        <li class="accord_head">
          <p class="accord_tit">질문</p>
          <div class="accord_cont"><p>...</p></div>
        </li>
      </ul>
    </div>
    <!--// contnets -->
  </div>
</body>
</html>