<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Badges | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Badges</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Default</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <div class="cont">
                  <span class="badge bg_primary">묶음</span>&nbsp;&nbsp;&nbsp;
                  <span class="badge bg_green">무료강의</span>&nbsp;&nbsp;&nbsp;
                  <span class="badge bg_mint">현금</span>&nbsp;&nbsp;&nbsp;
                  <span class="badge bg_light_orange">카드</span>
                </div>
              </li>
              <li>
                <h5 class="tit">구매내역</h5>
                <div class="cont">
                  <span class="badge badge_history">2번 구매</span>
                </div>
              </li>
              <li>
                <h5 class="tit">프로모션</h5>
                <div class="cont">
                  <span class="badge badge_promotion">프로모션</span>
                </div>
              </li>
              <li>
                <h5 class="tit">공지</h5>
                <div class="cont">
                  <span class="badge badge_notice">공지</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>알림 뱃지</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">Dot</h5>
                <div class="cont">
                  <span class="badge_dot bg_blue"></span>
                  <span class="badge_dot bg_primary"></span>
                  <span class="badge_dot bg_orange"></span>
                  <span class="badge_dot bg_green"></span>
                </div>
              </li>
              <li>
                <h5 class="tit">숫자 뱃지</h5>
                <div class="cont">
                  앱바, 탭바(Round) <span class="badge_round bg_red">0</span><br/><br/>
                  (Num) <span class="badge_num bg_blue">0</span><br/><br/>
                  (Num) <span class="badge_num bg_gray">0</span><br/><br/>
                </div>
              </li>
              <li>
                <h5 class="tit">Appbar cart</h5>
                <div class="cont">
                  <i class="ico_cart ico_24"><span class="badge_round bg_red">7</span></i>
                </div>
              </li>
              <li>
                <h5 class="tit">Tabbar wish</h5>
                <div class="cont">
                  <i class="ico_wish_is ico_24"><span class="badge_round bg_red">7</span></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Avatar</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">마이페이지 고객이미지</h5>
                <div class="cont">
                  <div class="avatar">
                    <img src="../../resources/images/img_avatar_designer.svg" alt="">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>
</html>