<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Badges</title>
  <style>
    .guide_contnets > div{
      margin-top: 20px;
    }
  </style>
</head>

<body>
   <div id="container">
      <!-- contnets -->
      <div class="guide_contnets">
        <div>
          <span class="badge bg_primary">묶음</span>
          <span class="badge bg_primary">Primary</span>
          <span class="badge bg_red">Red</span>
          <span class="badge bg_orange">Orange</span>
          <span class="badge bg_yellow">Yellow</span>
          <span class="badge bg_olive">Orange</span>
          <span class="badge bg_green">Green</span>
          <span class="badge bg_teal">Teal</span>
          <span class="badge bg_blue">Blue</span>
          <span class="badge bg_violet">Violet</span>
          <span class="badge bg_purple">Purple</span>
          <span class="badge bg_pink">Pink</span>
          <span class="badge bg_brown">Brown</span>
          <span class="badge bg_gray">Gray</span>
          <span class="badge bg_black">Black</span>
        </div>
        <div>
          <span class="badge line_red">Red</span>
          <span class="badge line_orange">Orange</span>
          <span class="badge line_yellow">Yellow</span>
          <span class="badge line_olive">Orange</span>
          <span class="badge line_green">Green</span>
          <span class="badge line_teal">Teal</span>
          <span class="badge line_blue">Blue</span>
          <span class="badge line_violet">Violet</span>
          <span class="badge line_purple">Purple</span>
          <span class="badge line_pink">Pink</span>
          <span class="badge line_brown">Brown</span>
          <span class="badge line_gray">Gray</span>
          <span class="badge line_black">Black</span>
        </div>
        <div>
          <span class="badge_round bg_primary">Primary</span>
          <span class="badge_round bg_red">Red</span>
          <span class="badge_round bg_orange">Orange</span>
          <span class="badge_round bg_yellow">Yellow</span>
          <span class="badge_round bg_olive">Orange</span>
          <span class="badge_round bg_green">Green</span>
          <span class="badge_round bg_teal">Teal</span>
          <span class="badge_round bg_blue">Blue</span>
          <span class="badge_round bg_violet">Violet</span>
          <span class="badge_round bg_purple">Purple</span>
          <span class="badge_round bg_pink">Pink</span>
          <span class="badge_round bg_brown">Brown</span>
          <span class="badge_round bg_gray">Gray</span>
          <span class="badge_round bg_black">Black</span>
        </div>
        <div>
          <span class="badge_dot bg_primary"></span>
          <span class="badge_dot bg_red"></span>
          <span class="badge_dot bg_orange"></span>
          <span class="badge_dot bg_yellow"></span>
          <span class="badge_dot bg_olive"></span>
          <span class="badge_dot bg_green"></span>
          <span class="badge_dot bg_teal"></span>
          <span class="badge_dot bg_blue"></span>
          <span class="badge_dot bg_violet"></span>
          <span class="badge_dot bg_purple"></span>
          <span class="badge_dot bg_pink"></span>
          <span class="badge_dot bg_brown"></span>
          <span class="badge_dot bg_gray"></span>
          <span class="badge_dot bg_black"></span>
        </div>
        <div>
          <button class="btn btn_md btn_primary">받은메일함<span class="badge bg_red">7</span></button>
          <button class="btn btn_md btn_primary">받은메일함<span class="badge_round bg_red">99+</span></button>
          <i class="ico_home ico_24"><span class="badge_dot bg_red"></span></i>
          <i class="ico_home ico_24"><span class="badge_round bg_red">7</span></i>
        </div>
        <div>
          <a href="#" class="avatar">
            <img src="../../resources/images/@sample_profile.png" alt="프로필이미지">
            <span class="badge_dot bg_green"></span>
          </a>
          <a href="#" class="avatar">
            <img src="../../resources/images/@sample_profile.png" alt="프로필이미지">
            <span class="badge_round bg_green">99+</span>
          </a>
          <a href="#" class="avatar">
            <img src="../../resources/images/@sample_profile.png" alt="프로필이미지">
            <span class="badge_round bg_orange">BEST</span>
          </a>
        </div>
      </div>
      <!--// contnets -->
  </div>
</body>
</html>