<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Colors | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Colors</h3>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Primary Color</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list color_list">
              <li>
                <h5 class="tit">Primary</h5>
                <div class="cont primary">
                  <span>#0F62FE</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Point Color</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list color_list">
              <li>
                <h5 class="tit">Red</h5>
                <div class="cont red">
                  <span>#FF2E00;</span>
                </div>
              </li>
              <li>
                <h5 class="tit">Blue</h5>
                <div class="cont blue">
                  <span>#1A63D9</span>
                </div>
              </li>
              <li>
                <h5 class="tit">Blue-Secondary</h5>
                <div class="cont blue-secondary">
                  <span>#DFEDFF</span>
                </div>
              </li>
              <li>
                <h5 class="tit">Blue-Tertiary</h5>
                <div class="cont blue-tertiary">
                  <span>#EFF6FF</span>
                </div>
              </li>
            </ul>
          </div>
          <p class="component_desc">포인트 컬러로 콘텐츠 강조를 위한 색상.</p>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Sub Color</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list color_list">
              <li>
                <h5 class="tit">Orange</h5>
                <div class="cont orange">
                  <span>#ED5828;</span>
                </div>
              </li>
              <li>
                <h5 class="tit">orange-secondary</h5>
                <div class="cont orange-secondary">
                  <span>#FFF2EE</span>
                </div>
              </li>
              <li>
                <h5 class="tit">orange-light</h5>
                <div class="cont orange-light">
                  <span>#F18200</span>
                </div>
              </li>
              <li>
                <h5 class="tit">orange-light-secondary</h5>
                <div class="cont orange-light-secondary">
                  <span>#FFF5E9</span>
                </div>
              </li>
              <li>
                <h5 class="tit">green</h5>
                <div class="cont green">
                  <span>#00B628</span>
                </div>
              </li>
              <li>
                <h5 class="tit">green-secondary</h5>
                <div class="cont green-secondary">
                  <span>#E1FBE1</span>
                </div>
              </li>
              <li>
                <h5 class="tit">mint</h5>
                <div class="cont mint">
                  <span>#15AEB4</span>
                </div>
              </li>
              <li>
                <h5 class="tit">mint-secondary</h5>
                <div class="cont mint-secondary">
                  <span>#E8FAFA</span>
                </div>
              </li>
            </ul>
          </div>
          <p class="component_desc">서브 컬러로 아이콘,뱃지등의 다양한 상태를 표현하기 위한 색상.</p>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Grayscale</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list color_list grayscale">
              <li>
                <h5 class="tit">white</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 50</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 100</h5>
                <div class="cont"> </div>
              </li>
              <li>
                <h5 class="tit">gray 200</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 300</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 400</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 500</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 600</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 700</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 800</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 900</h5>
                <div class="cont"></div>
              </li>
              <li>
                <h5 class="tit">gray 950</h5>
                <div class="cont"></div>
              </li>
            </ul>
          </div>
          <p class="component_desc">
            기본 요소인 텍스트, 라인, 배경 등에 사용.
          </p>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>


</html>