<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>컴포넌트 모음 | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>기타 공통 컴포넌트 모음</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>실적현황 박스</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">Black</h5>
                <div class="cont">
                  <!-- 250117 실적현황 ui 수정 - Black -->
                  <div class="performance_box_wrap club_black">
                    <div class="performance_box">
                      <div class="tit">BLACK</div>
                      <div class="cont">
                        <div class="cont_top">
                          <div class="view_point">
                            <div class="point_list">
                              <em><i class="ico_point_circle primary ico_20"></i>블랙 포인트</em>
                              <span class="point"><em>30,000.5</em>P</span>
                            </div>
                          </div><!-- //.view_point -->
                        </div><!-- //.cont_top -->
                        <div class="view_point">
                          <div class="point_list">
                            <em>발생 포인트</em>
                            <span class="point txt_blue"><em>+32,000.5 </em>P</span>
                          </div>
                          <div class="point_list">
                            <em>사용 포인트</em>
                            <span class="point used"><em>-2,000</em>P</span>
                          </div>
                        </div><!-- //.view_point -->
                      </div>
                    </div><!-- //.performance_box -->
                    <div class="performance_box">
                      <div class="cont">
                        <div class="cont_top">
                          <div class="select_box select_box_defalut">
                            <span class="select_box_arr"></span>
                            <select class="select_box_value" name="" id="">
                              <option value="">2024년 4분기</option>
                              <option value="">2024년 3분기</option>
                              <option value="">2024년 2분기</option>
                              <option value="">2024년 1분기</option>
                            </select>     
                          </div><!-- //.select_box -->
                          <p>단위: 만원</p>
                        </div><!-- //.cont_top -->
                        <ul class="performance_list">
                          <li>
                            <div class="view_point">
                              <div class="point_list">
                                <em>이번 분기 구입금액</em>
                                <span class="point txt_blue"><em>100</em>만원</span>
                              </div>
                              <div class="point_list">
                                <em>포인트를 위한 필요금액</em>
                                <span class="point"><em>300</em>만원</span>
                              </div>
                            </div><!-- //.view_point -->
                          </li>
                          <li>
                            <div class="view_point">
                              <div class="point_list">
                                <em>이번 분기 거래 월수<span>(10만원&nbsp;이상)</span></em>
                                <span class="point txt_blue"><em>1</em>회</span>
                              </div>
                              <div class="point_list">
                                <em>포인트 위한 잔여 거래 월수<span>(10만원&nbsp;이상)</span></em>
                                <span class="point"><em>2</em>회</span>
                              </div>
                            </div><!-- //.view_point -->
                          </li>
                        </ul>
                      </div><!-- //.cont -->
                      <div class="btn_area">
                        <button class="btn btn_primary w_full">BLACK 등급 사은품 선택</button>
                      </div><!-- //.btn_area -->
                    </div><!-- //.performance_box -->
                  </div><!-- //.performance_box_wrap -->
                  <!-- // 250117 실적현황 ui 수정 - Black -->
                  </div><!-- //.cont -->
                </li>
                <li>
                  <h5 class="tit">Purple</h5>
                  <div class="cont">
                    <!-- 250117 실적현황 ui 수정 - Purple -->
                    <div class="performance_box_wrap club_purple">
                      <div class="performance_box">
                        <div class="tit">PURPLE</div>
                        <div class="cont">
                          <div class="cont_top">
                            <div class="select_box select_box_defalut">
                              <span class="select_box_arr"></span>
                              <select class="select_box_value" name="" id="">
                                <option value="">2024년 4분기</option>
                                <option value="">2024년 3분기</option>
                                <option value="">2024년 2분기</option>
                                <option value="">2024년 1분기</option>
                              </select>     
                            </div><!-- //.select_box -->
                            <p>단위: 만원</p>
                          </div><!-- //.cont_top -->
                          <ul class="performance_list">
                            <li>
                              <div class="half_progress_wrap">
                                <div class="half_progress orange">
                                  <div class="left"></div>
                                  <div class="right"><div class="back"></div></div>
                                  <div class="bar_overflow">
                                    <div class="bar"></div>
                                  </div>
                                  <div class="percent">
                                    <p><span class="num">58</span>%</p>
                                  </div>
                                </div><!-- //.half_progress -->
                                <div class="view_point">
                                  <div class="point_list">
                                    <em>이번 분기 구입금액</em>
                                    <span class="point txt_blue"><em>100</em>만원</span>
                                  </div>
                                  <div class="point_list">
                                    <em>포인트를 위한 필요금액</em>
                                    <span class="point"><em>300</em>만원</span>
                                  </div>
                                </div><!-- //.view_point -->
                              </div><!-- //.half_progress_wrap -->
                            </li>
                            <li>
                              <div class="half_progress_wrap">
                                <div class="half_progress orange">
                                  <div class="left"></div>
                                  <div class="right"><div class="back"></div></div>
                                  <div class="bar_overflow">
                                    <div class="bar"></div>
                                  </div>
                                  <div class="percent">
                                    <p><span class="num">100</span>%</p>
                                  </div>
                                </div><!-- //.half_progress -->
                                <div class="view_point">
                                  <div class="point_list">
                                    <em>이번 분기 거래 월수<span>(10만원&nbsp;이상)</span></em>
                                    <span class="point txt_blue"><em>1</em>회</span>
                                  </div>
                                  <div class="point_list">
                                    <em>포인트 위한 잔여 거래 월수<span>(10만원&nbsp;이상)</span></em>
                                    <span class="point"><em>2</em>회</span>
                                  </div>
                                </div><!-- //.view_point -->
                              </div><!-- //.half_progress_wrap -->
                            </li>
                          </ul>
                        </div><!-- //.cont -->
                        <div class="btn_area">
                          <button class="btn btn_primary w_full">PURPLE 등급 사은품 선택</button>
                        </div><!-- //.btn_area -->
                      </div><!-- //.performance_box -->
                    </div><!-- //.performance_box_wrap -->
                    <!-- //250117 실적현황 ui 수정 - Purple -->
                </div>
              </li>
              <li>
                <h5 class="tit">Green</h5>
                <div class="cont">
                  <!-- 250117 실적현황 ui 수정 - Green -->
                  <div class="performance_box_wrap club_green">
                    <div class="performance_box">
                      <div class="tit">GREEN</div>
                      <div class="cont">
                        <div class="cont_top">
                          <div class="select_box select_box_defalut">
                            <span class="select_box_arr"></span>
                            <select class="select_box_value" name="" id="">
                              <option value="">2024년 4분기</option>
                              <option value="">2024년 3분기</option>
                              <option value="">2024년 2분기</option>
                              <option value="">2024년 1분기</option>
                            </select>     
                          </div><!-- //.select_box -->
                          <p>단위: 만원</p>
                        </div><!-- //.cont_top -->
                        <ul class="performance_list">
                          <li>
                            <div class="half_progress_wrap">
                              <div class="half_progress orange">
                                <div class="left"></div>
                                <div class="right"><div class="back"></div></div>
                                <div class="bar_overflow">
                                  <div class="bar"></div>
                                </div>
                                <div class="percent">
                                  <p><span class="num">58</span>%</p>
                                </div>
                              </div><!-- //.half_progress -->
                              <div class="view_point">
                                <div class="point_list">
                                  <em>이번 분기 구입금액</em>
                                  <span class="point txt_blue"><em>100</em>만원</span>
                                </div>
                                <div class="point_list">
                                  <em>포인트를 위한 필요금액</em>
                                  <span class="point"><em>300</em>만원</span>
                                </div>
                              </div><!-- //.view_point -->
                            </div><!-- //.half_progress_wrap -->
                          </li>
                          <li>
                            <div class="half_progress_wrap">
                              <div class="half_progress orange">
                                <div class="left"></div>
                                <div class="right"><div class="back"></div></div>
                                <div class="bar_overflow">
                                  <div class="bar"></div>
                                </div>
                                <div class="percent">
                                  <p><span class="num">100</span>%</p>
                                </div>
                              </div><!-- //.half_progress -->
                              <div class="view_point">
                                <div class="point_list">
                                  <em>이번 분기 거래 월수<span>(10만원&nbsp;이상)</span></em>
                                  <span class="point txt_blue"><em>1</em>회</span>
                                </div>
                                <div class="point_list">
                                  <em>포인트 위한 잔여 거래 월수<span>(10만원&nbsp;이상)</span></em>
                                  <span class="point"><em>2</em>회</span>
                                </div>
                              </div><!-- //.view_point -->
                            </div><!-- //.half_progress_wrap -->
                          </li>
                        </ul>
                      </div><!-- //.cont -->
                      <div class="btn_area">
                        <button class="btn btn_primary w_full">PURPLE 등급 사은품 선택</button>
                      </div><!-- //.btn_area -->
                    </div><!-- //.performance_box -->
                  </div><!-- //.performance_box_wrap -->
                  <!-- //250117 실적현황 ui 수정 - Green -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function () {
          //분기금액 인터렉션
          $(".half_progress").each(function () {
            var analysisType = $(this).find(".aType").text();
            var bar = $(this).find(".bar");
            var val = $(this).find(".num");//퍼센트값
            var per = parseInt(val.text(), 10);
            var $right = $('.right');
            var $back = $('.back');      
            if(per <=45){
              bar.css("border-right-color", "#eeeeee");
            }
            $({ p: 0 }).animate({ p: per }, {
              duration: 3000,
              step: function (p) {
                bar.css({
                  transform: "rotate(" + (15 + (p * 2.4)) + "deg)"
                });
                if(p >=36){
                  bar.css("border-right-color", "transparent");
                }
                if(p >=75){
                  bar.css("border-top-color", "transparent");
                }
                val.text(p | 0);
              }
            }).delay(200);
          });
        })
      </script>
      <!--// pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>리스트</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">Dot List</h5>
                <div class="cont">
                  <ul class="dot_list">
                    <li>접수된 내용은 빠른 시간내 답변을 드리도록 하겠습니다.</li>
                    <li>개인정보 보호를 위하여 최근 30일 이내의 문의내역만 확인 가능합니다.</li>
                  </ul>
                </div>
              </li>
              <li>
                <h5 class="tit">※마크 List</h5>
                <div class="cont">
                  <p class="txt_alert refer_mark">인증 완료 후 기본정보를 저장하시려면 인증 완료 버튼을 반드시 눌러주시기 바랍니다.</p>
                </div>
              </li>
              <li>
                <h5 class="tit">Board List</h5>
                <div class="cont">
                  <section class="board_list_wrap">
                    <div class="inner">
                      <div class="board_list_top">
                        <p class="count"><span><em>6</em>개</span>의 상품이 있습니다.</p>
                        <!-- 옵션값 -->
                        <div class="select_box type3">
                          <div class="select_box_value" data-btmsheet="btmSheet01"><span>전체</span></div>
                          <div class="select_box_list">
                            <ul>
                              <li><span>전체</span></li>
                              <li><span>공지</span></li>
                              <li><span>이벤트</span></li>
                              <li><span>당첨자 발표</span></li>
                            </ul>
                          </div>
                        </div>
                        <!-- //옵션값 -->
                      </div><!-- //.board_list_top -->
                      <ul class="board_list">
                        <li>
                          <a href="#">
                            <span class="date">2024.06.03</span>
                            <strong class="tit">
                              정기교육 리스트 정기교육 리스트 정기교육 리스트 정기교육 리스트 정기교육 리스트                     
                            </strong>
                          </a>
                        </li>
                        <li>
                          <a href="#"> 
                            <div class="board_info">
                              <span class="date">2024.06.03</span>
                              <span class="state">답변대기</span>
                            </div><!-- //.board_info -->
                            <strong class="tit">
                              1:1일 문의내역 리스트 1:1일 문의내역 리스트 1:1일 문의내역 리스트 1:1일 문의내역 리스트 1:1일 문의내역 리스트 
                            </strong>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <div class="board_info">
                              <span class="date">2024.06.03</span>
                              <span class="state txt_blue">답변완료 </span>
                            </div><!-- //.board_info -->
                            <strong class="tit">
                              1:1일 문의내역 리스트 1:1일 문의내역 리스트 1:1일 문의내역 리스트 1:1일 문의내역 리스트 1:1일 문의내역 리스트 
                            </strong>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="date">2024.06.03</span>
                            <strong class="tit">
                              <span class="badge badge_notice">공지</span>
                              공지사항 리스트 공지사항 리스트 공지사항 리스트 공지사항 리스트 공지사항 리스트 공지사항 리스트 
                            </strong>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <span class="date">2024.06.03</span>
                            <strong class="tit">
                              <span class="badge badge_notice">이벤트</span>
                              이벤트 리스트 이벤트 리스트 이벤트 리스트 이벤트 리스트 이벤트 리스트 이벤트 리스트 
                            </strong>
                          </a>
                        </li>
                      </ul>
                      <button class="btn_more">더보기<i class="ico_dropDown point ico_24"></i></button>
                    </div>
                  </section>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>검색 텍스트</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">검색 카테고리</h5>
                <div class="cont">
                  <div class="srch_txt category">
                    <p><em class="match_txt">컬러</em></p>
                    <span class="ico_20 ico_chevNext_20"></span>
                    <p>멋내기 <em class="match_txt">컬러</em></p>
                  </div><!-- //.srch_txt -->
                </div>
              </li>
              <li>
                <h5 class="tit">검색 브랜드</h5>
                <div class="cont">
                  <a href="#" class="list_item srch_brand">
                    <div class="img">
                      <img src="../../resources/images/contents/img_brand_thumb06.png" alt>
                    </div>
                    <div class="srch_txt"><em class="match_txt">컬러</em>루시드</div>
                    <div class="srch_note">브랜드</div>
                  </a><!-- //.srch_brand -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>
</html>