<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Dropdowns(SelectBox) | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Dropdowns (SelectBox)</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Default</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <!-- <h5 class="tit">Primary</h5> -->
                <div class="cont">
                  <div class="select_box">
                    <div class="select_box_value"><span>Select Option</span></div>
                    <div class="select_box_list">
                      <ul>
                        <li><span>Option 1</span></li>
                        <li><span>Option 2</span></li>
                        <li><span>Option 3</span></li>
                        <li><span>Option 4</span></li>
                      </ul>
                    </div>
                  </div><!-- //.select_box -->
                </div>
              </li>
              <li>
                <h5 class="tit">Disabled</h5>
                <div class="cont">
                  <div class="select_box disabled">
                    <div class="select_box_value"><span>Select Option</span></div>
                    <div class="select_box_list">
                      <ul>
                        <li><span>Option 1</span></li>
                        <li><span>Option 2</span></li>
                        <li><span>Option 3</span></li>
                        <li><span>Option 4</span></li>
                      </ul>
                    </div>
                  </div><!-- //.select_box -->
                </div>
              </li>
              <li>
                <h5 class="tit">Disabled</h5>
                <div class="cont">
                  <div class="select_box disabled">
                    <div class="select_box_value"><span>Select Option</span></div>
                    <div class="select_box_list">
                      <ul>
                        <li><span>Option 1</span></li>
                        <li><span>Option 2</span></li>
                        <li><span>Option 3</span></li>
                        <li><span>Option 4</span></li>
                      </ul>
                    </div>
                  </div><!-- //.select_box -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>시스템 Selectbox</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <!-- <h5 class="tit">Primary</h5> -->
                <div class="cont">
                  <div class="select_box select_box_defalut">
                    <span class="select_box_arr"></span>
                    <select class="select_box_value" name="" id="">
                      <option value="">1TA</option>
                      <option value="">2TA</option>
                      <option value="">3TA</option>
                    </select>     
                  </div><!-- //.select_box -->
                </div>
              </li>
              <li>
                <h5 class="tit">Disabled</h5>
                <div class="cont">
                  <div class="select_box select_box_defalut disabled">
                    <span class="select_box_arr"></span>
                    <select class="select_box_value" name="" id="" disabled>
                      <option value="">1TA</option>
                      <option value="">2TA</option>
                      <option value="">3TA</option>
                    </select>     
                  </div><!-- //.select_box -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Type</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">Type 2 (주문)</h5>
                <div class="cont">
                  <div class="select_box type2">
                    <div class="select_box_value"><span>선택</span></div>
                    <div class="select_box_list">
                      <ul>
                        <li><span>선택</span></li>
                      </ul>
                    </div>
                  </div><!-- //.select_box -->
                </div>
              </li>
              <li>
                <h5 class="tit">Type 3 (정렬)</h5>
                <div class="cont">
                  <div class="select_box type3">
                    <div class="select_box_value"><span>이름순</span></div>
                    <div class="select_box_list">
                      <ul>
                        <li><span>이름순</span></li>
                        <li><span>가격순</span></li>
                      </ul>
                    </div>
                  </div><!-- //.select_box -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>
</html>