<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Icons</title>
  <style>
    .guide_contnets{padding: 20px;}
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    .icon_list_items{border:1px solid #ddd;padding: 16px;background-color: #efefef;}
    .icon_list_items + .icon_list_items{margin-top: 16px;}
    .icon_list_items p span{font-size: 14px; color: #777;}
  </style>
</head>

<body>
  <div id="container">
    <!-- contnets -->
    <div class="guide_contnets">
      <h1>커머스 아이콘 (14)</h1>
      <ul class="icon_list_items">
        <li>
          <i class="ico_promotion ico_24"></i>
          <p>ico_promotion</p>
        </li>
        <li>
          <i class="ico_point ico_24"></i>
          <p>ico_point</p>
        </li>
        <li>
          <i class="ico_point_on ico_24"></i>
          <p>ico_point_on</p>
        </li>
        <li>
          <i class="ico_wish ico_24"></i>
          <p>ico_wish</p>
        </li>
        <li>
          <i class="ico_wish_on ico_24"></i>
          <p>ico_wish_on</p>
        </li>
        <li>
          <i class="ico_cart ico_24"></i>
          <p>ico_cart</p>
        </li>
        <li>
          <i class="ico_cart_actionbar ico_24"></i>
          <p>ico_cart_actionbar</p>
        </li>
        <li>
          <i class="ico_cart_float ico_24"></i>
          <p>ico_cart_float</p>
        </li>
        <li>
          <i class="ico_hair_care ico_24"></i>
          <p>ico_hair_care</p>
        </li>
        <li>
          <i class="ico_hair_clinic ico_24"></i>
          <p>ico_hair_clinic</p>
        </li>
        <li>
          <i class="ico_hair_color ico_24"></i>
          <p>ico_hair_color</p>
        </li>
        <li>
          <i class="ico_hair_perm ico_24"></i>
          <p>ico_hair_perm</p>
        </li>
        <li>
          <i class="ico_hair_salonsupport ico_24"></i>
          <p>ico_hair_salonsupport</p>
        </li>
        <li>
          <i class="ico_hair_scalpcare ico_24"></i>
          <p>ico_hair_scalpcare</p>
        </li>
        <li>
          <i class="ico_hair_styling ico_24"></i>
          <p>ico_hair_styling</p>
        </li>
        <li>
          <i class="ico_point_20 ico_20"></i>
          <p>ico_point_20</p>
        </li>
        <li>
          <i class="ico_approval_20 ico_20"></i>
          <p>ico_approval_20</p>
        </li>
        <li>
          <i class="ico_calendar_20 ico_20"></i>
          <p>ico_calendar_20</p>
        </li>
        <li>
          <i class="ico_coupon_20 ico_20"></i>
          <p>ico_coupon_20</p>
        </li>
      </ul>
      <!-- 화살표 아이콘 -->
      <h1> 화살표 아이콘 </h1>
      <ul class="icon_list_items">
        <li>
          <i class="ico_chevPrev_24 ico_24"></i>
          <p>ico_chevPrev_24</p>
        </li>
        <li>
          <i class="ico_chevNext_24 ico_24"></i>
          <p>ico_chevNext_24</p>
        </li>
        <li>
          <i class="ico_chevNext_20 ico_20"></i>
          <p>ico_chevNext_20</p>
        </li>
        <li>
          <i class="ico_chevNext_20_15 ico_20"></i>
          <p>ico_chevNext_20_15 <span>stroke width 1.5</span></p>
        </li>
        <li>
          <i class="ico_chevNext_20_20 ico_20"></i>
          <p>ico_chevNext_20_20 <span>stroke width 2</span></p>
        </li>
        <li>
          <i class="ico_chevNext_16 ico_16"></i>
          <p>ico_chevNext_16</p>
        </li>
        <li>
          <i class="ico_chevUp_24 ico_24"></i>
          <p>ico_chevUp_24</p>
        </li>
        <li>
          <i class="ico_chevUp_24_thick ico_24"></i>
          <p>ico_chevUp_24_thick</p>
        </li>
        <li>
          <i class="ico_chevDown ico_24"></i>
          <p>ico_chevDown</p>
        </li>
        <li>
          <i class="ico_btn_back ico_24"></i>
          <p>ico_btn_back</p>
        </li>
      </ul>
      <!-- UI 아이콘 -->
      <h1>UI 아이콘(20)</h1>
      <ul class="icon_list_items">
        <li>
          <i class="ico_clip ico_24"></i>
          <p>ico_clip</p>
        </li>
        <li>
          <i class="ico_plus_12 ico_12"></i>
          <p>ico_plus_12</p>
        </li>
        <li>
          <i class="ico_plus_20 ico_20"></i>
          <p>ico_plus_20</p>
        </li>
        <li>
          <i class="ico_plus_24 ico_24"></i>
          <p>ico_plus_20</p>
        </li>
        <li>
          <i class="ico_minus_20 ico_20"></i>
          <p>ico_minus_20</p>
        </li>
        <li>
          <i class="ico_minus_24 ico_24"></i>
          <p>ico_minus_24</p>
        </li>
        <li>
          <i class="ico_home ico_24"></i>
          <p>ico_home</p>
        </li>
        <li>
          <i class="ico_home_on ico_24"></i>
          <p>ico_home_on</p>
        </li>
        <li>
          <i class="ico_heart ico_24"></i>
          <p>ico_heart</p>
        </li>
        <li>
          <i class="ico_heart_red ico_24"></i>
          <p>ico_heart_red</p>
        </li>
        <li>
          <i class="ico_search ico_24"></i>
          <p>ico_search</p>
        </li>
        <li>
          <i class="ico_user ico_24"></i>
          <p>ico_user</p>
        </li>              
        <li>
          <i class="ico_user_on ico_24"></i>
          <p>ico_user_on</p>
        </li>              
        <li>
          <i class="ico_cate ico_24"></i>
          <p>ico_cate</p>
        </li>              
        <li>
          <i class="ico_cate_on ico_24"></i>
          <p>ico_cate_on</p>
        </li>              
        <li>
          <i class="ico_close_24 ico_24"></i>
          <p>ico_close_24</p>
        </li>
        <li>
          <i class="ico_close_20 ico_20"></i>
          <p>ico_close_20</p>
        </li>
        <li>
          <i class="ico_close_20_sm ico_20"></i>
          <p>ico_close_20_sm</p>
        </li>
        <li>
          <i class="ico_close_circle ico_24"></i>
          <p>ico_close_circle</p>
        </li>              
        <li>
          <i class="ico_listview_list ico_24"></i>
          <p>ico_listview_list</p>
        </li>              
        <li>
          <i class="ico_listview_thumb ico_24"></i>
          <p>ico_listview_thumb</p>
        </li>              
        <li>
          <i class="ico_masking ico_24"></i>
          <p>ico_masking</p>
        </li>              
        <li>
          <i class="ico_masking_hidden ico_24"></i>
          <p>ico_masking_hidden</p>
        </li>              
        <li>
          <i class="ico_check_60 ico_60"></i>
          <p>ico_check_60</p>
        </li>              
        <li>
          <i class="ico_float_brand ico_24"></i>
          <p>ico_float_brand</p>
        </li>
        <li>
          <i class="ico_float_close ico_24"></i>
          <p>ico_float_close</p>
        </li>
        <li>
          <i class="ico_float_question ico_24"></i>
          <p>ico_float_question</p>
        </li>
        <li>
          <i class="ico_float_store ico_24"></i>
          <p>ico_float_store</p>
        </li>
        <li>
          <i class="ico_float_top ico_24"></i>
          <p>ico_float_top</p>
        </li>
        <li>
          <i class="ico_bnr_line ico_24"></i>
          <p>ico_bnr_line</p>
        </li>
        <li>
          <i class="ico_delete ico_24"></i>
          <p>ico_delete</p>
        </li>
        <li>
          <i class="ico_spinner_up ico_24"></i>
          <p>ico_spinner_up</p>
        </li>
        <li>
          <i class="ico_spinner_down ico_24"></i>
          <p>ico_spinner_down</p>
        </li>
        <li>
          <i class="ico_notice ico_24"></i>
          <p>ico_notice</p>
        </li>
        <li>
          <i class="ico_bell ico_24"></i>
          <p>ico_bell</p>
        </li>
        <li>
          <i class="ico_bell_on ico_24"></i>
          <p>ico_bell_on</p>
        </li>
        <li>
          <i class="ico_speaker ico_24"></i>
          <p>ico_speaker</p>
        </li>
      </ul>
      <!-- 버튼 아이콘 -->
      <h1>버튼 아이콘(5)</h1>
      <ul class="icon_list_items">
        <li>
          <i class="ico_btn_cart ico_16"></i>
          <p>ico_btn_cart</p>
        </li>
        <li>
          <i class="ico_btn_color ico_16"></i>
          <p>ico_btn_color</p>
        </li>
        <li>
          <i class="ico_btn_heart ico_16"></i>
          <p>ico_btn_heart</p>
        </li>
        <li>
          <i class="ico_btn_heart_red ico_16"></i>
          <p>ico_btn_heart_red</p>
        </li>
        <li>
          <i class="ico_btn_view ico_16"></i>
          <p>ico_btn_view</p>
        </li>
      </ul>
    </div><!--// contnets -->
  </div>
</body>
</html>