<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Pagination | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
  <style>
    .swiper-container{padding-bottom: 40px;}
  </style>
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Pagination</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Swiper Pagination</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <!-- <h5 class="tit"></h5> -->
                <div class="cont">
                  <div id="mySwiper" class="swiper swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">slide - 1</div><!-- //.swiper-slide -->
                      <div class="swiper-slide">slide - 2</div><!-- //.swiper-slide -->
                      <div class="swiper-slide">slide - 3</div><!-- //.swiper-slide -->
                      <div class="swiper-slide">slide - 4</div><!-- //.swiper-slide -->
                      <div class="swiper-slide">slide - 5</div><!-- //.swiper-slide -->
                      <div class="swiper-slide">slide - 6</div><!-- //.swiper-slide -->
                    </div><!-- //.swiper-wrapper -->
                    <div class="swiper-pagination"></div>
                  </div><!-- //.swiper-container -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>

  <script>
    var mySwiper01 = new Swiper('#mySwiper', {
      //swiper pagination

      pagination: {
        el: '#mySwiper .swiper-pagination',
        clickable: true
      }
    });
  </script>
</body>
</html>