<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Product List</title>
  <style>
    .guide_contnets{padding: 20px;}
    
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    .guide_contnets h2{font-weight: 700; font-size: 16px; margin: 16px 0;}
  </style>
</head>

<body>
  <div id="container">
      <!-- contnets -->
      <div class="guide_contnets"> 
        <h1>썸네일 리스트</h1>
        <ul class="thumb_list">
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb00.png" alt="컬러">
            </div>
            <em class="img_tit">컬러</em>
          </li>
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb01.png" alt="펌">
            </div>
            <em class="img_tit">펌</em>
          </li>
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb02.png" alt="클리닉">
            </div>
            <em class="img_tit">클리닉</em>
          </li>
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb03.png" alt="살롱 서포트">
            </div>
            <em class="img_tit">살롱 서포트</em>
          </li>
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb04.png" alt="스칼프케어">
            </div>
            <em class="img_tit">스칼프케어</em>
          </li>
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb05.png" alt="헤어케어">
            </div>
            <em class="img_tit">헤어케어</em>
          </li>
          <li>
            <div class="img">
              <img src="../../resources/images/contents/img_prd_thumb06.png" alt="스타일링">
            </div>
            <em class="img_tit">스타일링</em>
          </li>
        </ul>

        <h1>상품 리스트 (썸네일형)</h1>
        <!-- 상품 리스트 -->
        <div class="prd_list_wrap ir"><!-- 상품담기 ir 클래스 사용 -->
          <!-- 썸네일형 -->
          <div class="prd_list_lg">
            <!-- 상품 -->
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_list_lg_01.png" alt="">
                  <span class="badge bg_primary">묶음</span>
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시 퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
            <!-- //상품 -->
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_list_lg_02.png" alt="">
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_list_lg_03.png" alt="">
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_list_lg_04.png" alt="">
                  <span class="badge bg_primary">묶음</span>
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
          </div>
          <!-- //썸네일형 -->
        </div>
        <!-- //상품 리스트 -->

        <h1>상품 리스트 (컬러칩)</h1>
        <!-- 상품 리스트 -->
        <div class="prd_list_wrap ir"><!-- 상품담기 ir 클래스 사용 -->
          <!-- 리스트형 -->
          <div class="prd_list_sm">
            <!-- 상품 -->
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_color_type01.png" alt="">
                  <span class="badge bg_primary">묶음</span>
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시 퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
            <!-- //상품 -->
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_color_type02.png" alt="">
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_color_type03.png" alt="">
                </div>
                <div class="info">
                  <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                  <span class="amount">500ml</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
              </div>
            </div>
          </div>
          <!-- 리스트형 -->
        </div>
        <!-- //상품 리스트 -->
        <h1>상품 리스트 (컬러칩)</h1>
        <div class="prd_list_sm xs">
          <!-- 상품 -->
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type01.png" alt="">
                <span class="badge bg_primary">묶음</span>
              </div>
              <div class="info">
                <strong class="tit">상품 코드 - 상품 상세 컬러 정보 더스티 브라운 시에나 오렌지 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">5DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <!-- //상품 -->
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type02.png" alt="">
              </div>
              <div class="info">
                <strong class="tit">3WB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">6DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type03.png" alt="">
              </div>
              <div class="info">
                <strong class="tit">5WB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">7DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type04.png" alt="">
                <span class="badge bg_primary">묶음</span>
              </div>
              <div class="info">
                <strong class="tit">6WB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">8DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type01.png" alt="">
                <span class="badge bg_primary">묶음</span>
              </div>
              <div class="info">
                <strong class="tit">9TB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">6DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type02.png" alt="">
              </div>
              <div class="info">
                <strong class="tit">5WB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">7DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type04.png" alt="">
                <span class="badge bg_primary">묶음</span>
              </div>
              <div class="info">
                <strong class="tit">6WB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">8DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
          <div class="prd_box">
            <div class="prd">
              <div class="img">
                <img src="../../resources/images/contents/img_color_type01.png" alt="">
                <span class="badge bg_primary">묶음</span>
              </div>
              <div class="info">
                <strong class="tit">9TB - 웜 브라운</strong>
                <span class="amount">500ml</span>
                <div class="price">
                  <em>27,500</em><span>원</span>
                </div>
                <div class="color_num">5DB</div>
              </div>
            </div>
            <div class="bottom">
              <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
              <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
            </div>
          </div>
        </div>
        <br>
        <h1>컬러 상품 리스트</h1>
        <div class="prd_list_wrap">
          <div class="prd_list_lg">
            <div class="prd_box">
              <div class="prd">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                </div>
                <div class="info">
                  <strong class="tit">잇츠 글로우</strong>
                  <span class="amount">500ml</span>
                  <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>11.80 - 내추럴 블루바이올렛</span>
                  <div class="price">
                    <em>27,500</em><span>원</span>
                  </div>
                </div>
              </div>
              <div class="bottom">
                <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
              </div>
            </div><!-- //.prd_box -->
          </div>
        </div>

        <h1>스와이퍼 리스트</h1>
        <section class="sec_product is_noBack">
          <div class="inner">
            <div class="tit_area">
              <h2>최근 구매한 상품<a href="#" class="ico_chevNext_24 ico_24"></a></h2>
            </div>
          </div><!-- //.inner -->
          <div class="prd_list_wrap swiper swiper-container">
            <div class="prd_list_lg swiper-wrapper">
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_01.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">잇츠 그로우</strong>
                    <span class="amount">80g</span>
                    <div class="price">
                      <em>7,500</em><span>원</span>
                    </div>
                  </div><!-- //.info --> 
                </div><!-- //.prd -->
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div><!-- //.bottom -->
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_02.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                    <span class="amount">500ml</span>
                    <div class="price">
                      <em>27,500</em><span>원</span>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div>
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_03.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">잇츠 글로우 프레시</strong>
                    <span class="amount">500ml</span>
                    <div class="price">
                      <em>27,500</em><span>원</span>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div>
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_04.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">퓨어스마트 샴푸 프레시 퓨어스마트 샴푸 프레시</strong>
                    <span class="amount">500ml</span>
                    <div class="price">
                      <em>27,500</em><span>원</span>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div>
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_01.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">잇츠 그로우</strong>
                    <span class="amount">80g</span>
                    <div class="price">
                      <em>7,500</em><span>원</span>
                    </div>
                  </div><!-- //.info --> 
                </div><!-- //.prd -->
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div><!-- //.bottom -->
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_02.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                    <span class="amount">500ml</span>
                    <div class="price">
                      <em>27,500</em><span>원</span>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div>
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_03.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">잇츠 글로우 프레시</strong>
                    <span class="amount">500ml</span>
                    <div class="price">
                      <em>27,500</em><span>원</span>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div>
              </div><!-- //.prd_box -->
              <div class="prd_box swiper-slide">
                <div class="prd">
                  <div class="img">
                    <img src="../../resources/images/contents/img_prd_list_lg_04.png" alt="">
                  </div>
                  <div class="info">
                    <strong class="tit">퓨어스마트 샴푸 프레시 퓨어스마트 샴푸 프레시</strong>
                    <span class="amount">500ml</span>
                    <div class="price">
                      <em>27,500</em><span>원</span>
                    </div>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                  <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                </div>
              </div><!-- //.prd_box -->
              <div class="prd_more prd_box swiper-slide">
                <a href="#"><i class="ico_plus_20 ico_20"></i><span>더보기</span></a>
              </div><!-- //.prd_box -->
            </div><!-- //.swiper-wrapper -->
            <div class="swiper-pagination"></div>
          </div><!-- //.swiper-container -->
        </section><!-- //.sec_product.is_noBack -->

      </div>
      <!--// contnets -->
  </div>
</body>
</html>