<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Product List | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Product List</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>사은품몰 상품 UI</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit"> </h5>
                <div class="cont">
                  <!-- 상품 리스트 -->
                  <div class="prd_list_wrap ir"><!-- 상품담기 ir 클래스 사용 -->
                    <div class="prd_list_lg">
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_prd_list_lg_10.png" alt="">
                          </div><!-- //.img -->
                          <div class="info">
                            <strong class="tit">살롱 마스터 프렙 샴푸</strong>
                            <span class="detail">헤어 고민 부위를 쉽고 간편하게 커버</span>
                            <span class="amount">1000g</span>
                            <div class="price"><em>10,000</em><span>원</span></div>
                          </div><!-- //.info -->
                        </div><!-- //.prd -->
                        <div class="bottom">
                          1EA
                          <div class="spinner">
                            <button type="button" class="btn_spinner_down" disabled=""><div class="hide">감소</div></button>
                            <input type="text" class="input_spinner" value="0" disabled="">
                            <button type="button" class="btn_spinner_up"><div class="hide">증가</div></button>
                          </div>
                        </div><!-- //.bottom -->
                      </div><!-- //.prd_box -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_prd_list_lg_10.png" alt="">
                          </div><!-- //.img -->
                          <div class="info">
                            <strong class="tit">살롱 마스터 프렙 샴푸</strong>
                            <span class="detail">헤어 고민 부위를 쉽고 간편하게 커버</span>
                            <span class="amount">1000g</span>
                            <div class="price"><em>10,000</em><span>원</span></div>
                          </div><!-- //.info -->
                        </div><!-- //.prd -->
                        <div class="bottom">
                          1EA
                          <div class="spinner">
                            <button type="button" class="btn_spinner_down" disabled=""><div class="hide">감소</div></button>
                            <input type="text" class="input_spinner" value="0" disabled="">
                            <button type="button" class="btn_spinner_up"><div class="hide">증가</div></button>
                          </div>
                        </div><!-- //.bottom -->
                      </div><!-- //.prd_box -->
                    </div><!-- //.prd_list_lg -->
                  </div><!-- //.prd_list_wrap -->
                  <!-- //상품 리스트 -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>상품별 상품 UI (썸네일 형)</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">기본 상품 / 묶음 상품 / 컬러칩 상품 / 프로모션 상품(검색,슬라이드 등에서) </h5>
                <div class="cont">
                  <!-- 상품 리스트 -->
                  <div class="prd_list_wrap ir"><!-- 상품담기 ir 클래스 사용 -->
                    <div class="prd_list_lg">
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_prd_list_lg_10.png" alt="">
                          </div><!-- //.img -->
                          <div class="info">
                            <strong class="tit">살롱 마스터 프렙 샴푸</strong>
                            <span class="detail">헤어 고민 부위를 쉽고 간편하게 커버</span>
                            <span class="amount">1000g</span>
                            <div class="price"><em>10,000</em><span>원</span></div>
                          </div><!-- //.info -->
                        </div><!-- //.prd -->
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div><!-- //.bottom -->
                      </div><!-- //.prd_box -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_prd_list_lg_15.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div><!-- //.img -->
                          <div class="info">
                            <strong class="tit">아미노 매직세팅폼</strong>
                            <span class="detail">매직세팅 열펌제 (1제+2제)</span>
                            <span class="amount">400ml(1제) / 500ml(2제)</span>
                            <div class="price"><em>12,000</em><span>원</span></div>
                          </div><!-- //.info -->
                        </div><!-- //.prd -->
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div><!-- //.bottom -->
                      </div><!-- //.prd_box -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type04.png" alt="">
                          </div><!-- //.img -->
                          <div class="info">
                            <strong class="tit">잇츠 클로우 (네츄럴 브라운,7NB)</strong>
                            <span class="detail"><img src="../../resources/images/@sample_colorchip.png" alt="">7NB</span>
                            <span class="amount">80ml</span>
                            <div class="price"><em>8,000</em><span>원</span></div>
                          </div><!-- //.info -->
                        </div><!-- //.prd -->
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div><!-- //.bottom -->
                      </div><!-- //.prd_box -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_prd_list_lg_01.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <!-- 검색페이지만 해당 info안 badge 영역 필요(없을시 문구, badge_promotion 클래스 삭제) -->
                            <span class="badge badge_promotion">프로모션</span>
                            <strong class="tit">검색에서 높이값 잡힘 검색에서 높이값 잡힘 검색에서 높이값 잡힘</strong>
                            <span class="detail">강력한 비듬 케어 효과와 개운한 세정력으로 미세먼지부터 각질까지 케어해주는 두피 청정 샴푸</span>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div><!-- //.prd_box -->
                      <div class="prd_box prd_more">
                        <a href="#"><i class="ico_plus_20 ico_20"></i><span>더보기</span></a>
                      </div><!-- //.prd_box -->
                    </div><!-- //.prd_list_lg -->
                  </div><!-- //.prd_list_wrap -->
                  <!-- //상품 리스트 -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>컬러칩 상품</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">컬러칩 - 리스트 형</h5>
                <div class="cont">
                  <!-- 상품 리스트 -->
                  <div class="prd_list_wrap ir"><!-- 상품담기 ir 클래스 사용 -->
                    <!-- 리스트형 -->
                    <div class="prd_list_sm">
                      <!-- 상품 -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type01.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <strong class="tit">퓨어스마트 샴푸 프레시 퓨어스마트 샴푸 프레시</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <!-- //상품 -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type02.png" alt="">
                          </div>
                          <div class="info">
                            <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type03.png" alt="">
                          </div>
                          <div class="info">
                            <strong class="tit">퓨어스마트 샴푸 프레시</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <button class="btn_more">더보기<i class="ico_dropDown point ico_24"></i></button>
                    </div><!-- //.prd_list_sm -->
                    <!-- 리스트형 -->
                  </div><!-- //.prd_list_wrap -->
                  <!-- //상품 리스트 -->
                </div>
              </li>
              <li>
                <h5 class="tit">컬러칩 - 썸네일 형</h5>
                <div class="cont">
                  <!-- 상품 리스트 -->
                  <div class="prd_list_wrap ir"><!-- 상품담기 ir 클래스 사용 -->
                    <div class="prd_list_sm xs">
                      <!-- 상품 -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type01.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <strong class="tit">상품 코드 - 상품 상세 컬러 정보 더스티 브라운 시에나 오렌지 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">5DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <!-- //상품 -->
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type02.png" alt="">
                          </div>
                          <div class="info">
                            <strong class="tit">3WB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">6DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type03.png" alt="">
                          </div>
                          <div class="info">
                            <strong class="tit">5WB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">7DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type04.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <strong class="tit">6WB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">8DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type01.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <strong class="tit">9TB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">6DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type02.png" alt="">
                          </div>
                          <div class="info">
                            <strong class="tit">5WB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">7DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type04.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <strong class="tit">6WB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">8DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <div class="prd_box">
                        <div class="prd">
                          <div class="img">
                            <img src="../../resources/images/contents/img_color_type01.png" alt="">
                            <span class="badge bg_primary">묶음</span>
                          </div>
                          <div class="info">
                            <strong class="tit">9TB - 웜 브라운</strong>
                            <span class="amount">500ml</span>
                            <div class="price">
                              <em>27,500</em><span>원</span>
                            </div>
                            <div class="color_num">5DB</div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          <a href="#" class="btn_icon with_txt"><i class="ico_btn_view ico_16"></i>상세보기</a>
                        </div>
                      </div>
                      <button class="btn_more">더보기<i class="ico_dropDown point ico_24"></i></button>
                    </div><!-- //.prd_list_sm -->
                  </div><!-- //.prd_list_wrap -->
                  <!-- //상품 리스트 -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>스와이퍼 리스트</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">배경 없음</h5>
                <div class="cont">
                  <section class="sec_product is_noBack">
                    <div class="prd_list_wrap swiper swiper-container">
                      <div class="prd_list_lg swiper-wrapper">
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 </strong>
                              <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>간략 상품설명 간략 상품설명간략 상품설명간략 상품설명간략 상품설명간략 상품설명</span>
                              <span class="amount">용량 g, ml</span>
                              <div class="price"><em>27,500</em><span>원</span></div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_color"><i class="ico_btn_color ico_16"></i>+36</button>
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          </div>
                        </div>
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 </strong>
                              <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>간략 상품설명 간략 상품설명간략 상품설명간략 상품설명간략 상품설명간략 상품설명</span>
                              <span class="amount">용량 g, ml</span>
                              <div class="price"><em>27,500</em><span>원</span></div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_color"><i class="ico_btn_color ico_16"></i>+36</button>
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          </div>
                        </div>
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 </strong>
                              <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>간략 상품설명 간략 상품설명간략 상품설명간략 상품설명간략 상품설명간략 상품설명</span>
                              <span class="amount">용량 g, ml</span>
                              <div class="price"><em>27,500</em><span>원</span></div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_color"><i class="ico_btn_color ico_16"></i>+36</button>
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          </div>
                        </div>
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 </strong>
                              <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>간략 상품설명 간략 상품설명간략 상품설명간략 상품설명간략 상품설명간략 상품설명</span>
                              <span class="amount">용량 g, ml</span>
                              <div class="price"><em>27,500</em><span>원</span></div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_color"><i class="ico_btn_color ico_16"></i>+36</button>
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          </div>
                        </div>
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 </strong>
                              <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>간략 상품설명 간략 상품설명간략 상품설명간략 상품설명간략 상품설명간략 상품설명</span>
                              <span class="amount">용량 g, ml</span>
                              <div class="price"><em>27,500</em><span>원</span></div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_color"><i class="ico_btn_color ico_16"></i>+36</button>
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          </div>
                        </div>
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_05.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 상품명 </strong>
                              <span class="colorchip"><img src="../../resources/images/@sample_colorchip.png" alt>간략 상품설명 간략 상품설명간략 상품설명간략 상품설명간략 상품설명간략 상품설명</span>
                              <span class="amount">용량 g, ml</span>
                              <div class="price"><em>27,500</em><span>원</span></div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_color"><i class="ico_btn_color ico_16"></i>+36</button>
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                          </div>
                        </div>
                        <div class="prd_more prd_box swiper-slide">
                          <a href="#"><i class="ico_plus_20 ico_20"></i><span>더보기</span></a>
                        </div><!-- //.prd_box -->
                      </div><!-- //.swiper-wrapper -->
                      <div class="swiper-pagination"></div>
                    </div><!-- //.swiper-container -->
                  </section><!-- //.sec_product.is_noBack -->
                </div>
              </li>
              <li>
                <h5 class="tit">배경 있음</h5>
                <div class="cont">
                  <section class="sec_product">
                    <div class="prd_list_wrap swiper swiper-container">
                      <div class="prd_list_lg swiper-wrapper">
                        <!-- 20개까지 노출이후 전체보기 버튼 -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_13.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div><!-- //.info --> 
                          </div><!-- //.prd -->
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div><!-- //.bottom -->
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_14.png" alt="">
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div>
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_15.png" alt="">
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div>
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_14.png" alt="">
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div>
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_13.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div><!-- //.info --> 
                          </div><!-- //.prd -->
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div><!-- //.bottom -->
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_15.png" alt="">
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div>
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_14.png" alt="">
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div>
                          </div>
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div>
                        </div><!-- //.prd_box -->
                        <div class="prd_box swiper-slide">
                          <div class="prd">
                            <div class="img">
                              <img src="../../resources/images/contents/img_prd_list_lg_13.png" alt="">
                              <span class="badge bg_primary">묶음</span>
                            </div>
                            <div class="info">
                              <strong class="tit">아미노 매직셋팅펌</strong>
                              <span class="detail">건강하고 탄력적인 스타일을 연출</span>
                              <span class="amount">400ml(1제) / 500ml(2제)</span>
                              <div class="price">
                                <em>7,500</em><span>원</span>
                              </div>
                            </div><!-- //.info --> 
                          </div><!-- //.prd -->
                          <div class="bottom">
                            <button class="btn_icon btn_like" onclick="like(this);"><i class="ico_btn_heart ico_16"></i></button>
                            <a href="#" class="btn_icon"><i class="ico_btn_cart ico_16"></i></a>
                          </div><!-- //.bottom -->
                        </div><!-- //.prd_box -->
                        <div class="prd_more prd_box swiper-slide">
                          <a href="#"><i class="ico_plus_20 ico_20"></i><span>더보기</span></a>
                        </div><!-- //.prd_box -->
                      </div><!-- //.swiper-wrapper -->
                      <div class="swiper-pagination"></div>
                    </div><!-- //.swiper-container -->
                  </section><!-- //.sec_product -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>
</html>