<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Product List</title>
  <style>
    .guide_contnets{padding: 20px;}
    
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    .guide_contnets h2{font-weight: 700; font-size: 16px; margin: 16px 0;}
  </style>
</head>

<body>
  <div id="container">
      <!-- contnets -->
      <div class="guide_contnets"> 

      </div>
      <!--// contnets -->
  </div>
</body>
</html>