<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Tabs</title>
  <style>
    .guide_contnets{padding: 20px;}
    
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    .guide_contnets h2{font-weight: 700; font-size: 16px; margin: 16px 0;}
    .guide_tab{width: 375px;}
  </style>
</head>

<body>
  <div id="container">
    <!-- contnets -->
    <div class="guide_contnets">
      <div class="guide_tab">

        <h1>라인탭 type1 (스크롤x, 100%)</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_menu line_tab">
          <ul>
            <li class="current tab_list" data-tab="tab2-1"><button>선택된 메뉴</button></li>
            <li class="tab_list" data-tab="tab2-2"><button>비활성 메뉴</button></li>
            <li class="tab_list" data-tab="tab2-3"><button> 비활성 메뉴 긴 텍스트 비활성 메뉴 긴 텍스트</button></li>
          </ul>
          <div class="tab_bar"></div>
        </div>
        <!-- 탭 내용 -->
        <div class="tab_cont">
          <div id="tab2-1" class="tab_cont_item current">
            tab1 <br>
            ...
          </div>
          <div id="tab2-2" class="tab_cont_item">
            tab2 <br>
            ...
          </div>
          <div id="tab2-3" class="tab_cont_item">
            tab3 <br>
            ...
          </div>
        </div><!-- //tab_cont -->
        <!-- //fix_tab_wrap -->

        <h1>라인탭 type2 (스크롤O, 100%)</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_menu line_tab is_scroll">
          <ul>
            <li class="current tab_list" data-tab="tab4-1"><button>선택된 메뉴</button></li>
            <li class="tab_list" data-tab="tab4-2"><button>비활성 메뉴</button></li>
            <li class="tab_list" data-tab="tab4-3"><button>비활성 메뉴 긴 텍스트</button></li>
            <li class="tab_list" data-tab="tab4-4"><button>비활성 메뉴</button></li>
            <li class="tab_list" data-tab="tab4-5"><button>비활성 메뉴</button></li>
          </ul>
          <div class="tab_bar"></div>
        </div>
        <!-- 탭 내용 -->
        <div class="tab_cont">
          <div id="tab4-1" class="tab_cont_item current">
            tab1 <br>
            ...
          </div>
          <div id="tab4-2" class="tab_cont_item">
            tab2 <br>
            ...
          </div>
          <div id="tab4-3" class="tab_cont_item">
            tab3 <br>
            ...
          </div>
          <div id="tab4-4" class="tab_cont_item">
            tab3 <br>
            ...
          </div>
          <div id="tab4-5" class="tab_cont_item">
            tab3 <br>
            ...
          </div>
        </div><!-- //tab_cont -->

        <h1>라인탭 type3 (가운데 정렬)</h1>
        <div class="tab_center_wrap">
          <!-- 탭 메뉴 -->
          <div class="tab_menu tab_center">
            <ul>
              <li class="current tab_list" data-tab="tab4-11"><button>선택된 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-22"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-33"><button>비활성 메뉴 긴 텍스트</button></li>
              <li class="tab_list" data-tab="tab4-44"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-55"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-66"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-77"><button>비활성 메뉴</button></li>
            </ul>
            <!-- <div class="tab_bar"></div> -->
          </div>
          <!-- 탭 내용 -->
          <div class="tab_cont">
            <div id="tab4-11" class="tab_cont_item current">
              tab1 <br>
              ...
            </div>
            <div id="tab4-22" class="tab_cont_item">
              tab2 <br>
              ...
            </div>
            <div id="tab4-33" class="tab_cont_item">
              tab3 <br>
              ...
            </div>
            <div id="tab4-44" class="tab_cont_item">
              tab4 <br>
              ...
            </div>
            <div id="tab4-55" class="tab_cont_item">
              tab5 <br>
              ...
            </div>
            <div id="tab4-66" class="tab_cont_item">
              tab6 <br>
              ...
            </div>
            <div id="tab4-77" class="tab_cont_item">
              tab7 <br>
              ...
            </div>
          </div><!-- //tab_cont -->
        </div>

        <h1>컨테인드 탭</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_menu contain_tab">
          <ul>
            <li class="current tab_list" data-tab="tab5-1"><button>전체보기</button></li>
            <li class="tab_list" data-tab="tab5-2"><button>탈모 케어</button></li>
            <li class="tab_list" data-tab="tab5-3"><button>비듬 케어</button></li>
            <li class="tab_list" data-tab="tab5-4"><button>비듬 케어</button></li>
            <li class="tab_list" data-tab="tab5-5"><button>비듬 케어</button></li>
          </ul>
        </div>
        <!-- 탭 내용 -->
        <div class="tab_cont">
          <div id="tab5-1" class="tab_cont_item current">
            tab1 <br>...
          </div>
          <div id="tab5-2" class="tab_cont_item">
            tab2 <br>...
          </div>
          <div id="tab5-3" class="tab_cont_item">
            tab3 <br>...
          </div>
          <div id="tab5-4" class="tab_cont_item">
            tab4 <br>...
          </div>
          <div id="tab5-5" class="tab_cont_item">
            tab5 <br>...
          </div>
        </div><!-- //tab_cont -->

        <h1>컨테인드 탭 (가운데 정렬)</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_center_wrap">
          <div class="tab_menu contain_tab tab_center">
            <ul>
              <li class="current tab_list" data-tab="tab5-11"><button>전체보기</button></li>
              <li class="tab_list" data-tab="tab5-22"><button>탈모 케어</button></li>
              <li class="tab_list" data-tab="tab5-33"><button>비듬 케어</button></li>
              <li class="tab_list" data-tab="tab5-44"><button>비듬 케어</button></li>
              <li class="tab_list" data-tab="tab5-55"><button>비듬 케어</button></li>
            </ul>
          </div>
          <!-- 탭 내용 -->
          <div class="tab_cont">
            <div id="tab5-11" class="tab_cont_item current">
              tab1 <br>...
            </div>
            <div id="tab5-22" class="tab_cont_item">
              tab2 <br>...
            </div>
            <div id="tab5-33" class="tab_cont_item">
              tab3 <br>...
            </div>
            <div id="tab5-44" class="tab_cont_item">
              tab4 <br>...
            </div>
            <div id="tab5-55" class="tab_cont_item">
              tab5 <br>...
            </div>
          </div><!-- //tab_cont -->
        </div>
        
      </div><!-- //guide_tab -->
    </div><!--// contnets -->
  </div>
</body>

</html>