<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Tabs</title>
  <style>
    .guide_contnets{padding: 20px;}
    
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    .guide_contnets h2{font-weight: 700; font-size: 16px; margin: 16px 0;}
    /* .guide_tab{width: 375px;} */
  </style>
</head>

<body>
  <div id="container">
    <!-- contnets -->
    <div class="guide_contnets">
      <div class="guide_tab">
        <h1 style="font-size: 20px;">.tab_menu + .tab_center = 클릭 가운데</h1>
        <br><br><br><br>
        <h1>라인탭 type1 (스크롤x, 100%)</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_menu line_tab">
          <ul>
            <li class="current tab_list" data-tab="tab2-1"><button>선택된 메뉴</button></li>
            <li class="tab_list" data-tab="tab2-2"><button>비활성 메뉴</button></li>
            <li class="tab_list" data-tab="tab2-3"><button> 비활성 메뉴 긴 텍스트 비활성 메뉴 긴 텍스트</button></li>
          </ul>
          <div class="tab_bar"></div>
        </div>
        <!-- 탭 내용 -->
        <div class="tab_cont">
          <div id="tab2-1" class="tab_cont_item current">
            tab1 <br>
            ...
          </div>
          <div id="tab2-2" class="tab_cont_item">
            tab2 <br>
            ...
          </div>
          <div id="tab2-3" class="tab_cont_item">
            tab3 <br>
            ...
          </div>
        </div><!-- //tab_cont -->

        <h1>선택값 탭(스크롤) - 검색 태그, 필터값</h1>
        <div class="tab_selected_wrap">
          <div class="tab_menu round_tab is_scroll">
            <ul>
              <li class="current tab_list"><a href="#">조회조건 01<button class="btn_delete type_x"></button></a></li>
              <li class="tab_list"><a href="#">조회조건 02<button class="btn_delete type_x"></button></a></li>
              <li class="tab_list"><a href="#">조회조건 03<button c lass="btn_delete type_x"></button></a></li>
              <li class="tab_list"><a href="#">조회조건 04<button class="btn_delete type_x"></button></a></li>
              <li class="tab_list"><a href="#">조회조건 05<button class="btn_delete type_x"></button></a></li>
            </ul>
          </div>
        </div>

        <h1>라인탭 type3 (가운데 정렬)</h1>
        <div class="tab_center_wrap">
          <!-- 탭 메뉴 -->
          <div class="tab_menu tab_center line"><!-- line 있을시 line 클래스 추가 -->
            <ul>
              <li class="current tab_list" data-tab="tab4-11"><button>선택된 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-22"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-33"><button>비활성 메뉴 긴 텍스트</button></li>
              <li class="tab_list" data-tab="tab4-44"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-55"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-66"><button>비활성 메뉴</button></li>
              <li class="tab_list" data-tab="tab4-77"><button>비활성 메뉴</button></li>
            </ul>
            <!-- <div class="tab_bar"></div> -->
          </div>
          <!-- 탭 내용 -->
          <div class="tab_cont">
            <div id="tab4-11" class="tab_cont_item current">
              tab1 <br>
              ...
            </div>
            <div id="tab4-22" class="tab_cont_item">
              tab2 <br>
              ...
            </div>
            <div id="tab4-33" class="tab_cont_item">
              tab3 <br>
              ...
            </div>
            <div id="tab4-44" class="tab_cont_item">
              tab4 <br>
              ...
            </div>
            <div id="tab4-55" class="tab_cont_item">
              tab5 <br>
              ...
            </div>
            <div id="tab4-66" class="tab_cont_item">
              tab6 <br>
              ...
            </div>
            <div id="tab4-77" class="tab_cont_item">
              tab7 <br>
              ...
            </div>
          </div><!-- //tab_cont -->
        </div>
        <br/>
        <h1>라인탭 type Appbar in Header</h1>
        <div class="tab_center_wrap appbar_tabmenu">
          <div class="tab_menu tab_center line">
            <ul>
            <li class="current tab_list"><button>상품구매</button></li>
            <li class="tab_list"><button>거래원장</button></li>
            <li class="tab_list"><button>정기교육</button></li>
            <li class="tab_list"><button>이벤트</button></li>
            <li class="tab_list"><button>고객센터</button></li>
            </ul>
          </div>
        </div><!-- //.tab_center_wrap -->
        <br/>
        <h1>컨테인 탭</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_menu contain_tab">
          <ul>
            <li class="current tab_list" data-tab="tab5-1"><button>전체보기</button></li>
            <li class="tab_list" data-tab="tab5-2"><button>탈모 케어</button></li>
            <li class="tab_list" data-tab="tab5-3"><button>비듬 케어</button></li>
            <li class="tab_list" data-tab="tab5-4"><button>비듬 케어</button></li>
            <li class="tab_list" data-tab="tab5-5"><button>비듬 케어</button></li>
          </ul>
        </div>
        <!-- 탭 내용 -->
        <div class="tab_cont">
          <div id="tab5-1" class="tab_cont_item current">
            tab1 <br>...
          </div>
          <div id="tab5-2" class="tab_cont_item">
            tab2 <br>...
          </div>
          <div id="tab5-3" class="tab_cont_item">
            tab3 <br>...
          </div>
          <div id="tab5-4" class="tab_cont_item">
            tab4 <br>...
          </div>
          <div id="tab5-5" class="tab_cont_item">
            tab5 <br>...
          </div>
        </div><!-- //tab_cont -->

        <h1>컨테인 탭 (가운데 정렬)</h1>
        <!-- 탭 메뉴 -->
        <div class="tab_center_wrap">
          <!-- type1 -->
          <div class="tab_menu contain_tab tab_center">
            <ul>
              <li class="current tab_list" data-tab="tab5-11"><button>전체보기</button></li>
              <li class="tab_list" data-tab="tab5-22"><button>탈모 케어</button></li>
              <li class="tab_list" data-tab="tab5-33"><button>비듬 케어</button></li>
              <li class="tab_list" data-tab="tab5-44"><button>비듬 케어</button></li>
              <li class="tab_list" data-tab="tab5-55"><button>비듬 케어</button></li>
            </ul>
          </div>
          <!-- 탭 내용 -->
          <div class="tab_cont">
            <div id="tab5-11" class="tab_cont_item current">
              tab1 <br>...
            </div>
            <div id="tab5-22" class="tab_cont_item">
              tab2 <br>...
            </div>
            <div id="tab5-33" class="tab_cont_item">
              tab3 <br>...
            </div>
            <div id="tab5-44" class="tab_cont_item">
              tab4 <br>...
            </div>
            <div id="tab5-55" class="tab_cont_item">
              tab5 <br>...
            </div>
          </div><!-- //tab_cont -->

          <!-- type2 -->
          <!-- 탭 메뉴 -->
          <div class="tab_menu contain_tab contain_tab_type2 tab_center">
            <ul>
              <li class="current tab_list" data-tab="tab51-1"><button>전체보기</button></li>
              <li class="tab_list" data-tab="tab51-2"><button>탈모 케어</button></li>
              <li class="tab_list" data-tab="tab51-3"><button>비듬 케어</button></li>
              <li class="tab_list" data-tab="tab51-4"><button>비듬 케어</button></li>
              <li class="tab_list" data-tab="tab51-5"><button>비듬 케어</button></li>
            </ul>
          </div>
          <!-- 탭 내용 -->
          <div class="tab_cont">
            <div id="tab51-1" class="tab_cont_item current">
              tab1 <br>...
            </div>
            <div id="tab51-2" class="tab_cont_item">
              tab2 <br>...
            </div>
            <div id="tab51-3" class="tab_cont_item">
              tab3 <br>...
            </div>
            <div id="tab51-4" class="tab_cont_item">
              tab4 <br>...
            </div>
            <div id="tab51-5" class="tab_cont_item">
              tab5 <br>...
            </div>
          </div><!-- //tab_cont -->
        </div>

        <h1>썸네일 탭 (가운데 정렬)</h1>
        <!-- 썸네일 탭 -->
        <div class="tab_center_wrap">
          <div class="tab_menu tab_center thumb_tab">
            <ul class="thumb_list">
              <li class="current tab_list" data-tab="tab1-00">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb00.png" alt="컬러">
                </div>
                <em class="img_tit">컬러</em>
              </li>
              <li class="tab_list" data-tab="tab1-11">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb01.png" alt="펌">
                </div>
                <em class="img_tit">펌</em>
              </li>
              <li class="tab_list" data-tab="tab1-22">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb02.png" alt="클리닉">
                </div>
                <em class="img_tit">클리닉</em>
              </li>
              <li class="tab_list" data-tab="tab1-33">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb03.png" alt="살롱 서포트">
                </div>
                <em class="img_tit">살롱 서포트</em>
              </li>
              <li class="tab_list" data-tab="tab1-44">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb04.png" alt="스칼프케어">
                </div>
                <em class="img_tit">스칼프케어</em>
              </li>
              <li class="tab_list" data-tab="tab1-55">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb05.png" alt="헤어케어">
                </div>
                <em class="img_tit">헤어케어</em>
              </li>
              <li class="tab_list" data-tab="tab1-66">
                <div class="img">
                  <img src="../../resources/images/contents/img_prd_thumb06.png" alt="스타일링">
                </div>
                <em class="img_tit">스타일링</em>
              </li>
            </ul>
          </div>
        </div>
        <!-- //썸네일 탭 -->

        <h1>라운드 탭</h1>
        <div class="tab_center_wrap">
          <div class="tab_menu round_tab tab_center">
            <ul>
              <li class="current tab_list"><button>전체</button></li>
              <li class="tab_list"><button>컬러</button></li>
              <li class="tab_list"><button>펌</button></li>
              <li class="tab_list"><button>클리닉</button></li>
              <li class="tab_list"><button>살롱 서포트</button></li>
              <li class="tab_list"><button>헤어 케어</button></li>
              <li class="tab_list"><button>스타일링</button></li>
            </ul>
          </div><!-- //.tab_menu -->
        </div><!-- //.tab_center_wrap -->

        <div class="tab_menu round_tab">
          <ul>
            <li class="current tab_list" data-tab="tab2-1"><button>학습대기</button></li>
            <li class="tab_list" data-tab="tab2-2"><button>학습중</button></li>
            <li class="tab_list" data-tab="tab2-3"><button>학습완료</button></li>
            <li class="tab_list" data-tab="tab2-4"><button>취소내역</button></li>
          </ul>
        </div>

        <div class="tab_menu round_tab dark">
          <ul>
            <li class="current tab_list" data-tab="tab2-1"><button>강의</button></li>
              <li class="tab_list" data-tab="tab2-2"><button>결제내역</button></li>
              <li class="tab_list" data-tab="tab2-3"><button>출석현황</button></li>
          </ul>
        </div>
      </div><!-- //guide_tab -->
    </div><!--// contnets -->
  </div>
</body>

</html>