<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Text Fields</title>
  <style>
    .guide_contnets{padding: 20px;}
    /*  */
    .guide_contnets h1{font-weight: 700; font-size: 20px; margin: 16px 0;}
    .guide_contnets h2{font-weight: 700; font-size: 16px; margin: 16px 0;}
    .guide_tab{width: 375px;}
  </style>
</head>

<body>
  <div id="container">
    <!-- contnets -->
    <div class="guide_contnets">
      <h1>Default</h1>
      <div class="input_group">
        <!-- <span class="input_label">Label</span> -->
        <span class="input_label required">Label</span>
        <label for="">
          <input type="text" id="" class="input_text" value="" placeholder="내용을 입력해 주세요.">
        </label>
        <p class="txt_alert">사용이 가능한 닉네임입니다.</p>
      </div>

      <h1>Disabled</h1>
      <div class="input_group">
        <label for="">
          <input type="text" id="" class="input_text" value="대한민국" placeholder="내용을 입력해 주세요." disabled>
        </label>
      </div>
      
      <h1>Error</h1>
      <div class="input_group">
        <label for="">
          <input type="text" id="" class="input_text input_error" value="대한민국" placeholder="내용을 입력해 주세요.">
        </label>
        <p class="txt_alert error">이미 사용 중인 닉네임입니다.</p>
      </div>
      
      <h1>Success</h1>
      <div class="input_group">
        <label for="">
          <input type="text" id="" class="input_text input_success" value="대한민국" placeholder="내용을 입력해 주세요.">
        </label>
        <p class="txt_alert success">사용이 가능한 닉네임입니다.</p>
      </div>

      <h1>With 인증 시간</h1>
      <div class="input_group with_time">
        <label for="">
          <input type="text" id="" class="input_text" value="" placeholder="휴대폰번호">
          <span class="time">2:35</span>
        </label>
      </div>

      <h1>With 인증 실패</h1>
      <div class="input_group with_time input_error">
        <label for="">
          <input type="text" id="" class="input_text input_error" value="" placeholder="휴대폰번호">
          <span class="time">2:35</span>
        </label>
        <p class="txt_alert error">인증번호가 다릅니다.</p>
      </div>

      <h1>With Button</h1>
      <div class="input_group">
        <label for="">
          <input type="text" id="" class="input_text" value="dfds" placeholder="휴대폰번호">
          <button class="btn_sm btn_border">인증요청</button>
        </label>
      </div>

      <h1>With Button - Disabled</h1>
      <div class="input_group">
        <label for="">
          <input type="text" id="" class="input_text" value="" placeholder="휴대폰번호" disabled>
          <button class="btn_sm btn_border">인증요청</button>
        </label>
      </div>

      <!-- 아이콘 왼쪽 -->
      <!-- <h1>ICON - Left</h1>
      <div class="input_group input_icon_left">
        <label for="">
          <i class="ico_clip ico_24"></i>
          <input type="text" id="" class="input_text" value="" placeholder="내용을 입력해 주세요.">
        </label>
      </div> -->

      
      <h1>Input 옆 버튼</h1>
      <div class="input_group width_btn">
        <label for="">
          <input type="text" id="" class="input_text" value="" placeholder="쿠폰번호 입력">
        </label>
        <button class="btn_md btn_primary" disabled>쿠폰등록</button>
      </div>

      <h1>Input DatePicker - modal로 열림</h1>
      <div class="input_group is_date">
        <input type="text" data-cal="datepicker" class="input_text btn_modal_open" id="modal01">
        <span class="dash"></span>
        <input type="text" data-cal="datepicker2" class="input_text btn_modal_open" id="modal02">
      </div>

      <!-- 아이콘 오른쪽 -->
      <h1>ICON - Right</h1>
      <div class="input_group input_icon_right">
        <label for="">
          <input type="text" id="" class="input_text" value="" placeholder="내용을 입력해 주세요.">
          <i class="ico_search ico_24"></i>
        </label>
      </div>
      <h1>파일 다운로드</h1>
      <div class="input_group input_icon_right">
        <label for="file-01">
          <input type="file" id="file-01" class="input_text" value="">
          <i class="ico_clip ico_24"></i>
        </label>
      </div>

      <h1>주민등록번호 입력</h1>
      <div class="input_group input_social_num">
        <span class="input_label">주민번호</span>
        <label for="">
          <input type="text" id="" class="input_text birth_date" value="" placeholder="6자리 숫자">
          <span class="dash">-</span>
          <input type="text" id="" class="input_text" value="" placeholder="0">
          <span>******</span>
        </label>
        <p class="txt_alert">YYMMDD</p>
      </div>
      
      <h1>spinner</h1>
      <div class="spinner">
        <button type="button" class="btn_spinner_down" disabled><div class="hide">감소</div></button>
        <input type="text" class="input_spinner" value="0" disabled>
        <button type="button" class="btn_spinner_up"><div class="hide">증가</div></button>
      </div><!-- //.spinner -->
<br>
      <div class="spinner">
        <button type="button" class="btn_spinner_down"><div class="hide">감소</div></button>
        <input type="text" class="input_spinner" value="1">
        <button type="button" class="btn_spinner_up"><div class="hide">증가</div></button>
      </div><!-- //.spinner -->
<br>
      <div class="spinner disabled">
        <button type="button" class="btn_spinner_down"><div class="hide">감소</div></button>
        <input type="text" class="input_spinner" value="0">
        <button type="button" class="btn_spinner_up"><div class="hide">증가</div></button>
      </div><!-- //.spinner -->

      <h1>Textarea - Placeholder</h1>
      <div class="input_writing_group">
        <textarea name="" id="" placeholder="내용을 입력해주세요."></textarea>
        <div class="txt_count">
          <p class="current">0</p>
          <span>/</span>
          <p class="total">1000</p>
        </div>
      </div>

      <h1>Textarea - 글자입력</h1>
      <div class="input_writing_group">
        <textarea name="" id="" placeholder="내용을 입력해주세요.">동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세</textarea>
        <div class="txt_count">
          <p class="current zero">0</p>
          <span>/</span>
          <p class="total">1000</p>
        </div>
      </div>

      <h1>Textarea - 글자수 초과</h1>
      <div class="input_writing_group">
        <textarea name="" id="" placeholder="내용을 입력해주세요."></textarea>
        <div class="txt_count">
          <p class="current">0</p>
          <span>/</span>
          <p class="total">1000</p>
        </div>
      </div>

      <h1>Textarea - disabled</h1>
      <div class="input_writing_group disabled"><!-- 비활성시 클래스 disabled -->
        <textarea name="" id="" placeholder="내용을 입력해주세요." disabled></textarea>
        <div class="txt_count">
          <p class="current">0</p>
          <span>/</span>
          <p class="total">1000</p>
        </div>
      </div>
      
    </div><!--// contnets -->
  </div>

<!-- Modal -->
  <div class="modal_container" data-modal="modal01">
    <div class="modal_overlay"></div>
    <div class="modal_content">
      <div class="modal_body">
        <div type="text" id="datepicker" class="inp_cal" readonly=""></div>        
      </div>
    </div>
    <!-- /.modal_content -->
  </div>
  <div class="modal_container" data-modal="modal02">
    <div class="modal_overlay"></div>
    <div class="modal_content">
      <div class="modal_body">
        <div type="text" id="datepicker2" class="inp_cal" readonly=""></div>        
      </div>
    </div>
    <!-- /.modal_content -->
<!-- //Modal -->


  <script>
    $('#datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      showOtherMonths: true,
      showMonthAfterYear: true,
      changeYear: true,
      changeMonth: true,
      showOn: 'both',
      buttonImage: ('https://cdn-icons-png.flaticon.com/512/2838/2838779.png'),
      buttonImageOnly: true,
      showAnim: '',
      onSelect: function () {
        let calName =$(this).attr('id');
        let selectValue = this.value;
        let toInput = $("input[data-cal='" + calName + "']").val(selectValue)
        $(this).parents(".modal_container").attr("aria-hidden","true").removeClass('open');
        $("body").removeClass("no_scroll");
      }
      });
    $('#datepicker2').datepicker({
      dateFormat: 'yy-mm-dd',
      showOtherMonths: true,
      showMonthAfterYear: true,
      changeYear: true,
      changeMonth: true,
      showOn: 'both',
      buttonImage: ('https://cdn-icons-png.flaticon.com/512/2838/2838779.png'),
      buttonImageOnly: true,
      showAnim: '',
      onSelect: function () {
        let calName =$(this).attr('id');
        let selectValue = this.value;
        let toInput = $("input[data-cal='" + calName + "']").val(selectValue)
        $(this).parents(".modal_container").attr("aria-hidden","true").removeClass('open');
        $("body").removeClass("no_scroll");
      }
      });
  </script>
</body>
</html>