<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Toggles | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Toggles</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Default</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <h5 class="tit">Default - ON</h5>
                <div class="cont">
                  <div class="btn_toggle">
                    <input type="checkbox" checked/>
                    <label></label>
                  </div><!-- //.btn_toggle -->
                </div>
              </li>
              <li>
                <h5 class="tit">Default - OFF</h5>
                <div class="cont">
                  <div class="btn_toggle">
                    <input type="checkbox"/>
                    <label></label>
                  </div><!-- //.btn_toggle -->
                  <!-- <div class="btn_toggle_group">
                    <div class="btn_toggle">
                      <input type="checkbox" />
                      <label></label>
                    </div>
                    <p class="btn_toggle_txt">OFF</p>
                  </div> -->
                </div>
              </li>
              <li>
                <h5 class="tit">Default - Disabled</h5>
                <div class="cont">
                  <div class="btn_toggle">
                    <input type="checkbox" checked disabled />
                    <label></label>
                  </div><!-- //.btn_toggle -->
                  <br>
                  <div class="btn_toggle">
                    <input type="checkbox" disabled />
                    <label></label>
                  </div><!-- //.btn_toggle -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h4>Appbar Toggle</h4>
        <div class="box_wrap">
          <div class="component_guideline">
            <ul class="guide_list">
              <li>
                <!-- <h5 class="tit"></h5> -->
                <div class="cont">
                  <div class="btn_toggle txt_in_toggle">
                    <input type="checkbox"/>
                    <label>
                      <span>PRO</span>
                      <span>TV</span>
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--// pubGuide_sec -->
    </div>
    <!--// contents -->
  </div>
</body>
</html>