<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>Typography | Guide</title>
  <link rel="stylesheet" href="../guide_style.css">
</head>
<body>
  <div id="pubGuidecontainer">
    <!-- contents -->
    <div class="contents">
      <!-- pubGuide_sec -->
      <div class="pubGuide_sec">
        <h3>Typography</h3>
      </div>
      <!-- //pubGuide_sec -->
      <!-- 폰트 타입 -->
      <div class="ft_group"> 
        <h4>Type</h4>
        <ul class="font_type">
          <li>
            <p class="type">AritaDotum4.0</p>
            <p class="aritadt">한국어</p>
            <p class="classinfo txt_kor">css class: txt_kor</p>
          </li>
          <li>
            <p class="type">Gotham</p>
            <p class="gotham">English / 123</p>
            <p class="classinfo txt_eng">css class: txt_eng</p>
          </li>
        </ul>
      </div>
      <!-- 폰트 굵기 -->
      <div class="ft_group">
        <h4>Weight</h4>
        <ul>
          <li>
            <p class="type">SemiBold</p>
            <p class="txt_semibold aritadt">아리따돋움체 (한국어)</p>
          </li>
          <li>
            <p class="type">Bold</p>
            <p class="txt_bold gotham">Gotham</p>
          </li>
        </ul>
        <ul>
          <li>
            <p class="type">Medium</p>
            <p class="txt_medium aritadt">아리따돋움체 (한국어)</p>
          </li>
          <li>
            <p class="type">Medium</p>
            <p class="txt_medium gotham">Gotham</p>
          </li>
        </ul>
      </div>
      <!-- 폰트 셋트 -->
      <div class="ft_group">
        <h4>Font Set - AritaDotum4.0</h4>
        <ul class="ft_set">
          <li>
            <p class="type">Scale Category</p>
            <p class="txt_1">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_2">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_3">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_4">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_5">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_6">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_7">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_8">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_9">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_10">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
            <p class="txt_11">프로의 순간을 완성하는 가장 프로페셔널적 시선</p>
          </li>
          <li>
            <p class="type">Size</p>
            <p class="txt_1">(24px) 1.5rem;</p>
            <p class="txt_2">(20px) 1.25rem;</p>
            <p class="txt_3">(18px) 1.125rem;</p>
            <p class="txt_4">(18px) 1.125rem;</p>
            <p class="txt_5">(16px) 1rem;</p>
            <p class="txt_6">(15px) 0.9375rem;</p>
            <p class="txt_7">(14px) 0.875rem;</p>
            <p class="txt_8">(14px) 0.875rem;</p>
            <p class="txt_9">(13px) 0.8125rem;</p>
            <p class="txt_10">(13px) 0.8125rem;</p>
            <p class="txt_11">(12px) 0.75rem;</p>
          </li>
          <li>
              <p class="type">Line Height</p>
              <p class="txt_1">34px</p>
              <p class="txt_2">28px</p>
              <p class="txt_3">26px</p>
              <p class="txt_4">26px</p>
              <p class="txt_5">24px</p>
              <p class="txt_6">20px</p>
              <p class="txt_7">19px</p>
              <p class="txt_8">17px</p>
              <p class="txt_9">18px</p>
              <p class="txt_10">16px</p>
              <p class="txt_11">16px</p>
          </li>                            
        </ul>
      </div>
      <!-- 폰트 셋트 -->
      <div class="ft_group">
        <h4>Font Set - Gotham</h4>
        <ul class="ft_set">
          <li>
            <p class="type">Scale Category</p>
            <p class="text_1 gotham">AMOS PROFESSIONAL 1234567890</p>
            <p class="text_2 gotham">AMOS PROFESSIONAL 1234567890</p>
            <p class="text_3 gotham">AMOS PROFESSIONAL 1234567890</p>
            <p class="text_4 gotham">AMOS PROFESSIONAL 1234567890</p>
            <p class="text_5 gotham">AMOS PROFESSIONAL 1234567890</p>
          </li>
          <li>
            <p class="type">Size</p>
            <p class="text_1 gotham">(30px) 1.875rem;</p>
            <p class="text_2 gotham">(24px) 1.5rem;</p>
            <p class="text_3 gotham">(17px) 1.0625rem;</p>
            <p class="text_4 gotham">(17px) 1.0625rem;</p>
            <p class="text_5 gotham">(15px) 0.9375rem;</p>
          </li>
          <li>
              <p class="type">Line Height</p>
              <p class="text_1 gotham">42px;</p>
              <p class="text_2 gotham">34px;</p>
              <p class="text_3 gotham">20px;</p>
              <p class="text_4 gotham">20px;</p>
              <p class="text_5 gotham">18px;</p>
          </li>                            
        </ul>
      </div>
    </div>
    <!--// contents -->
  </div>
</body>
</html>