<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>게시판</title>
</head>
<body>
  <div id="wrap">
    <header>
      <script>include.subAppBarType1();</script>
    </header>    
    <!-- //header -->
    <main id="container">
      <section class="board_detail_wrap">
        <div class="inner">
          <div class="board_detail">
            <div class="detail_top">
              <div class="edit_top">
                <div class="user_name">
                  <span>USER ID</span>&nbsp;/&nbsp;<span>사용자명</span>
                </div>
                <button class="ico_24 ico_meatball" data-actbox="actBox01"></button>
                <ul id="actBox01" class="action_box">
                  <li class="action_btn"><button>수정</button></li>
                  <li class="action_btn"><button>삭제</button></li>
                </ul>
              </div>
              <div class="top">
                <span class="date">2024.06.03</span>
                <span class="view">156</span>
                <button class="btn_share"><i class="ico_share ico_24"></i></button><!-- 240904 공유 버튼추가 -->
              </div>
              <strong class="tit">게시글 제목 게시글 제목</strong>
            </div>
            <div class="detail_cont">
              
              <!-- 게시판 상세 콘텐츠 부분 초기화 -->
              <button>sdawd23153a1sㄴ이ㅏ런이라SSSSDDD</button>
              <table>
                <caption>테이블</caption>
                <thead>
                  <tr>
                    <th>제목1</th>
                    <th>제목2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>내용</td>
                    <td>내용</td>
                  </tr>
                  <tr>
                    <td>내용</td>
                    <td>내용</td>
                  </tr>
                  <tr>
                    <td>내용</td>
                    <td>내용</td>
                  </tr>
                  <tr>
                    <td>내용</td>
                    <td>내용</td>
                  </tr>
                  <tr>
                    <td>내용</td>
                    <td>내용</td>
                  </tr>
                </tbody>
              </table>
              <ul>
                <li>
                  <a href="#">ddd</a>
                  <em>dldl</em>
                </li>
              </ul>
              <div>AMOS Pro 프로페셔널적 123456</div>
              <span>AMOS Pro 프로페셔널적 123456</span>
              <object>AMOS Pro 프로페셔널적 123456</object>
              <h1>AMOS Pro 프로페셔널적 123456</h1>
              <h2>AMOS Pro 프로페셔널적 123456</h2>
              <h3>AMOS Pro 프로페셔널적 123456</h3>
              <h4>AMOS Pro 프로페셔널적 123456</h4>
              <h5>AMOS Pro 프로페셔널적 123456</h5>
              <h6>AMOS Pro 프로페셔널적 123456</h6>
              <p>AMOS Pro 프로페셔널적 123456</p>
              <blockquote>AMOS Pro 프로페셔널적 123456</blockquote>
              <pre>AMOS Pro 프로페셔널적 123456</pre>
              <a>AMOS Pro 프로페셔널적 123456</a>
              <abbr>AMOS Pro 프로페셔널적 123456</abbr>
              <address>AMOS Pro 프로페셔널적 123456</address>
              <cite>AMOS Pro 프로페셔널적 123456</cite>
              <code>AMOS Pro 프로페셔널적 123456</code>
              <del>AMOS Pro 프로페셔널적 123456</del>
              <dfn>AMOS Pro 프로페셔널적 123456</dfn>
              <em>AMOS Pro 프로페셔널적 123456</em>
              <ins>AMOS Pro 프로페셔널적 123456</ins>
              <kbd>AMOS Pro 프로페셔널적 123456</kbd>
              <q>AMOS Pro 프로페셔널적 123456</q>
              <s>AMOS Pro 프로페셔널적 123456</s>
              <samp>AMOS Pro 프로페셔널적 123456</samp>
              <small>AMOS Pro 프로페셔널적 123456</small>
              <strong>AMOS Pro 프로페셔널적 123456</strong>
              <sub>AMOS Pro 프로페셔널적 123456</sub>
              <sup>AMOS Pro 프로페셔널적 123456</sup>
              <var>AMOS Pro 프로페셔널적 123456</var>
              <b>AMOS Pro 프로페셔널적 123456</b>
              <u>AMOS Pro 프로페셔널적 123456</u>
              <i>AMOS Pro 프로페셔널적 123456</i>
              <dl>AMOS Pro 프로페셔널적 123456</dl>
              <dt>AMOS Pro 프로페셔널적 123456</dt>
              <dd>AMOS Pro 프로페셔널적 123456</dd>
              <ol>
                <li>AMOS Pro 프로페셔널적 123456</li>
                <li>AMOS Pro 프로페셔널적 123456</li>
              </ol>
              <ul>
                <li>AMOS Pro 프로페셔널적 123456</li>
                <li>AMOS Pro 프로페셔널적 123456</li>
              </ul>
              <fieldset>AMOS Pro 프로페셔널적 123456</fieldset>
              <form>AMOS Pro 프로페셔널적 123456</form>
              <label>AMOS Pro 프로페셔널적 123456</label>
              <legend>AMOS Pro 프로페셔널적 123456</legend>
              <article>AMOS Pro 프로페셔널적 123456</article>
              <aside>AMOS Pro 프로페셔널적 123456</aside>
              <canvas>AMOS Pro 프로페셔널적 123456</canvas>
              <details>AMOS Pro 프로페셔널적 123456</details>
              <figure>
                <img src="#" alt="Elephant at sunset" />
                <figcaption>AMOS Pro 프로페셔널적 123456</figcaption>
              </figure>
              <footer>AMOS Pro 프로페셔널적 123456</footer>
              <header>AMOS Pro 프로페셔널적 123456</header>
              <hgroup>AMOS Pro 프로페셔널적 123456</hgroup>
              <menu>AMOS Pro 프로페셔널적 123456</menu>
              <nav>AMOS Pro 프로페셔널적 123456</nav>
              <output>AMOS Pro 프로페셔널적 123456</output>
              <ruby>AMOS Pro 프로페셔널적 123456</ruby>
              <summary>AMOS Pro 프로페셔널적 123456</summary>
              <time>AMOS Pro 프로페셔널적 123456</time>
              <mark>AMOS Pro 프로페셔널적 123456</mark>
              <audio>AMOS Pro 프로페셔널적 123456</audio>
              <video>AMOS Pro 프로페셔널적 123456</video>
              <img src="../../resources/images/@img_fileupload1.png" alt>
              <p>게시글내용 게시글내용 게시글내용 게시글내용</p>
              <img src="../../resources/images/@img_fileupload1.png" alt>
              <!-- //게시판 상세 콘텐츠 부분 초기화 -->

            </div><!-- //.detail_cont -->
            <div class="detail_bottom">
              <div class="file_wrap">
                <div class="file">
                  <span class="name"><i class="ico_clip ico_24"></i>첨부파일제목.pdf</span>
                  <button class="btn_xxs btn_border">다운로드</button>
                </div>
                <div class="file">
                  <span class="name"><i class="ico_clip ico_24"></i>첨부파일제목.pdf</span>
                  <button class="btn_xxs btn_border">다운로드</button>
                </div>
              </div>
            </div><!-- //.detail_bottom -->
          </div><!-- //.board_detail -->
        </div><!-- //.inner -->
        <!-- 게시글 반응 영역 -->
        <div class="board_act">
          <button class="act_like active" onclick="like(this);">120</button><!-- 좋아요 누른경우 구분: active -->
          <div class="act_comment">3</div>
          <div class="act_view">1K</div>
        </div><!-- //.board_act -->
        <!-- //게시글 반응 영역 -->
      </section><!-- //.board_detail_wrap -->
      <div class="hr_divider"></div>
      <!-- 댓글 영역 -->
      <section class="comment_list_wrap">
        <div class="inner">
          <p class="count"><span><em>1</em>개</span>의 댓글이 있습니다.</p>
        </div><!-- //.inner -->
        <ul>
          <li class="comment_list">
            <div class="inner">
              <div class="edit_top">
                <div class="user_name">
                  <span>USER ID</span>&nbsp;/&nbsp;<span>사용자명</span>
                </div>
                <button class="ico_24 ico_meatball" data-actbox="actBox02"></button>
                <ul id="actBox02" class="action_box">
                  <li class="action_btn"><button>수정</button></li>
                  <li class="action_btn"><button>삭제</button></li>
                </ul>
              </div><!-- //.edit_top -->
              <div class="comment_cont">
                <p>댓글 내용</p>
              </div><!-- //.detail_cont -->
              <div class="comment_bottom">
                <div class="date">2024.06.10</div>
                <button class="act_like active" onclick="like(this);">4</button><!-- 좋아요 누른경우 구분: active -->
              </div><!-- //.comment_bottom -->
            </div><!-- //.inner -->
          </li>
          <li class="comment_list not_view"><!-- 삭제,블라인드 댓글 구분: not_view  -->
            <div class="inner">
              <div class="comment_cont">
                [ 사용자가 삭제한 댓글입니다. ]
              </div><!-- //.detail_cont -->
              <div class="comment_bottom">
                <div class="date">2024.06.10</div>
              </div><!-- //.comment_bottom -->
            </div><!-- //.inner -->
          </li>
          <li class="comment_list not_view">
            <div class="inner">
              <div class="comment_cont">
                [ 아모스 프로 정책에 따라 블라인드 처리되었습니다. ]
              </div><!-- //.detail_cont -->
              <div class="comment_bottom">
                <div class="date">2024.06.10</div>
              </div><!-- //.comment_bottom -->
            </div><!-- //.inner -->
          </li>
        </ul>
        <div class="inner">
          <button class="btn_more">더보기<i class="ico_dropDown point ico_24"></i></button>
        </div><!-- //.inner -->
      </section><!-- //.comment_list_wrap -->
      <!-- //댓글 영역 -->
      <div class="btn_group">
        <a href="#" class="btn_lg btn_primary">목록</a>
      </div>
      <!-- 댓글작성 버튼 -->
      <div class="floating_btm w_200">
        <button class="btn_bottom">
          <i class="ico_comment ico_24"></i>
          <span>댓글작성</span>
        </button>
      </div><!-- //.floating_btm -->
      <!-- 댓글작성 버튼 -->
    </main>
    <!-- //#container -->
    <!-- footer -->
    <script>include.footer();</script>
    <!-- //footer -->
    <!-- tabBar -->
    <script>include.tabBar();</script>
    <!-- //tabBar -->
  </div><!-- //#wrap -->
  <!-- floatingSide -->
  <script>include.floatingSide();</script>
  <!-- //floatingSide -->
    



  <!--------------- 퍼블화면에만 쓰이는 script --------------->
  <script>
    $(document).ready(function(){
      $(".appbar_tit").html("게시글 상세")
    })
  </script>
  <!--------------- 퍼블화면에만 쓰이는 script --------------->
</body>
</html>