<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../resources/js/pub/include.js"></script>
  <script>include.scripts();</script>
  <script>include.style();</script>
  <title>MAIN | 아모레뉴플렛폼</title>
</head>
<body>
  <div id="wrap">
    <header>
      <script>include.mainAppBar();</script>
      <script>include.mainTabMenu();</script>
    </header>
    <!-- //header -->
    <main id="container" class="page_main">
      <section>
        <div class="inner"></div>
      </section>
      <section></section>
      <section></section>
    </main>
    <!-- //#container -->
    <!-- footer -->
    <script>include.footer();</script>
    <!-- //footer -->
    <!-- tabBar -->
    <script>include.tabBar();</script>
    <!-- //tabBar -->
  </div><!-- //#wrap -->
  <!-- floatingSide -->
  <script>include.floatingSide();</script>
  <!-- //floatingSide -->
</body>
</html>