/* Accordion */
.accord {
  &_tit {
    position: relative;
    padding: 12px 56px 12px 12px;
    @include fontStyle($gray-950, $fs-m, $fw-sb, 1.5);
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      @include iconImgPath("ico_accord_arr.svg");
      background-size: contain;
      background-color: $color-primary !important;
      @include trans($prop: all, $duration: 0.3s, $type: ease-out, $delay: 0s);
    }
  }
  &_head {
    cursor: pointer;
    @include text-ellipsis;
    position: relative;
    font-size: $fs-m;
    line-height: 1.5;
    border-top: 1px solid #F2F2F2;
    background-color: #fafafa;
    &:last-child {
      border-bottom: 1px solid #F2F2F2;
    }
    &.on {
      .accord_tit {
        &::before {
          -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
        }
      }
    }
  }
  &_cont {
    display: none;
    position: relative;
    background-color: $color-white;
    & > p {
      line-height: 1.571;
      padding: 12px;
      font-size: $fs-s;
      color: $gray-800;
    }
  }
  &_list {
    &.arr_left_list {
      .accord_tit {
        padding: 12px 12px 12px 56px;
        &::before {
          right: auto;
          left: 12px;
        }
      }
    }
    &.faq_list {
      .accord_tit {
        padding: 12px 12px 12px 56px;
        &::before {
          content: 'Q.';   
          right: auto;
          left: 12px;
          mask:none;
          background-color: transparent !important;
         // @include iconImgPath("ico_faq_Q_16.svg");
        }
      }
      .accord_head {
        &.on {
          .accord_tit {
            &::before {
              mask:none;
              background-color: transparent;
              transform: translateY(-50%);
            }
          }
        }
      }
      .accord_cont {
        padding-left: 56px;
        &::before {
          content: "A.";
          display: block;
          position: absolute;
          top: 12px;
          right: auto;
          left: 12px;
          width: 12px;
          height: 12px;
          //@include iconImgPath("ico_faq_A_16.svg");
        }
      }
    }
    &.is_plus{
      .accord_tit{
        @include flexBetween;
        padding: 16px 0 16px 12px;
        .ico_plus{
          &::before{
            background-color:$color-primary;
          }
        }
        &::before{
          display: none;  
          mask-image: url("../images/icon/ico_plus.svg");
        }
      }
      .accord_head{
        background-color:transparent;
        border: 0;
        border-bottom: 1px solid $color-primary;
        cursor:default;
        &.on{
          .accord_tit{
            padding-top: 12px;
            padding-bottom: 8px;
            font-size: $fs-s;
            line-height: 1.58;
            .ico_plus{
              &::before{
                mask-image: url("../images/icon/ico_minus.svg");
              }              
            }
          }
        }
      }
    }
  }
}
