.appbar{
  background-color: $color-white;
  .inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;  
  }
  .logo{
    display: inline-block;
    height: 24px;
    img{
      width: auto;
      height: 100%;
    }
  }
  .btn_toggle{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &.is_line {
    border-bottom: 1px solid #eee;
  }
  &_util{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    button{
      &::before{
        background-color: $color-primary !important;
      }
    }
  }
  &_tit{
    @include pos_center;
    @include fontStyle($color-primary, $fs-ml, $fw-sb, 1.444);
  }
  &_close{
    &::before{
      background-color: $color-primary !important;
    }
  }
}
//Tab Bar
.btm_bar{
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: $btmbar-H;
  padding: 16px 0 32px;
  background-color: $color-white;
  .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .btn_heart{
    padding: 14px;
    flex:0;
    width: 52px;
    height: 52px;
    border: 1px solid $gray-200;
  }
  &.is_nav{
    background-color: $color-primary;
  }
  &_nav{
    display: flex;
    flex: 1;
    justify-content: space-between;
    li{
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $color-white;
      color: #A5A5A5;
      gap: 2px;
      i::before{
        background-color: $gray-500 !important;
      }
      &.active{
        i::before{
          background-color: $color-white !important;
        }
        .nav_tit{
          color: $color-white;
        }
      }
    }
    .nav_tit{
      @include fontStyle($gray-500, $fs-xxs, $fw-m, 1.333);
    }
  }
}

//Floating Area
.floating{
  &_side{
    z-index: 1;
    position: fixed;
    bottom: $btmbar-H;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding: 16px;
    height: 116px;
    overflow:hidden;
    transition: height 0.3s .3s;
    &::before{
      content: '';
      display: block;
      transition: background-color .2s;
    }
    &:focus, &:focus-within{
      height: 56px;
      transition: height 0.2s;
    }
    li{
      display: none;
      gap: 12px;
      align-items: center;
      position: relative;
      &.item{
        display: flex;
      }
    }
    &.is_expanded{
      height: 230px;
      li{
        display: flex;
        &.item{
          display: none;
        }
      }
      &::before{
        z-index: -1;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  &_tit{
    @include fontStyle($color-white, $fs-m, $fw-m, 1.5);
  }
  &_btm{
    position: fixed;
    bottom: 60px;
    .btn_bottom{
      max-width: 200px;
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    }
  }
}