/* Badge */
.badge {
  @mixin badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20px;
    border-radius: 2px;
    padding: 0 4px;
    @include fontStyle($color-white, $fs-xxs, $fw-sb, 1);
    text-align: center;
  }
  @include badge;
  &.bg_light {
    color: $gray-700;
  }
  &.line {
    &_primary {
      color: $color-primary;
    }
    &_secondary {
      color: $gray-700;
    }
    &_green {
      color: $color-green;
    }
    &_red,
    &_danger {
      color: $color-red;
    }
    &_warning,
    &_yellow {
      color: $color-yellow;
    }
    &_info {
      color: $color-blue;
    }
    &_light {
      color: $gray-50;
    }
    &_orange {
      color: $color-orange;
    }
    &_olive {
      color: $color-olive;
    }
    &_teal {
      color: $color-teal;
    }
    &_success,
    &_blue {
      color: $color-blue;
    }
    &_violet {
      color: $color-violet;
    }
    &_purple {
      color: $color-purple;
    }
    &_pink {
      color: $color-pink;
    }
    &_brown {
      color: $color-brown;
    }
    &_gray {
      color: $gray-300;
    }
    &_mint {
      color: $color-mint;
    }
    &_dark,
    &_black {
      color: $gray-950;
    }
  }
  &_round {
    @include badge;
    height: 18px;
    min-width: 18px;
    padding: 3px 5px;
    border-radius: 20px;
    @include fontStyle($color-white, 11px, $fw-b, 18px);
  }
  &_num {
    display: inline-block;
    padding: 0 12px;
    margin-left: 6px;
    height: 26px;
    background: #DFEDFF;
    border-radius: 50px;
    vertical-align: -1px;
    color: #1A63D9;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
  }
  &_dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    &.bg_orange {
      background-color: $color-orange !important;
    }
    &.bg_blue {
      background-color: $color-blue !important;
    }
    &.bg_green {
      background-color: $color-green !important;
    }
  }
  &_history{
    height: 20px;
    background: $color-orange-secondary;
    color: $color-orange;
    font-family: $font-aritadt;
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      @include iconImgPath("ico_buy.svg");
      background-color: $color-orange !important;
    }
  }
  &_promotion{
    background: $color-blue-tertiary;
    color: $color-blue;
    font-family: $font-aritadt;
    &::before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      @include iconImgPath("ico_promotion_12.svg");
      background-color: $color-blue !important;
    }
  }
  &_notice{
    padding: 0 8px;
    border-radius: 9999px;
    border: 1px solid $gray-100;
    background: $gray-50;
    color: $gray-500;
  }
}

//Usage
button > .badge {
  margin-left: 8px;
}
a > .badge_dot,
button > .badge_dot,
i > .badge_dot {
  position: absolute;
  top: 6px;
  right: -4px;
  transform: translate(50%, 50%);
}
button > .badge_round,
i > .badge_round {
  position: absolute;
  top: -7px;
  left: 13px;
}
.avatar {
  display: inline-block;
  position: relative;
  flex: none;
  width: 66px;
  height: 66px;    
  border: 1px solid #DFEDFF;
  border-radius: 100%;
  background-color: #EFF6FF;
  > img {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: none;
    border-radius: 100%;
    & + .badge_dot {
      position: absolute;
      top: 0px;
      left: calc(100% - 12px);
      border: 1px solid $color-white;
    }
    & + .badge_round {
      position: absolute;
      top: -7px;
      left: calc(100% - 14px);
    }
  }
}
