/* Button */
button {
  vertical-align: middle;
  border: 0;
  background: none;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  &:disabled{
    color: $color-white !important;
    border-color: $gray-400 !important;
    background-color: $gray-400 !important;
    cursor: auto;
    *[class*="ico_"] {
      &::before {
        background-color: $gray-300 !important;
      }
    }
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  height: 46px;
  margin: 0;
  padding: 8px 20px;
  font-size: $fs-xs;
  font-weight: $fw-sb;
  line-height: 1.4;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  background: inherit;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out 0s, border-color 0.3s ease-out 0s;
  //Size
  &_lg {
    @extend .btn;
    height: 56px;
    font-size: $fs-m;
    line-height: 3.5;
    &.btn_icon {
      width: 56px;
      height: 56px;
      padding: 12px;
      border-color: transparent;
    }
    &.btn_circle{
      width: 56px;
      height: 56px;
    }
  }
  &_md {
    @extend .btn;
    height: 50px;
    font-size: $fs-sm;
    line-height: 3.33333;
    &.btn_icon {
      width: 50px;
      height: 50px;
      padding: 0 16px;
      border-color: transparent;
    }
    &.btn_circle{
      width: 50px;
      height: 50px;
    }
  }
  &_sm {
    @extend .btn;
    height: 46px;
    font-size: $fs-sm;
    line-height: 3.0666;
    &.btn_icon {
      width: 46px;
      height: 46px;
      padding: 6px;
      border-color: transparent;
    }
    &.btn_circle{
      width: 46px;
      height: 46px;
    }
  }
  &_xs {
    @extend .btn;
    height: 40px;
    padding: 0 12px;
    font-size: $fs-sm;
    line-height: 3.0666;
    &.btn_icon {
      width: 40px;
      height: 40px;
      padding: 6px;
      border-color: transparent;
    }
    &.btn_circle{
      width: 40px;
      height: 40px;
    }
  }
  &_xxs {
    @extend .btn;
    height: 30px;
    padding: 0 12px;
    font-size: $fs-s;
  }
  //Color
  &_primary {
    color: $color-white !important;
    border-color:$color-primary !important;
    background-color: $color-primary !important;
  }
  &_light {
    color: $color-white !important;
    border-color:$gray-400 !important;
    background-color: $gray-400 !important;
  }
  &_border {
    color: $color-primary;
    border-color:$color-primary;
    background-color: $color-white;
  }
  //disabled
  &_disabled {
    color: $color-white !important;
    border-color: $gray-400 !important;
    background-color: $gray-400 !important;
    *[class*="ico_"] {
      &::before {
        background-color: $gray-300 !important;
      }
    }
  }
  //radius
  &_radius {
    border-radius: 4px;
  }
  //radius
  &_circle {
    width: 50px;
    height: 50px;
    border-radius: 100% !important;
    padding: 0;
    justify-content: center;
  }
  //Button Group
  &_group {
    @include flexCenter;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    gap: 5px;
    padding: 60px 20px 30px;
    button, .btn{
      flex: 1;
      justify-content: center;
    }
    &.btm_fixed{
      position: fixed;
      inset:auto;
      bottom: 0;
      left: 0;
      width: 100%;
      @media (min-width: $pc-point) {
        position: static;
      }
    }
  }

  //Icon Button
  &_icon{
    @extend .btn;
    justify-content: center;
    height: 28px;
    padding: 6px;
    border-radius: 9999px;
    border-color:$gray-100;
    color: $gray-700;
    gap: 2px;
    &.btn_color{
      @include fontStyle($gray-700, 0.6875rem, $fw-m, 1.3636);
    }
    &.with_txt{
      padding: 6px 10px 6px 6px;
      @include fontStyle($gray-700, $fs-xs, $fw-m, 1.23);
    }
  }
  //Bottom Button
  &_bottom{
    @extend .btn;
    width: 100%;
    height: 52px;
    padding: 0 40px;
    gap: 8px;
    justify-content: center;
    background-color: $color-primary;
    border-color: $color-primary;
    @include fontStyle($color-white, $fs-m, $fw-sb, 1.5);    
    *[class*="ico_"] {
      &::before{
        background-color: $color-white !important;
      }
    }
    .count{
      margin-left: -4px;
      font-weight: $fw-m;
    }
  }
  //Float Button
  &_floating{
    @extend .btn;
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: $color-white;
    border-radius: 0;
    *[class*="ico_"], &[class*="ico_"] {
      &::before{ 
        mask-size: 24px;
        background-color: $color-primary !important;
      }
    }
    &.btn_border{
      border-color: $gray-200;
    }
    &.btn_primary{
      *[class*="ico_"] {
        &::before{
          background-color: $color-white !important;
        }
      }
    }
  }
  // like
  &_like {
    &.active {
      i {
        &::before {
          mask-image: url(../images/icon/ico_btn_heart_red.svg);
          background-size: cover;
          background-color:$color-red !important;
        }
      }
    }
  }
  &_delete{
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      mask: url("../images/icon/ico_delete.svg") left center / contain no-repeat;
      background-color:$gray-600 !important;
    }
    @include fontStyle($gray-600, $fs-xs, $fw-m, 1.23);
    &.type_x{
      &::before {
        width: 20px;
        height: 20px;
        mask: url("../images/icon/ico_close_20_sm.svg") left center / contain no-repeat;
        background-color:$gray-400 !important;
      }
    }
  }
  &_more {
    width: 100%;
    height: 48px;
    padding: 12px 40px;
    @include fontStyle($gray-600, $fs-s, $fw-sb, 17px);
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #F6F6F6;
    text-align: center;
    *[class*=ico_].point::before {
      background-color: #BBB !important;
    }
    &:hover {
      color: $gray-600;
    }
  }
  &_txt_detail{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    @include fontStyle($gray-600, $fs-xs, $fw-m, 1.2307);
    &::after{
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('../images/icon/ico_chev_next_16.svg') center/contain no-repeat;
    }
  }
  &_reset{
    flex: 0 1 30.75% !important;
  }
}
.spinner{
  @include flexBetween;
  gap: 2px;
  min-width: 120px;
  height: 40px;
  border: 1px solid $gray-200;
  border-radius: 4px;
  &.disabled{
    .input_spinner{
      background-color:transparent;
      color: $gray-500;
    }
    .btn_spinner{
      background-color:transparent !important;
      &::before{
        background-color:$gray-300 !important;
      }
    }
  }
}
.input_spinner{
  width:100%;
  @include fontStyle($gray-950, $fs-sm, $fw-m, 1.2);
  font-family: $font-gotham !important;
  text-transform: capitalize;
  text-align: center;
  &:disabled{
    background-color:transparent;
    color: $gray-500;
  }
}
.btn_spinner{
  width: 24px;
  height: 24px;
  &::before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    mask: url("../images/icon/ico_spinner_down.svg") center / contain no-repeat;
    background-color:$gray-900 !important;
  }
  &:disabled{
    background-color:transparent !important;
    &::before{
      background-color:$gray-300 !important;
    }
  }
  &_up{
    @extend .btn_spinner;
    &::before{
      mask: url("../images/icon/ico_spinner_up.svg") center / contain no-repeat;
    }
  }
  &_down{
    @extend .btn_spinner;
  }
}

