/* Button */
button {
  vertical-align: middle;
  border: 0;
  background: none;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  &:disabled{
    color: $color-white !important;
    border-color: $gray-400 !important;
    background-color: $gray-400 !important;
    cursor: auto;
    *[class*="ico_"] {
      &::before {
        //background-color: $gray-300 !important;
      }
    }
  }
}
*[class*="btn_"] {
  &.with_icon{
    gap: 4px;
    &.btn_primary{
      *[class*="ico_"] {
        &::before {
          //background-color: $color-white !important;
        }
      }
    }
    &.btn_border{
      *[class*="ico_"] {
        &::before {
          //background-color: $color-primary !important;
        }
      }
    }
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  height: 46px;
  margin: 0;
  padding: 8px 20px;
  font-size: $fs-xs;
  font-weight: $fw-sb;
  line-height: 1.4;
  line-height: 1;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  background: inherit;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-out 0s, border-color 0.3s ease-out 0s;
  //Size
  &_lg {
    @extend .btn;
    height: 56px;
    font-size: $fs-m;
    line-height: 3.5;
    &.btn_icon {
      width: 56px;
      height: 56px;
      padding: 4px 12px;
      border-color: transparent;
    }
  }
  &_md {
    @extend .btn;
    height: 50px;
    font-size: $fs-sm;
    line-height: 3.33333;
    &.btn_icon {
      width: 50px;
      height: 50px;
      padding: 4px 16px;
      border-color: transparent;
    }
  }
  &_sm {
    @extend .btn;
    height: 46px;
    font-size: $fs-sm;
    line-height: 3.0666;
    &.btn_icon {
      width: 46px;
      height: 46px;
      padding: 4px 6px;
    }
  }
  &_xs {
    @extend .btn;
    height: 40px;
    padding: 0 12px;
    font-size: $fs-sm;
    line-height: 3.0666;
    &.btn_icon {
      width: 40px;
      height: 40px;
      padding: 4px 6px;
      border-color: transparent;
    }
  }
  &_xxs {
    @extend .btn;
    height: 30px;
    padding: 0 12px;
    font-size: $fs-s;
  }
  //Color
  &_primary {
    color: $color-white !important;
    border-color:$color-primary !important;
    background-color: $color-primary !important;
  }
  &_light {
    color: $color-white !important;
    border-color:$gray-400 !important;
    background-color: $gray-400 !important;
  }
  &_border {
    color: $color-primary;
    border-color:$color-primary;
    background-color: $color-white;
  }
  //disabled
  &_disabled {
    color: $color-white !important;
    border-color: $gray-400 !important;
    background-color: $gray-400 !important;
    *[class*="ico_"] {
      &::before {
        //background-color: $gray-300 !important;
      }
    }
  }
  //radius
  &_radius {
    border-radius: 99999px;
  }
  //circle
  &_circle {
    padding: 8px;
    border-radius: 100% !important;
    &.btn_lg {
      width: 56px;
    }
    &.btn_md {
      width: 50px;
    }
    &.btn_sm {
      width: 46px;
    }
    &.btn_xs {
      width: 40px;
    }
    &.btn_xxs {
      width: 30px;
    }
  }
  //Button Group
  &_group {
    @include flexCenter;
    flex-wrap: wrap;
    max-width: 1024px;
    width: 100%;
    gap: 5px;  
    padding: 0 20px 30px;
    margin: 60px auto 0;
    button, .btn{
      flex: 1;
      justify-content: center;
    }
    &.btm_fixed{
      position: fixed;
      inset:auto;
      bottom: 0;
      left: 0;
      width: 100%;
      @media (min-width: $pc-point) {
        position: static;
      }
    }
  }

  //Icon Button
  &_icon{
    @extend .btn;
    justify-content: center;
    align-items: center;
    //height: 28px;
    height: 32px;
    width: 32px;
    padding: 4px 7px;
    border-radius: 9999px;
    border-color:$gray-100;
    color: $gray-700;
    gap: 2px;
    &.btn_color{
      width: auto;
      @include fontStyle($gray-700, 0.6875rem, $fw-m, 1.3636);
    }
    &.with_txt{
      width: auto;
      padding: 4px 12px 4px 8px;
      @include fontStyle($gray-700, $fs-xs, $fw-m, 1);
    }
  }
  //Bottom Button
  &_bottom{
    @extend .btn;
    width: 100%;
    height: 52px;
    padding: 0 40px;
    gap: 8px;
    justify-content: center;
    background-color: $color-primary;
    border-color: $color-primary;
    @include fontStyle($color-white, $fs-m, $fw-sb, 1.5);    
    *[class*="ico_"] {
      &::before{
        //background-color: $color-white !important;
      }
    }
  }
  //Float Button
  &_floating{
    @extend .btn;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0px;
    background-color: $color-white;
    border-radius: 4px;
    *[class*="ico_"], &[class*="ico_"] {
      &::before{ 
        background-size: 24px;
        //background-color: $gray-950 !important;
      }
    }
    .ico_16[class*="ico_"] {
      &::before{ 
        background-size: 16px;
      }
    }
    &.btn_border{
      border-color: $gray-200;
    }
    &.btn_primary{
      background-color: $gray-950 !important;
      *[class*="ico_"] {
        &::before{
          //background-color: $color-white !important;
        }
      }
    }
    &.btn_circle{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.9);
      @include fontStyle($gray-950, $fs-xxs, $fw-b, 1.136);
      letter-spacing: -0.24px;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.10));
    }
  }
  // like
  &_like {
    &.active {
      i {
        &::before {
          background: url('../images/icon/ico_btn_heart_red.svg') center/contain no-repeat;
          // background-size: cover;
          // background-color:$color-red !important;
        }
      }
    }
  }
  &_delete{
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url("../images/icon/ico_delete.svg") left center / contain no-repeat;
      //background-color:$gray-600 !important;
    }
    @include fontStyle($gray-600, $fs-xs, $fw-m, 1.23);
    &.type_x{
      &::before {
        width: 20px;
        height: 20px;
        background: url("../images/icon/ico_close_20_sm.svg") left center / contain no-repeat;
        //background-color:$gray-400 !important;
      }
    }
  }
  &_more {
    width: 100%;
    height: 48px;
    padding: 12px 40px;
    @include fontStyle($gray-600, $fs-s, $fw-sb, 17px);
    border-radius: 4px;
    border: 1px solid $gray-300;
    background: $color-white;
    text-align: center;
    *[class*=ico_].point::before {
      background:transparent url('../images/icon/ico_dropdown_arr_24-600.svg') center/contain no-repeat !important;
      //background-color: #BBB !important;
    }
    &:hover {
      color: $gray-600;
    }
  }
  &_txt{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    @include fontStyle($gray-600, $fs-xs, $fw-m, 1.2307);
  }
  &_txt_detail{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    @include fontStyle($gray-600, $fs-xs, $fw-m, 1.2307);
    &::after{
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('../images/icon/ico_chev_next_16.svg') center/contain no-repeat;
    }
  }
  &_detail{
    border:1px solid $gray-300;
    @include fontStyle($gray-600, $fs-s, $fw-m, 1.357);
  }
  &_reset{
    flex: 0 1 30.75% !important;
  }
  &_tag{
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    @include fontStyle($gray-950, $fs-s, $fw-m, 1.2143);
    background-color: $gray-50;
    border:1px solid $gray-50;
    border-radius: 9999px;
  }
  &_cart{
   &.is_incart{
      background-color: $color-primary;
      border-color: $color-primary;
      .ico_btn_cart::before{
        @include iconImgPath('ico_btn_cart-white.svg')
         //background-color: $color-white;
      }
   }
  }
}
.spinner{
  @include flexBetween;
  gap: 2px;
  min-width: 120px;
  height: 40px;
  border: 1px solid $gray-200;
  border-radius: 4px;
  &.disabled{
    .input_spinner{
      background-color:transparent;
      color: $gray-500;
    }
    .btn_spinner{
      background-color:transparent !important;
      &_up::before{
        background:url('../images/icon/ico_spinner_up-300.svg') center/contain no-repeat;
        //background-color:$gray-300 !important;
      }
      &_down::before{
        background:url('../images/icon/ico_spinner_down.svg') center/contain no-repeat;
        //background-color:$gray-300 !important;
      }
    }
  }
}
.input_spinner{
  width:100%;
  @include fontStyle($gray-950, $fs-sm, $fw-m, 1.2);
  font-family: $font-gotham !important;
  text-transform: capitalize;
  text-align: center;
  &:disabled{
    background-color:transparent;
    color: $gray-500;
  }
}
.btn_spinner{
  width: 24px;
  height: 24px;
  &::before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/icon/ico_spinner_down-900.svg") center / contain no-repeat;
    //background-color:$gray-900 !important;
  }
  &:disabled{
    background-color:transparent !important;
    &::before{
      //background-color:$gray-300 !important;
    }
  }
  &_up:disabled::before{
    background: url("../images/icon/ico_spinner_up-300.svg") center / contain no-repeat;
    //background-color:$gray-300 !important;
  }
  &_down:disabled::before{
    background: url("../images/icon/ico_spinner_down.svg") center / contain no-repeat;
    //background-color:$gray-300 !important;
  }
  &_up{
    @extend .btn_spinner;
    &::before{
      background: url("../images/icon/ico_spinner_up.svg") center / contain no-repeat;
    }
  }
  &_down{
    @extend .btn_spinner;
  }
}

