/* Checkbox Button */
.input_check {
  display: none;
  &_wrap {
    display: inline-block;
  }
  & + label {
    cursor: pointer;
    position: relative;
    display: block;
    min-height: 20px;
    padding-left: 28px;
    user-select: none;
    @include fontStyle($gray-950, $fs-m, $fw-sb, 1.5);
    font-family: $font-aritadt;
    white-space: normal;
    word-break: keep-all;
    &::before {
      content: "";
      display: block;
      //@include pos_Ycenter;
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../images/icon/ico_checkbox.svg");
    }
  }
  &:checked + label {
    &::before {
      background-image: url("../images/icon/ico_checkbox_on.svg");
    }
  }
  &:disabled + label {
    cursor: default;
    color: $gray-600;
    &::before {
      background-image: url("../images/icon/ico_checkbox.svg");
    }
  }
  &[disabled][checked] + label {
    &::before {
      background-image: url("../images/icon/ico_checkbox_on.svg");
    }
  }  
  &.hide{
    & + label::before{
      display: none;
    }
  }
}
//체크표시만 있는 타입
.input_check_wrap.without_box{
  .input_check{
    & + label{
      min-height: 20px;
      padding-left: 24px;
      @include fontStyle(inherit, $fs-s, $fw-m, 1.714);
      &::before{
        width: 20px;
        height: 20px;
        top: 0;
        background-image: url("../images/icon/ico_check_20.svg");
      }
    }
    &:checked + label::before{
      background-image: url("../images/icon/ico_check_20_on.svg");
    }
  }
  &_sm{
    .input_check{
      & + label{
        padding-left: 24px;
        @include fontStyle(inherit, $fs-s, $fw-m, 1.357);
        &::before{
          top: 0;
          background-image: url("../images/icon/ico_check_20.svg");
        }
      }
      &:checked + label::before{
        background-image: url("../images/icon/ico_check_20_on.svg");
      }
    }
  }
}
/* Radio Button */
.input_radio {
  display: none;
  &_wrap {
    display: inline-block;
    position: relative;
  }
  & + label {
    display: block;
    position: relative;
    min-height: 20px;
    padding-left: 28px;
    @include fontStyle($gray-950, $fs-s, $fw-m, 1.429 );
    font-family: $font-aritadt;
    user-select: none;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      @include pos_Ycenter;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../images/icon/ico_radio.svg");
    }
  }
  &:checked + label {
    &::before {
      background-image: url("../images/icon/ico_radio_on.svg");
    }
  }
  &:disabled + label {
    color: $gray-600;
    cursor: default;
    &::before {
      background-image: url("../images/icon/ico_radio.svg");
    }
  }
  &[disabled][checked] + label {
    color: $gray-600;
    &::before {
      background-image: url("../images/icon/ico_radio_on.svg");
    }
  }
}
//버튼타입 라디오&체크박스
@mixin radioCheckBtntype{
  & + label{
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 10px 16px;
    border-radius: 9999px;
    background-color:$color-white;
    border:1px solid $gray-200;
    @include fontStyle($gray-800, $fs-sm, $fw-m, 1.3333);
    &::before{
      display: none !important;
    }
  }
  &:checked + label {
    background-color: $color-primary; 
    border-color: $color-primary;
    color: $color-white;
  }
  &:disabled + label {
    border-color: $gray-200;
    background-color: $gray-50; 
    color: $gray-600;
    cursor: default;
  }
  &[disabled][checked] + label {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-white;
  }
  &.read_only {
    & + label {
      border-color: $gray-200;
      background-color: $gray-50; 
      color: $gray-950 !important;
    }
    &[disabled][checked] + label {
      border-color: $gray-200;
      background-color: $gray-50; 
      color: $gray-950 !important;
    }
  }
}
.input_radio_wrap.type_btn, .input_check_wrap.type_btn{
  height: 40px;
}
.input_radio_wrap.type_btn .input_radio, .input_check_wrap.type_btn .input_check{
  @include radioCheckBtntype;
}
.input_radio_wrap.type_btn2, .input_check_wrap.type_btn2{
  width: 100%;
  height: 50px;
}
.input_radio_wrap.type_btn2 .input_radio, .input_check_wrap.type_btn2 .input_check{
  @include radioCheckBtntype;
  &+ label{
    width: 100%;
    padding: 10px 20px;
  }
  &:checked + label {
    font-weight: $fw-sb;
  }
}

//체크리스트(바텀시트)
.input_check_list{
  padding: 0 16px;
  li{
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  .input_check_wrap, .input_radio_wrap{
    display: block;
    min-height: 48px;
    width: 100%;
    &.without_box{
      .input_radio + label, .input_check + label{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        min-height: 48px;
        padding:12px 68px 12px 16px;
        @include fontStyle($gray-950, $fs-m, $fw-m, 1.5);
        border-radius: 8px;
        &::before{
          left: auto;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("../images/icon/ico_check_20.svg");
        }
      }
      .input_radio:checked + label, .input_check:checked + label{
        background-image: none;
        &::before{
          background-image: url("../images/icon/ico_check_20_on.svg");
          //background-color: #2A3136 !important;
        }
      }
      input[type=radio]:checked + label, .input_radio:checked + label{
        background-color:$gray-50;
      }
      input[type=radio] + label, .input_radio + label{
        &::before{
          //background-image: none;
        }
      }
    }
    &.is_img{
      height: 64px;
    }
  }
}