.editor_reset, .board_detail .detail_cont {
  font-family:$font-aritadt;
  min-width:revert;
  line-height:revert;
  font-size:revert;
  color: revert;
  word-break: revert;
  word-wrap: revert;
  -ms-touch-action: revert;
  touch-action: revert;
  line-height: 1.5;
  * {
    padding: revert;
    margin: revert;
    box-sizing: revert;
    -webkit-tap-highlight-color: revert;
  }
}
.editor_reset, .board_detail .detail_cont {
  div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: revert;
    padding: revert;
    border:revert;
    font: revert;
    vertical-align: revert;
    box-sizing: revert;
    letter-spacing: revert;
    font-family:$font-aritadt;
    background-color: revert;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: revert;
    font-family:$font-aritadt;
  }
  img {
    margin: revert;
    padding: revert;
    border:revert;
    font: revert;
    vertical-align: revert;
    box-sizing: revert;
    max-width: revert;
    font-family:$font-aritadt;
  }
  figure, a, button {
    font:revert;
    color: revert;
    line-height: revert;
    text-decoration: revert;
    font-family:$font-aritadt;
  }
  button{
    vertical-align: revert;
    border: revert;
    background: revert;
    white-space: revert;
    outline: revert;
    cursor: revert;
    font-family:$font-aritadt;
  }
  & > a:active, & > a:focus, & >a:hover {
    outline: revert;
    text-decoration: revert;
    color: revert;
    font-family:$font-aritadt;
  }
  ol, ul {
    list-style:  revert;
    font-family:$font-aritadt;
  }
  blockquote,
  q {
    quotes: revert;
    font-family:$font-aritadt;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: revert;
    font-family:$font-aritadt;
  }
  table {
    width: revert;
    border-collapse: revert;
    border-spacing: revert;
    font-family:$font-aritadt;
  }
  td, th{
    border-collapse: revert;
    border-spacing: revert;
    border-color: inherit;
    border: 1px solid;
  }
  input[type="text"], textarea, input[type="button"], input[type='submit'], input[type='search'] {    
    border-radius: revert;
    border: revert;
    box-shadow: revert;
    -webkit-appearance: revert;
    -moz-appearance: revert;
    appearance: revert;
    font-family:$font-aritadt;
  }
  select:focus, input:focus, textarea:focus, button:focus {
    outline: revert;
    font-family:$font-aritadt;
  }
  
}