/* File Uploader */
.uploader_wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .file_uploader > label, .file_name {
    display: block;
    width: 80px;
    height: 80px;
    background-color: $gray-50;
    border: 1px solid $gray-100;
    z-index: 1;
  }
  .input_delete {
    display: block;
    width: 20px;
    height: 20px;
    background-color: $color-primary;
    &::before{
      content: '';
      @include pos_center;
      width: 100%;
      height: 100%;
      background: url('../images/icon/ico_close_box.svg') center/contain no-repeat;
    }
  }
}
.file_uploader {
  position: relative;
  display:block;
  .input_file {
    display: none;
  }
  &>label{
    cursor: pointer;
    &::before {
      content: '';
      @include pos_center;
      width: 20px;
      height: 20px;
      background: url('../images/icon/ico_plus_20.svg') center/contain no-repeat;
      //background-color: $gray-400 !important;
    }
  }
}
.file_name {
  position: relative;
  width: 80px;
  height: 80px;
  input {
    @include text-ellipsis;
    //font-size: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;      
  }
  .input_delete {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;    
  }
  img{
    position: absolute;
    inset: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
  }
}


.ui-uploader {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid $gray-100;
  &-container {
    width: 100%;
    height: 100%;
  }
  &-select {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $gray-50;
    z-index: 1;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;      
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background: url("../images/icon/ico_plus_20.svg") center/contain no-repeat;
      //background-color: #bbbbbb !important;
    }
    a{
      font-size: 0;
      opacity: 0;
    }
  }
  &-preview {
    position: relative;
    .file-delete {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: url("../images/icon/ico_close_box.svg") center/contain no-repeat;
    }
  }
  img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}