/* Icon */
*[class*="ico_"] {
   display: inline-block;
   position: relative;
   vertical-align: middle;
   &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
   }
}
/* svg아이콘 backgroundColor로 색상 변경(!important로 덮기) */
*[class*="ico_"]{
  &.white{
      &::before{
        background-color: $color-white !important;
      }
  }
  &.point{
    &::before{
      background-color: $color-point !important;
    }
  }
  &.primary{
    &::before{
        background-color: $color-primary !important;
    }
  }
}
/* 아이콘 사이즈 클래스 */
*[class*="ico_60"] {
   width: 60px;
   height: 60px;
}
*[class*="ico_44"] {
   width: 44px;
   height: 44px;
}
*[class*="ico_24"] {
   width: 24px;
   height: 24px;
}
*[class*="ico_20"] {
   width: 20px;
   height: 20px;
}
*[class*="ico_16"] {
   width: 16px;
   height: 16px;
}
*[class*="ico_14"] {
  width: 14px;
  height: 14px;
}
*[class*="ico_12"] {
  width: 12px;
  height: 12px;
}

/********* 아이콘 svg 추가 *********/
/* user아이콘 */
.ico {
  &_user {
    &::before {
        @include iconImgPath("ico_user.svg");
    }
    &_on{
      &::before {
        @include iconImgPath("ico_user_on.svg");
        background-color: $color-white !important;
      }
    }
  }
}
/* arrow 아이콘 */
.ico {
  &_chev {
    &Prev {
      &_24{
        &::before {
          @include iconImgPath("ico_chev_prev_24.svg");
        }
      }
    }
    &Next {
      &_16{
        &::before {
          @include iconImgPath("ico_chev_next_16.svg");
        }
      }
      &_20{
        &::before {
          @include iconImgPath("ico_chev_next_20.svg");
        }
        &_15{
          &::before {
            @include iconImgPath("ico_chev_next_20_15.svg");
          }
        }
        &_20{
          &::before {
            @include iconImgPath("ico_chev_next_20_20.svg");
          }
        }
      }
      &_24{
        &::before {
          @include iconImgPath("ico_chev_next_24.svg");
        }
      }
    }
    &Up{
      &_24{
        &::before {
          @include iconImgPath("ico_chev_up_24.svg");
        }
        &_thick{
          &::before {
            @include iconImgPath("ico_chev_up_24_thick.svg");
          }
        }
      }
    }
    &Down {
      &::before {
        @include iconImgPath("ico_chev_down_24.svg");
      }
    }
  }
  &_btn_back{
    &::before {
      background: url("../images/icon/ico_btn_back.svg") center/contain no-repeat;
    }
  }
  &_drop {
    &Down {
      &::before {
        @include iconImgPath("ico_dropdown_arr_24.svg");
      }
    }
  }
}
/* Commerce */
.ico {
  &_promotion {
    &::before {
      @include iconImgPath("ico_promotion.svg");
    }
  }
  &_point {
    &::before {
      @include iconImgPath("ico_point.svg");
    }
    &_on{
      &::before {
        @include iconImgPath("ico_point_on.svg");
        background-color: $color-white !important;
      }
    }
    &_circle{
      &::before{
        @include iconImgPath("ico_point_circle.svg");
      }
    }
  }
  &_wish {
    &::before {
      @include iconImgPath("ico_wish.svg");
    }
    &_on{
      &::before {
        @include iconImgPath("ico_wish_on.svg");
        background-color: $color-white !important;
      }
    }
  }
  &_cart {
    &::before {
        @include iconImgPath("ico_cart.svg");
    }
    &_actionbar{
      &::before {
        @include iconImgPath("ico_cart_actionbar.svg");
      }
    }
    &_float{
      &::before {
        @include iconImgPath("ico_cart_float.svg");
      }
    }
  }
  &_hair{
    &_care{
      &::before {
        @include iconImgPath("ico_hair_care.svg");
      }
    }
    &_clinic{
      &::before {
        @include iconImgPath("ico_hair_clinic.svg");
      }
    }
    &_color{
      &::before {
        @include iconImgPath("ico_hair_color.svg");
      }
    }
    &_perm{
      &::before {
        @include iconImgPath("ico_hair_perm.svg");
      }
    }
    &_salonsupport{
      &::before {
        @include iconImgPath("ico_hair_salonsupport.svg");
      }
    }
    &_scalpcare{
      &::before {
        @include iconImgPath("ico_hair_scalpcare.svg");
      }
    }
    &_styling{
      &::before {
        @include iconImgPath("ico_hair_styling.svg");
      }
    }
  }
  &_point_20{
    &::before {
      @include iconImgPath("ico_point_20.svg");
    }
  }
  &_approval_20{
    &::before {
      @include iconImgPath("ico_approval_20.svg");
    }
  }
  &_calendar_20{
    &::before {
      @include iconImgPath("ico_calendar_20.svg");
    }
  }
  &_coupon_20{
    &::before {
      @include iconImgPath("ico_coupon_20.svg");
    }
  }
}
/* UI actions */
.ico {  
  &_spinner{
    &_down{
      &::before {
        @include iconImgPath("ico_spinner_down.svg");
      }
    }
    &_up{
      &::before {
        @include iconImgPath("ico_spinner_up.svg");
      }
    }
  }
  &_clip{
    &::before {
      @include iconImgPath("ico_clip.svg");
    }
  }
  &_notice{
    &::before {
      @include iconImgPath("ico_notice.svg");
    }
  }
  &_speaker{
    &::before {
      background: transparent url("../../resources/images/icon/ico_speaker.svg") center/contain no-repeat !important;
    }
  }
  &_bell{
    &::before {
      @include iconImgPath("ico_bell.svg");
    }
    &_on{
      &::before {
        background: transparent url("../../resources/images/icon/ico_bell_on.svg") center/contain no-repeat !important;
      }
    }
  }
  &_plus{
    &_12{
      &::before {
        @include iconImgPath("ico_plus_12.svg");
      }
    }
    &_20{
      &::before {
        @include iconImgPath("ico_plus_20.svg");
      }
    }
    &_24{
      &::before {
        @include iconImgPath("ico_plus_24.svg");
      }
    }
  }
  &_minus{
    &_20{
      &::before {
        @include iconImgPath("ico_minus_20.svg");
      }
    }
    &_24{
      &::before {
        @include iconImgPath("ico_minus_24.svg");
      }
    }
  }
  &_check_60{
    &::before {
      @include iconImgPath("ico_check_60.svg");
      background-color: $color-point !important;
    } 
  }
  &_delete{
    &::before {
      @include iconImgPath("ico_delete.svg");
    } 
  }
  &_heart{
    &::before {
      @include iconImgPath("ico_heart.svg");
    } 
  }
  &_heart_red{
    &::before {
      @include iconImgPath("ico_heart_red.svg");
      background-color: $color-point !important;
    }
  }
  &_home {
    &::before {
      @include iconImgPath("ico_home.svg");
    }
  }
  &_home_on {
    &::before {
      @include iconImgPath("ico_home_on.svg");
      background-color: $color-white !important;
    }
  }
  &_search {
    &::before {
      @include iconImgPath("ico_search.svg");
    }
  }
  &_cate {
    &::before {
      @include iconImgPath("ico_cate.svg");
    }
    &_on {
      &::before {
        @include iconImgPath("ico_cate_on.svg");
        background-color: $color-white !important;
      }
    }
  }
  &_close{
    &_20{
      &::before {
        @include iconImgPath("ico_close_20.svg");
      }
      &_sm{
        &::before {
          @include iconImgPath("ico_close_20_sm.svg");
        }
      }
    }
    &_24{
      &::before {
        @include iconImgPath("ico_close_24.svg");
      }
    }
    &_circle {
      &::before {
        background: url("../images/icon/ico_close_circle.svg") center/contain no-repeat;
      }
    }
  }
  &_masking{
    &::before {
      @include iconImgPath("ico_masking.svg");
    }
    &_hidden {
      &::before {
        @include iconImgPath("ico_masking_hidden.svg");
      }
    }
  }
  &_listview{
    &_list{
      &::before {
        @include iconImgPath("ico_listview_list.svg");
      }
    }
    &_thumb {
      &::before {
        @include iconImgPath("ico_listview_thumb.svg");
      }
    }
  }
  &_bnr_line{
    &::before {
      @include iconImgPath("ico_bnr_line.svg");
    }
  }
  &_float{
    &_brand{
      &::before {
        @include iconImgPath("ico_float_brand.svg");
      }
    }
    &_close{
      &::before {
        @include iconImgPath("ico_float_close.svg");
      }
    }
    &_question{
      &::before {
        @include iconImgPath("ico_float_question.svg");
      }
    }
    &_store{
      &::before {
        @include iconImgPath("ico_float_store.svg");
      }
    }
    &_top{
      &::before {
        @include iconImgPath("ico_float_top.svg");
      }
    }
  }
  &_share {
    &::before {
      @include iconImgPath("ico_share.svg");
    }
  }
}
.ico_btn { 
  &_cart{
    &::before {
      @include iconImgPath("ico_btn_cart.svg");
    }
  }
  &_color{
    &::before {
      @include iconImgPath("ico_btn_color.svg");
    }
  }
  &_heart{
    &::before {
      @include iconImgPath("ico_btn_heart.svg");
    } 
  }
  &_heart_red{
    &::before {
      @include iconImgPath("ico_btn_heart_red.svg");
      background-color: $color-point !important;
    }
  }
  &_view{
    &::before {
      @include iconImgPath("ico_btn_view.svg");
    }
  }
}

