.thumb_tab {
  padding: 20px 0;
  .thumb_list {
    padding-left: 15px;
    .tab_list {
      opacity: 0.5;
      &.current {
        opacity: 1;
      }
    }
  }
}

.prd_cont {
  position: relative;
  margin-bottom: 100px;
  padding-bottom: 120px;
  .prd_list_top {
    @include flexBetween;
    padding: 20px 0;
    .count {
      font-size: $fs-xs;
      color: $gray-600;
      span {
        em {
          color: $gray-950;
          font-weight: $fw-sb;
        }
      }
    }
  }
  &.type_list {
    border-top: 1px solid #eee;
    margin-top: 12px;
  }
}

.prd_box {
  &.checked {
    .img {
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 37%;
        height: 37%;
        transform: translate(-50%,-50%);
        background: url('../images/icon/ico_check_60.svg') no-repeat;
        background-size: cover;
        content: '';
      }
    }
  }
  .prd {
    .img {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      .badge {
        position: absolute;
        top:0;
        left: 0;
      }
    }
    .tit {
      font-size: $fs-sm;
      font-weight: $fw-sb;
      color: $gray-950;
      line-height: 1.25rem;
      letter-spacing: -0.3px;
    }
    .amount {
      display: block;
      margin-top: 4px;
      color: $gray-900;
      font-family: $font-aritadt;
      font-size: $fs-s;
      font-weight: 400;
      letter-spacing: -0.28px;
    }
    .price {
      margin-top: 8px;
      color: $gray-950;
      font-size: $fs-md;
      letter-spacing: -0.34px;
      em {
        font-weight: $fw-sb;
      }
      span {
        display: inline-block;
        font-size: $fs-sm;
        font-weight: $fw-b;
        vertical-align: 1px;
      }
    }
  }
  .bottom {
    display: flex;
    gap: 12px;
  }
  &.prd_more{
    @include flexCenter;
    height: 100%;
    a{
      @include flexCenter;
      flex-direction: column;
      gap: 4px;
      [class*=ico_]::before{
        background-color: $gray-700 !important;
      }
      span{
        @include fontStyle($gray-600, $fs-s, $fw-sb, 1.2142);
      }
    }
  }
}

//썸네일형
.prd_list_lg {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 9px;
  .prd_box {
    width: calc((100% - 9px)/2);
    .prd {
      .img {
        background-color: $gray-50;
      }
      .info {
        margin-top: 12px;
        .tit {
          display: block;
        }
        .price {
          margin-top: 12px;
        }
      }
    }
    .bottom {
      margin-top: 10px;
    }
  }
}

// 리스트형
.prd_list_sm {
  gap: 20px;
  .prd_box {
    position: relative;
    width: 100%;
    .prd {
      display: flex;
      gap: 16px;
      .img {
        width: 73px;
        height: 73px;
        flex-shrink: 0;
      }
      .info {
        flex-grow: 1;
      }
    }
    .bottom {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.prd_cart_btn {
  position: fixed;
  left: 0;
  bottom: 136px;
  width: 100%;
  text-align: center;
  .btn_bottom {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .cart_txt {
    display: none;
    width: auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: rgba($color: #2A3136, $alpha: 5.0);
    opacity: 0;
    transition: 0.3s;
    &.active {
      display: inline-block;
      opacity: 1;
    }
  }
}
.put_cart {
  position: inherit;
}

// 찜한 상품 
.ani_liked{
  display: none;
  position: fixed;
  top:50%; 
  left:50%;
  margin-top: -50px;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: .9;
  &.active {
    display: block;
    .ir_like {
      animation: bounce .6s ease forwards;
    }
  }
  .ir_like {       
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url('../images/icon/ico_btn_heart_red.svg') no-repeat;
    background-size: cover;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  30% {
    opacity: 1;
    transform: scale(1.05);
  }
  50% { transform: scale(.8); }
  90% { transform: scale(1);opacity: 1; }
  100% { transform: scale(1);opacity: 0; }
}

//상품 체크
.ani_cart{
  display: none;
  position: fixed;
  top:50%; 
  left:50%;
  margin-top: -50px;
  transform: translate(-50%, -50%);
  z-index: 1;
  &.active {
    display: block;
    .ir_cart {
      animation: dropDown 1s ease forwards;
    }
  }
  .ir_cart {       
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    // background: #2A3136 url('../images/icon/ico_cart_float.svg') no-repeat center;
    border: 2px solid #e2e2e2;
    background-size: 45%;
    overflow: hidden;
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  95% { opacity: .2; }
  100% { transform: translateY(300px) scale(.3); opacity: 0; }
}


// PC
@media (min-width: 1024px) {
  .prd_list_lg {
    gap: 52px 12px;
    .prd_box {
      width: calc((100% - 48px) / 5);
      max-width: 187px;
    }
  }
}

