.thumb_tab {
  padding: 20px 0;
  .thumb_list {
    // padding-left: 15px;
    // padding-right: 15px;
    .tab_list {
      opacity: 0.5;
      &.current {
        opacity: 1;
      }
    }
  }
}

.prd_cont {
  position: relative;
  margin-bottom: 90px;
  padding-bottom: 120px;
  // &:has(.cate_brand.accord_list) {
  //   padding-bottom: 0
  // }
  .prd_list_top {
    @include flexBetween;
    padding: 20px 0;
    .count {
      font-size: $fs-xs;
      color: $gray-600;
      span {
        em {
          color: $gray-950;
          font-weight: $fw-sb;
        }
      }
    }
  }
  .view_type {
    display: flex;
    align-items: center;
    button {
      display: none;
      line-height: 0;
      width: 24px;
      height: 24px;
      &.active {
        display: block;
      }
    }
  }
  &.type_list {
    border-top: 1px solid #eee;
  }
}

.prd_box {
  &.checked {
    .img {
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 37%;
        height: 37%;
        transform: translate(-50%,-50%);
        background: url('../images/icon/ico_check_60.svg') no-repeat;
        background-size: cover;
        content: '';
      }
    }
  }
  .prd {
    .img {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
      }
      .badge {
        position: absolute;
        top:0;
        left: 0;
      }
    }
    .tit {
      display: block;
      font-size: $fs-sm;
      font-weight: $fw-sb;
      color: $gray-950;
      line-height: 1.25rem;
      letter-spacing: -0.3px;
    }
    .amount {
      display: block;
      margin-top: 4px;
      color: $gray-900;
      font-family: $font-aritadt;
      font-size: $fs-s;
      font-weight: 400;
      letter-spacing: -0.28px;
      line-height: 1.0625rem;
    }
    .price {
      margin: 9px 0 5px;
      color: $gray-950;
      font-size: $fs-md;
      letter-spacing: -0.34px;
      line-height: 1.125rem;
      span {
        display: inline-block;
        font-size: $fs-sm;
        font-weight: $fw-b;
        vertical-align: 1px;
      }
    }
    .color_num {
      display: none;
      font-size: $fs-sm;
      font-weight: $fw-sb;
      color: $gray-950;
      letter-spacing: -0.3px;
    }
    .colorchip{
      display: flex;
      align-items: flex-start;
      margin-top: 6px;
      gap: 2px;
      @include fontStyle($gray-700, $fs-s, $fw-m, 1.2142);
      font-family: $font-aritadt;
      img{
        width: 14px;
        height: 14px;
        margin-top: 2px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }
  .bottom {
    display: flex;
    gap: 12px;
  }
  &.prd_more{
    @include flexCenter;
    height: 100%;
    a{
      @include flexCenter;
      flex-direction: column;
      gap: 4px;
      [class*=ico_]::before{
        background-color: $gray-700 !important;
      }
      span{
        @include fontStyle($gray-600, $fs-s, $fw-sb, 1.2142);
      }
    }
  }
}

//썸네일형
.prd_list_lg {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 9px;
  .prd_box {
    width: calc((100% - 9px)/2);
    .prd {
      .img {
        background-color: $gray-50;
      }
      .info {
        margin-top: 12px;
        .tit {
          display: block;
        }
        .price {
          margin-top: 12px;
        }
      }
    }
    .bottom {
      margin-top: 10px;
    }
  }
}

// 리스트형
.prd_list_sm {
  .prd_box {
    position: relative;
    width: 100%;
    & + .prd_box {
      margin-top: 20px;
    }
    &.checked {
      .img {
        &::before {
          width: 54.8%;
          height: 54.8%;
        }
      }
    }
    .prd {
      display: flex;
      gap: 16px;
      .img {
        width: 19.5%;
        min-width: 73px;
        height: 19.5%;
        min-height: 73px;
        flex-shrink: 0;
      }
      .info {
        flex-grow: 1;
      }
    }
    .bottom {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &.xs {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 5px;
    .prd_box {
      width: calc((100% - 15px)/4);
      & + .prd_box {
        margin-top: 0;
      }
      .tit,
      .amount,
      .price {
        display: none;
      }
      .prd {
        display: block;
        gap: 0;
        .img {
          width: 100%;
          height: 100%;
        }
        .color_num {
          display: block;
          margin-top: 6px;
        }
      }
      .bottom {
        position: static;
        justify-content: space-between;
        margin-top: 8px;
        .btn_icon {
          font-size: 0;
        }
      }
    }
  }
}

.prd_cart_btn {
  position: fixed;
  left: 50%;
  bottom: 106px;
  transform: translateX(-50%);
  text-align: center;
  .btn_bottom {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .cart_txt {
    display: none;
    width: auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: rgba($color: #2A3136, $alpha: 5.0);
    opacity: 0;
    transition: 0.3s;
    &.active {
      display: inline-block;
      opacity: 1;
    }
  }
}
.put_cart {
  position: inherit;
}

// 찜한 상품 
.ani_liked{
  display: none;
  position: fixed;
  top:50%; 
  left:50%;
  margin-top: -50px;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: .9;
  &.active {
    display: block;
    .ir_like {
      animation: bounce .6s ease forwards;
    }
  }
  .ir_like {       
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url('../images/icon/ico_btn_heart_red.svg') no-repeat;
    background-size: cover;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  30% {
    opacity: 1;
    transform: scale(1.05);
  }
  50% { transform: scale(.8); }
  90% { transform: scale(1);opacity: 1; }
  100% { transform: scale(1);opacity: 0; }
}

//상품 체크
.ani_cart{
  display: none;
  position: fixed;
  top:50%; 
  left:50%;
  margin-top: -50px;
  transform: translate(-50%, -50%);
  z-index: 1;
  &.active {
    display: block;
    .ir_cart {
      animation: dropDown 1s ease forwards;
    }
  }
  .ir_cart {       
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    // background: #2A3136 url('../images/icon/ico_cart_float.svg') no-repeat center;
    border: 2px solid #e2e2e2;
    background-size: 45%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  95% { opacity: .2; }
  100% { transform: translateY(300px) scale(.3); opacity: 0; }
}

.prd_list_wrap{
  &.swiper{
    padding: 0 0 0 20px;
  }
  .swiper-wrapper.prd_list_lg{
    flex-wrap: nowrap;
    gap: 0;
  }
  .prd_list_lg .prd_box{
    min-width: 150px;
  }
}

.cate_brand.accord_list {
  padding-bottom: 0;
  li {
    background-image: none;
  }
  .accord_tit {
    padding: 0;
    &::before {
      display: none;
    }
  }
  .accord_cont {
    .inner {
      padding: 0 20px 32px;
    }
    .prd_box .prd .tit {
      white-space: normal;
    }
  }
  >li:last-child {
    .accord_cont {
      padding-bottom: 88px;
    }
  }
}

// PC
@media (min-width: 1024px) {
  .prd_cont {
    margin-bottom: 90px;
    padding-bottom: 140px;
    &.type_list {
      max-width: 1024px;
      margin: 0 auto 90px;
    }
  }
  .prd_cart_btn {
    .btn_bottom {
      width: 260px;
    }
  }
  .prd_list_lg {
    gap: 52px 12px;
    .prd_box {
      width: calc((100% - 48px) / 5);
      max-width: 187px;
    }
  }
  .prd_list_sm {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 20px;
    .prd_box {
      width: calc((100% - 20px) / 2);
      & + .prd_box {
        margin-top: 0;
      }
      .prd {
        .img {
          max-width: 100px;
        }
        .info {
          position: relative;
          .price {
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    &.xs {
      gap: 32px 12px;
      .prd_box {
        width: calc((100% - 72px) / 6);
        max-width: 154px;
        &.checked {
          .img {
            &::before {
              width: 35%;
              height: 35%;
            }
          }
        }
        .prd {
          .img {
            max-width: 100%;
          }
        }
        .bottom {
          .btn_icon {
            font-size: $fs-xs;
          }
        }
      }
    }
  }
  .thumb_tab  {
    border-bottom: 1px solid #eee;
  }
  .prd_cont {
    &.type_list {
      border-top: none;
    }
  }
}

.page_form {
  .login_first {
    max-width:  335px;
    margin: 0 auto;
    padding: 50px 0 0 0;
    .simbol {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .info_area {
      .input_group {
        padding:0;
        + .input_group  {
          margin-top: 10px;
        }
      }
    }
    .input_check_wrap {
      margin-top: 16px;
    }
    .btn_group {
      padding: 16px 0 0;
    }
    .list_btn_wrap {
      margin-top: 24px;
    }
  }
}

// PC
.list_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  >li {
    + li {
      &::before {
        display: inline-block;
        margin: 0 12px;
        width: 1px;
        height: 14px;
        background: #E2E2E2;
        vertical-align: -2px;
        content: '';
      }
    }
    >a {
      color:$gray-950;
      font-size: $fs-sm;
      line-height: 20px;
      letter-spacing: -0.3px;
    }
  }
}

//pc
@media (min-width: 1024px) {
  .page_form {
    .login_first {
      padding-top: 100px;
      .input_group{
        grid-template-columns:1fr;
        label:not(.input_label){
          grid-column-start: 1;
        }
      }
    }
  }
}

.sign_img {
  width: 120px;
  margin: 80px auto 72px;
}
.sign_state_wrap {
  padding: 0 20px;
  margin-top: 20px;
}
.sign_state {
  padding: 20px 40px;
  background: #F6F6F6;
  border-radius: 8px;
  text-align: center;
  dt {
    color: $gray-950;
    font-size: $fs-xs;
    font-weight: $fw-sb;
    line-height: 18px; 
    letter-spacing: -0.26px;
  }
  dd {
    margin-top: 4px;
    color: #1A63D9;
    font-size: $fs-ml;
    font-weight: $fw-b;
    line-height: 26px;
    letter-spacing: -0.36px;
  }
  &.userID_box{
    dd{
      @include fontStyle($gray-950, $fs-md, $fw-m, 1.176);
    }
  }
}


.complete_txt {
  padding: 40px 0 36px;
  background: #DFEDFF url('../images/contents/img_complete_txt.png') no-repeat top /100%;
  .txt_box {
    max-width: 261px;
    margin: 0 auto;
    text-align: center;
    strong {
      display: block;
      font-size: 22px;
      font-weight: $fw-b;
      line-height: 32px;
      letter-spacing: -0.44px;
      span {
        display: block;
        font-size: 18px;
        font-weight: $fw-b;
        line-height: 26px;
        letter-spacing: -0.36px;
      }
    }
    p {
      margin-top: 13px;
      color: #1A63D9;
      font-size: 14px;
      font-weight: $fw-sb;
      line-height: 19px;
    }
  }
}

.radio_btn_outer {
  padding: 32px 20px 0;
  >li {
    &+li {
      margin-top: 40px;
    }
  }
}
.radio_btn_box {
  .tit {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: $fw-sb;
    line-height: 28px;
    letter-spacing: -0.4px;
  }
  .radio_btn_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

//pc
@media (min-width: 1024px) {
  .complete_txt {
    max-width: 700px;
    margin: 0 auto;
  }
}

.prd_top_info {
  .prd_img {
    background: #F6F6F6;
    width: 100%;
    aspect-ratio: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-pagination {
      bottom: 28px;
    }
  }
  .prd_info {
    padding-top: 20px;
    .tit {
      display: block;
      @include fontStyle($gray-950, $fs-l, $fw-b, 28px);
    }
    .vol {
      display: block;
      margin-top: 4px;
      @include fontStyle($gray-900, $fs-sm, $fw-m, 20px);
    }
    .summary {
      margin-top: 2px;
      @include fontStyle($gray-600, $fs-s, $fw-m, 17px);
    }
    .price {
      margin-top: 12px;
      em {
        @include fontStyle($gray-950, $fs-lg, $fw-b, 34px);
      }
      span {
        @include fontStyle($gray-950, $fs-l, $fw-sb, 28px);
        vertical-align: 2px;
      }
    }
    .desc {
      display: grid;
      grid-template-columns: 84px 1fr;
      gap: 16px 12px;
      padding: 24px 0 28px;
      margin-top: 16px;
      border-top: 1px solid #2A3136;
      border-bottom: 1px solid #E2E2E2;
      dt {
        @include fontStyle($gray-950, $fs-xs, $fw-m, 16px);
      }
      dd {
        @include fontStyle($gray-800, $fs-sm, $fw-m, 20px);
        word-break: break-word;
      }
    }
  }
}
.prd_detail_view {
  margin-top: 40px;
  .tab_menu {
    overflow: hidden;
    >ul {
      >li {
        flex: 1;
      }
    }
  }
}

