//Body
body{
  &.no_scroll{
    overflow: hidden;
  }
}
//Header
header{
  background-color: $color-white;
  z-index: 100;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  &.downscroll, &.fixed.downscroll{
    position: fixed;
    animation: smoothUp 300ms forwards;
  }
  &.upscroll, &.fixed.upscroll{
    animation: smoothDwon 300ms forwards;
  }
  @keyframes smoothDwon {
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
  }
  @keyframes smoothUp {
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
  }
  &.fixed{
    position: sticky;
    top: 0;    
  }
}
//Layout > Inner
.appbar > .inner, section > .inner, footer > .inner, .btm_bar > .inner{
  padding: 0 20px;
  @media (min-width: $pc-point) {
    max-width: $pc-point;
    margin: 0 auto;
  }
}
.hr_divider{
  width: 100%;
  height: 8px;
  background-color: $gray-50;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;;
}
//FOOTER
footer{
  margin-bottom: $btmbar-H;
  padding: 40px 0 60px;
  background-color: $gray-50;
  .accord{
    &_head{
      background-color: transparent;
      border: none !important;
    }
    &_tit{
      padding: 0;
      margin: 0 0 28px 0;
      border: 0;
      &::before{
        width: 24px;
        height: 24px;
        mask-image: url('../images/icon/ico_chev_up_24.svg');
        background-color: $color-primary !important;
      }
    }
    &_cont{
      padding: 0 0 20px;
      background-color: transparent;
    }
  } 
  .logo{
    height: 24px;
    img{
      width: auto;
      height: 100%;
    }
  }
  .f_info{
    display: flex;
    gap: 26px;
    padding: 20px 0 0;
    border-top: 1px solid $gray-200;
    li, a{
      @include fontStyle($gray-900, $fs-xxs, $fw-sb, 1.33333);
    }
  }
  .f_copyright{
    padding-top: 8px;
    @include fontStyle($gray-700, $fs-xxs, $fw-l, 1.3333);
    span{
      font-weight: $fw-m;
    }
  }
  .f_cs{
    & > p:not(.tel){
      @include fontStyle($gray-900, $fs-s, $fw-b, 1.214);
      text-decoration: underline;
      text-transform: capitalize;
    }
    .tel{
      margin-top: 2px;
      text-decoration: none;
      @include fontStyle($gray-900, $fs-lg, $fw-m, 1.416);
    }
    ul{
      margin-top: 9px;
    }
    li{
      @include fontStyle($gray-700, $fs-xxs, $fw-l, 1.333);
      & + li{
        margin-top: 4px;
      }
      span{
        position: relative;
        display: inline-block;        
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid $gray-700;
        line-height: 12px;
        font-weight: $fw-sb;
      }
    }
  }
  .f_company{
    margin-top: 17px;
    @include fontStyle($gray-700, $fs-xxs, $fw-m, 1.5555);
    font-family:$font-aritadt;
  }
  @media (min-width: $pc-point) {
    padding: 32px 40px;
    .inner{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .accord{
      &_list{
        grid-column: 1/-1;
      }
      &_tit{
        pointer-events: none;
        &::before{
          display: none;
        }
      }
      &_cont{
        display: flex !important;
        height: auto !important;
        justify-content: space-between;
        padding: 0 0 16px;
      }
    }
    .f_cs{
      ul{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 5px;
        li{
          & + li{
            margin-top: 0;
          }
          span{
            margin-right: 4px;
            padding-right: 4px;
          }
        }
      }
    }
    .f_company, .f_copyright{
      text-align: right;
    }
    .f_info, .f_copyright{
      padding-top: 12px;
    }
  }
}

//제품 리스트 스와이퍼 섹션 공통
.prd_list_wrap{
  &.swiper{
    padding: 0 0 0 20px;
    @media (min-width: $pc-point) {
      max-width: calc($pc-point - 40px);
      margin: 0 auto;
      padding: 0 0 46px;
    }
  }
  .prd_box.swiper-slide{
    min-width: 159px;
    background-color: $color-white;
    padding: 8px 0 0 9px;
    margin-left: -1px;
  }
  .prd_list_lg.swiper-wrapper{
    flex-wrap: nowrap;
    gap: 0;
  }
  .prd_list_sm.xs {
    flex-wrap: nowrap;
    gap: 0;
    .prd_box {
      .amount {
        display: block;
      }
      .price {
        display: block;
        margin: 12px 0 0 0;
      }
    }
  }
}
.sec_product{
  padding-top: 32px;
  position: relative;
  &::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 210px;
    background-color: $color-primary;
  }
  .swiper-pagination{
    display: none;
    @media (min-width: $pc-point) {
      display: block;
      bottom: 0;
    }
  }
  &.is_noBack{
    padding-top: 0;
    &::before{
      background-color: transparent;
    }
    .tit_area{
      h2{
        color: $gray-950;
      }
      .ico_chevNext_24::before{
        background-color:$color-primary !important;
      }
    }
    .prd_box.swiper-slide{
      min-width: 150px;
      padding: 0;
      margin-left: 0;
    }
  }
}