.page_sign{
  .btn_group{
    padding: 60px 20px 30px;
  }
  .info_area{
    padding: 50px 0px 0;
  }
  .info_read{
    padding: 0 20px 24px;
  }
  .input_group{
    padding: 24px 20px 0;
  }
  .inner {
    max-width: 740px;
    margin: 0 auto;
  }
  .p_tit {
    display: none;
  }
}
.sign_notice{
  padding: 32px 20px 0;
  p{
    @include fontStyle($gray-950, $fs-lg, $fw-sb, 1.4167);
  }
  span{
    display: inline-block;
    margin-top: 12px;
    @include fontStyle($gray-800, $fs-sm, $fw-m, 1.4667);
  }
}


@media (min-width: 1024px) {
  .page_sign {
    .p_tit {
      display: block;
      padding: 60px 0 32px;
      margin: 0 20px;
      border-bottom: 2px solid $gray-950;
      @include fontStyle($gray-950, 28px, $fw-sb, 38px);
      text-align: center;
    }
    .btn_group {
      max-width: 335px;
      margin: 0 auto;
      padding: 132px 0 0;
    }
  }
  .sign_notice { 
    padding-top: 40px;
    br {
      display: none;
    }
  }
}