.page_form{
  .hr_divider{
    height: 8px;
    margin: 24px 0 !important;
    & + .radio_btn_outer{
      padding-top: 0;
    }
  }
  .btn_group{
    padding: 60px 20px 30px;
  }
  .info_area{
    padding: 50px 0px 0;
  }
  .input_group{
    padding: 24px 20px 0;
    &.with_time{
      padding-top: 6px;
    }
  }
  .inner {
    max-width: 740px;
    margin: 0 auto;
  }
  .p_tit {
    display: none;
  }
  .ask_tit {
    display: block;
    @include fontStyle($gray-950, $fs-l, $fw-sb, 1.4);
    margin-bottom: 12px;
  }
}
.sign_notice{
  padding: 32px 20px 0;
  p{
    @include fontStyle($gray-950, $fs-lg, $fw-sb, 1.4167);
    font-family: $font-aritadt;
  }
  span{
    display: inline-block;
    margin-top: 12px;
    @include fontStyle($gray-800, $fs-sm, $fw-m, 1.4667);
  }
}
.info_area{
  padding: 50px 0px 0;
  .input_group:first-child {
    padding-top: 0;
  }
  .sign_state_wrap{
    margin-top: 0;
  }
  .radio_btn_outer:nth-of-type(1){
    padding-top: 0;
  }
  .input_check_list{
    padding: 0 20px;
  }
}
.info_read{
  padding: 0 20px 24px;
  border-bottom: 8px solid $gray-50;
  dl{
    display: flex;
    gap: 12px;
    padding: 4px 0;
    dt, dd{
      flex:1;
      @include fontStyle($gray-950, $fs-m, $fw-m, 1.5);
      font-family: $font-aritadt;
    }
    dt{
      flex: 0 0 100px;
      color: $gray-600;
    }
  }
  @media (min-width: $pc-point) {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    dl{
      flex: calc(50% - 30px);
      &:nth-child(n){order: 2;}
      &:nth-child(1){order: 0;}        
      &:nth-child(3){order: 1;}
    }
  }
  &.type_row{
    dl{
      display: block;
      padding: 20px 0 0 0;
      &:first-child{
        padding-top: 0;
      }
    }
    dt,dd{
      color: $gray-950;
    }
    dt{
      font-weight: $fw-sb;
    }
    dd{
      margin-top: 4px;
    }
  }
  &_wrap{
    padding: 32px 0 0;
    .tit{
      padding: 0 20px 20px;
      @include fontStyle($gray-950, $fs-ml, $fw-b, 1.4444);
    }
    & > .info_read{
      border-bottom: 0;
      padding: 0 20px 8px;
      dl:last-child{
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-100;
      }
    }
  }
}
.sign_guide{
  padding: 24px 24px 0;
  p{
    @include fontStyle($gray-800, $fs-sm, $fw-m, 1.3333);
    text-align: center;
    .user_name{
      color:$gray-900;
      font-weight: $fw-sb;
    }
    em{
      color:#1A63D9;
      font-weight: $fw-sb;
    }
    & + p{
      margin-top: 16px;
    }
  }
}
.user_check.input_check_list{
  li + li {
    margin-top: 10px;
  }
  .input_check_wrap{
    height: auto;
    .input_radio {
      &:checked + label{
        background-color: $color-blue-secondary;
      }
      & + label{
        padding: 30px;
        @include fontStyle($gray-950, $fs-ml, $fw-b, 1.444);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
        background-color: $color-white;
        border:1px solid $gray-50;
        border-radius: 8px;
        &::before{
          right: 30px;
          width: 24px;
          height: 24px;
          mask-image: url(../images/icon/ico_check_24_on.svg);
          background-color: $gray-400 !important;
        }
      }
    }
  }
}
.agree_check{
  padding: 0 20px;
  & > p{
    margin:10px 0 0;
    @include fontStyle($gray-700, $fs-s, $fw-m, 1.357);
  }
  &_list{
    padding: 16px 0 0;
    margin: 16px 0 0;
    border-top: 1px solid $gray-100;
    li{
      @include flexBetween;
      padding: 8px 0;
      button{
        &::before{
          background-color: $gray-950 !important;
        }
      }
    }
    .input_check_wrap{
      flex: 1;
      margin-right: 40px;
    }
  }
}
@media (min-width: 1024px) {
  .page_form {
    #container {
      >.inner {
        padding: 60px 0 82px;
      }
    }
    .tab_menu {
      display: block;
      max-width: 700px;
      margin: 0 auto;
    }
    .p_tit {
      display: block;
      padding: 0 0 32px;
      margin: 0 20px;
      border-bottom: 2px solid $gray-950;
      @include fontStyle($gray-950, 28px, $fw-sb, 38px);
      text-align: center;
    }
    .btn_group {
      max-width: 335px;
      margin: 0 auto;
      padding: 60px 0 0;
    }
    .input_group{
      display: grid;
      grid-template-columns: 150px 1fr;
      gap: 8px 20px;
      padding:20px 20px 0;
      .select_box, label:not(.input_label), p, .txt_alert{
        grid-column-start: 2;
      }
      &.pc_full{
        grid-template-columns: 1fr;
        .select_box, label:not(.input_label), p, .txt_alert{
          grid-column-start: 1;
        }
      }
    }
    .input_label{
      display: block;
      grid-column: 1/2;
      grid-row:1/-1;
      padding-top: 16px;
    }
  }
  .sign_notice { 
    padding-top: 40px;
    br {
      display: none;
    }
  }
  .info_read{
    border-bottom-width: 1px;
  }
}
//제품 리스트 스와이퍼 섹션 공통
.prd_list_wrap{
  &.swiper{
    padding: 0 0 0 20px;
    background-color: $color-white;
    @media (min-width: $pc-point) {
      max-width: calc($pc-point - 40px);
      margin: 0 auto;
      padding: 0 0 46px;
    }
  }
  .prd_list_lg.swiper-wrapper{
    flex-wrap: nowrap;
    gap: 0;
    padding: 8px 0 0 9px;
    background-color: $color-white;
  }
}
.sec_product{
  padding-top: 32px;
  position: relative;
  &::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 210px;
    background-color: $color-primary;
  }
  .swiper-pagination{
    display: none;
    @media (min-width: $pc-point) {
      display: block;
      bottom: 0;
    }
  }
  &.is_noBack{
    padding-top: 0;
    &::before{
      background-color: transparent;
    }
    .tit_area{
      h2{
        color: $gray-950;
      }
      .ico_chevNext_24::before{
        background-color:$color-primary !important;
      }
    }
    .prd_list_lg.swiper-wrapper{
      margin-left: -4px;
      padding: 0;
      background-color: $color-white;
    }
    .prd_box.swiper-slide{
      max-width: none;
      padding-left: 4px;
    }
  }
}