.page_main{
  section{
    margin: 60px 0 60px 0;
    &.hr_divider{
      margin: 0 !important;
      max-width: none;
    }
  }
  .tit_area{
    padding:0 0 24px 0;
    h2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include fontStyle($color-white, $fs-lg, $fw-sb, 1.417); 
    }
    .ico_chevNext_24::before{
      //background-color:$color-white !important;
    }
    .desc{
      @include fontStyle($gray-400, $fs-s, $fw-m, 1.214)
    }
  }
  .sec_visual{
    margin: 0;
  }
  .sec_banner{
    margin: 0;
  }
  .sec_amount{
    margin: 0;
    padding: 24px 0 40px;
    background-color: $gray-950;
    .tit_area{
      padding: 0 0 16px 0;
      h2{
        justify-content: center;
        color: $color-white;
        font-weight: $fw-sb;
      }
    }
    & > .inner{
      overflow-x: auto;
      & > ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 8px;
        @media (min-width: $pc-point) {
          flex-direction: row;
        }
        li{
          display: flex;      
          width: 335px;
          align-items: center;
          gap:16px;
          padding: 20px 20px 24px;
          background-color: $color-white;
          border-radius: 8px;
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.03);
          @media (max-width: $mo-point) {
            width: 100%;
            .half_progress{
              align-self: center;
            }
          }
        }
        .txt_wrap{
          flex: 1;
          dl{
            @include flexBetween;
            flex-wrap: wrap;
            gap: 4px 0;
            & + dl{
              margin-top:8px; 
              padding-top:8px; 
              border-top: 1px solid $gray-100;
            }
          }
        }
        .txt_index {
          min-width: 74px;
          margin-right: 6px;
          @include fontStyle($gray-600, $fs-xs, $fw-sb, 1.3846);
        }
        .price{
          @include flexCenter;
          @include fontStyle($gray-950, $fs-md, $fw-m, 20px);
          em{
            @include fontStyle($gray-950, $fs-s, $fw-sb, 20px);
          }
        }
        @media (max-width: $mo-point) {
          .txt_index, .price{
            flex:100%;
            justify-content:flex-start;
          }
        }
      }
    }
  }
  .sec_type{
    margin-top: 12px;
    .tab_cont{
      padding: 20px 0 0 0;
    }
    @media (min-width: $pc-point) {
      .inner{
        max-width: 715px;
      }
      .tab_menu{
        overflow: hidden;
      }
    }
  }
  /* 메인 스와이퍼 */
  #mainTopSwiper {
    &.swiper-container{
      color:$color-white;
    }
    .swiper{
      &-slide{
        background-color: #6E93BF;
        height: 0; 
        padding-bottom: 80%;
        & > a, & > img{
          content: '';
          position: absolute;
          top: 0; 
          left: 0;
          width: 100%; 
          height: 100%;
          img{
            object-fit: contain;
            width: 100%; 
            height: 100%;
          }          
        }
        @media (min-width: $pc-point) {
          min-width: 375px;
          max-width: 375px;
          height: 300px; 
          padding-bottom: 0;
        }
      }
      &-pagination{
        top: auto;
        bottom: 20px;
        right: 20px;
        left: auto;
        text-align: right;
        @include fontStyle($color-white, $fs-xxs, $fw-l, 1.3333);
        &-total{
          opacity: 0.7;
        }
      }
    }
  }  
}
/* 메인 띠베너 */
.banner_line{
  @include flexCenter;
  height: 40px;
  & > .inner{
    padding: 0 20px;
  }
  & > span{
    white-space:normal;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow:hidden;
    @include fontStyle($gray-100, $fs-s, $fw-m, 1.357);
    letter-spacing: -0.28px;
    em{
      color:#ED7531;
    }
  }
}
/* 메인 반원 그래프 */
.half_progress {
  flex: 0 0 70px;
  width: 70px;
  height: 58px;
  position: relative;
  text-align: center;
  align-self: start;
  .percent {
    position: absolute;
    top:25px;
    left: 0;
    width: 100%;
    text-align: center;
    p{
      @include fontStyle($gray-950, $fs-ml, $fw-b, 1);
      font-family: $font-gotham;
    }
  }
  .bar_overflow {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 58px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      border: 5px solid transparent;
      border-radius: 50%;
      border-color: #33ECA9;
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-sizing: border-box;
    }
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 5px solid $gray-100;
      border-bottom-color: transparent;
      transform: rotate(15deg);
    }
  }
  .left {
    z-index: 1;
    position: absolute;
    background: #33ECA9;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 9.6px;
    bottom: -2px;
    overflow: hidden;
  }
  .right { 
    position: absolute;
    background: $gray-100;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    right: 9.7px;
    bottom: -2px;
    overflow: hidden; 
  }
  &.orange{
    .left {
      background: #FF7E36;
    }
    .bar_overflow {
      &::before{
        border-color: #FF7E36;
      }
    }
  }
}

/* 카테고리 페이지 */
.page_category{
   max-height: calc(100dvh - $appbar-H - $btmbar-H);
  .tab_menu ul, .tab_cont{
    max-width: 700px;
    margin: 0 auto;
  }
  .tab_cont{
    padding: 0;
  }
}
.cate{
  &_pro, &_tv{
    display: none;
    &.is_show{
      display: block;
    }
  }
  &_pro{
    .cate_list{
      //padding-bottom: 55vh;
      scroll-behavior: smooth;
    }
  }
  &_tv{
    
  }
  &_tit{
   cursor: pointer;
    @include fontStyle($gray-600, $fs-s, $fw-m, 2.285);
  }
  &_wrap{
    @include flexStart;
    align-items: flex-start;
  }
  &_nav{
    flex:0 0 125px;
    height: 100%;
    background-color: $gray-50;
    ul{
      height: 100%;
      overflow-y: auto;
      @include verticalScroll;
    }
    li.active{
      a{
        color: $gray-950;
        font-weight: $fw-sb;
        background-color: $color-white;
      }
    }
    a{
      display: block;
      padding: 8px 20px;
      transition: background-color .3s;
    }
  }
  &_list{
    @include verticalScroll;
    flex:1;
    padding: 0 22px 0 16px;
    height: 100%;
    overflow-y: auto;
    & > div{
      padding-bottom: 8px;
      &:last-child{
        padding-bottom: 24px;
        min-height: calc(100dvh - $btmbar-H - $header-H);
      }
    }
    .list_tit{
      @include flexBetween;
      gap: 8px;
      margin: 0 0 4px 0;
      padding: 24px 0 16px;
      border-bottom: 1px solid $color-primary;
      span{
        margin-right: auto;
        @include fontStyle($gray-950, $fs-m, $fw-sb, 1.5);
      }
      .ico_24::before{
        //background-color: $gray-950;
      }
      .ico_20::before{
        //background-color: $color-primary;
      }
    }
    .cate_tit{
      display: block;
      padding: 8px 20px 8px 8px;
      color: $gray-950;
      line-height: 1.714;
    }
  }
  &_brand{
    li{
      background-image: url("../images/contents/img_prd_list_lg_01.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      >a{
				cursor: pointer;
        position: relative;
        @include flexCenter;
        justify-content: flex-start;
        height: 132px;
        padding-left: 20px;
        @include fontStyle($color-white, $fs-lg, $fw-sb, 1.4166);
        // &::before{
        //   z-index: -1;
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   background: rgb(0, 0, 0, 0.6);
        // }
      }
    }
    li+ li{
      border-top: 1px solid $color-white;
    }
  }
  &_service{
    padding: 4px 16px 56px;
    .service_tit{
      display: block;
      padding: 12px 0 12px 20px;
      @include fontStyle($gray-950, $fs-sm, $fw-m, 1.143);
      a{
        display: block;
      }
    }
    .accord{
      &_list {
        &.is_plus {
          .accord_tit {
            flex-wrap: wrap;
            padding-right: 32px;
            white-space: normal;
          }
        }
      }
      &_cont{
        padding:0 0 16px 0;
      }
    }
  }
  &_wrap, &_brand, &_service{
    height: calc(100dvh - 190px);
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
    @media (min-width: $pc-point) {
      &::-webkit-scrollbar{
        display: block;
      }
      @include verticalScroll;
    }
  }
}
.tab_cont_item{
  .thumb_list{
    gap: 16px 5px;
    & > li{
      margin: 0;
      width: auto;
      flex: 0 0 calc((100% - 15px)/4);
      @media (max-width: $mo-point) {
        min-width: auto;
      }
    }
    @media (min-width: $pc-point) {
      justify-content: center;
      li{
        flex: 1;
        max-width: 80px;

      }
    }
  }
}

/* Loading */
.loading{
  &_wrap {
    z-index: 1111;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  &_logo{
    max-width: 40px;
    height: auto;
  }
  &_center{
    position: relative;
  }
  &_message{
    margin-top: 20px;
    @include fontStyle($color-white, $fs-sm, $fw-m, 1.4667);
  }
  &_logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width:97px;
    height:97px;
    background: url('../images/logo-white.svg') center/40px no-repeat;
    //background-color: $color-white;
  }
  &_spinner{
    .ani_01,.ani_02, .ani_03, .ani_04, .ani_05, .ani_06, .ani_07, .ani_08, .ani_09, .ani_10, .ani_11{
      fill: rgba(255, 255, 255, .3);
      animation: loadingSpin 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation-iteration-count: infinite;
    }
    .ani_01{animation-delay: 0s;}
    .ani_11 {animation-delay: 0.1s;}
    .ani_10 {animation-delay: 0.2s;}
    .ani_09 {animation-delay: 0.3s;}
    .ani_08 {animation-delay: 0.4s;}
    .ani_07 {animation-delay: 0.5s;}
    .ani_06 {animation-delay: 0.6s;}
    .ani_05 {animation-delay: 0.7s;}
    .ani_04 {animation-delay: 0.8s;}
    .ani_03 {animation-delay: 0.9s;}
    .ani_02 {animation-delay: 1s;}
    @keyframes loadingSpin {
      100% {
        fill: rgba(255, 255, 255, 1);
      }
    }
  }
}

/* 메인 실적현황 */
.performance_box{
  //border: 1px solid;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  &:first-child{
    margin-top: 0;
  }
  &_wrap{
    &.club_black{
      .tit{
        background-color: $color-club-black;
      }
    }
    &.club_purple{
      .tit{
        background-color: $color-club-purple;
      }
    }
    &.club_green{
      .tit{
        background-color: $color-club-green;
      }
    }
  }
  .tit{
      @include flexCenter;
      @include fontStyle($color-white, $fs-s, $fw-l, 1);
      text-transform: uppercase;
      height: 34px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
  }
  .view_point{
    width: 100%;
    margin: 16px 0 0;
    padding: 0;
    background-color: transparent;
    color: $gray-900;
    .point_list{
      align-items: center;
      & + .point_list{
        margin-top: 8px;
      }
      & > em{
        gap: 4px;
        font-size: $fs-xs;
        font-weight: $fw-sb;
        line-height: 1.384;
        span{
          @include fontStyle($gray-600, $fs-xxs, $fw-m, 1.7);
          font-family: $font-aritadt;
        }
      }
      .point{
        white-space: nowrap;
        font-size: $fs-md;
        line-height: 1.176;
        color: $gray-950;
      }
    }
  }
  .cont{
    background-color: $color-white;
    padding: 16px 20px 20px;
    &_top{
      @include flexBetween;
      padding-bottom: 12px;
      border-bottom: 1px solid $gray-900;
      .view_point{
        margin: 0;
        color: $gray-950;
        .point{
          color: inherit;
          font-size: $fs-ml;
          line-height:1.444;
        }
        .point_list{
          & > em{
            font-size: $fs-sm;
          }
        }
      }
      p{
        @include fontStyle($gray-600, $fs-xxs, $fw-m, 1.3333);
      }
    }
  }
  .txt_wrap{
    flex: 100%;
    dl{
      @include flexBetween;
    }
  }
  .select_box.select_box_defalut{
    width: auto;
    min-width: 96px;
    .select_box_arr{
      font-weight: 700;
      color: $gray-950 !important;
      &::after{
        right: 0;
      }
    }
    .select_box_value{
      border: 0;
      height: 20px;
      padding: 0 24px 0 0;
      font-size: 15px;
      line-height: 1.3333;
    }
  }
  .half_progress_wrap{
    @include flexStart;
    gap:16px;
    margin-top: 16px;
    .view_point{
      margin-top: 0;
      .point_list > em{
        flex-wrap: wrap;
        gap: 0px;
        span{
          width: 100%;
        }
      }
    }
  }
  .btn_area{
    padding: 4px 20px 16px;
    background-color: $color-white;
  }
}
.performance_list{
  li{
    &:nth-child(n+2){
      margin-top: 16px;
      border-top: 1px solid $gray-100;
    }
  }
}

