.page_main{
  section{
    margin: 60px 0 60px 0;
    &.hr_divider{
      margin: 0 !important;
      max-width: none;
    }
  }
  .tit_area{
    padding:0 0 24px 0;
    h2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include fontStyle($color-white, $fs-lg, $fw-sb, 1.417); 
    }
    .ico_chevNext_24::before{
      background-color:$color-white !important;
    }
    .desc{
      @include fontStyle($gray-400, $fs-s, $fw-m, 1.214)
    }
  }
  .sec_visual{
    margin: 0;
  }
  .sec_banner{
    margin: 0;
  }
  .sec_amount{
    margin-top: 0;
    padding: 24px 0 40px;
    background-color: $gray-950;
    .tit_area{
      padding: 0 0 16px 0;
      h2{
        justify-content: center;
        color: $color-white;
        font-weight: $fw-sb;
      }
    }
    & > .inner{
      overflow-x: auto;
    }
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px 8px;
      @media (min-width: $pc-point) {
        flex-direction: row;
      }
    }
    li{
      display: flex;      
      width: 335px;
      align-items: center;
      gap:16px;
      padding: 20px 20px 24px;
      background-color: $color-white;
      border-radius: 8px;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.03);
      @media (max-width: $mo-point) {
        width: 100%;
        .half_progress{
          align-self: center;
        }
      }
    }
    .txt_wrap{
      flex: 1;
      dl{
        @include flexBetween;
        flex-wrap: wrap;
        gap: 4px 0;
        & + dl{
          margin-top:8px; 
          padding-top:8px; 
          border-top: 1px solid $gray-100;
        }
      }
    }
    .txt_index {
      min-width: 74px;
      margin-right: 12px;
      @include fontStyle($gray-600, $fs-xs, $fw-sb, 1.3846);
    }
    .price{
      @include flexCenter;
      @include fontStyle($gray-950, $fs-md, $fw-m, 20px);
      em{
        @include fontStyle($gray-950, $fs-s, $fw-sb, 20px);
      }
    }
  }
  .sec_type{
    margin-top: 0;
    padding: 12px 0 0 0;
    .tab_cont{
      padding: 20px 0 0 0;
    }
    @media (min-width: $pc-point) {
      .inner{
        max-width: 715px;
      }
      .tab_menu{
        overflow: hidden;
      }
    }
  }
  /* 메인 스와이퍼 */
  #mainTopSwiper {
    &.swiper-container{
      color:$color-white;
    }
    .swiper{
      &-slide{
        background-color: #6E93BF;
        height: 0; 
        padding-bottom: 80%;
        & > a, & > img{
          content: '';
          position: absolute;
          top: 0; 
          left: 0;
          width: 100%; 
          height: 100%;
          img{
            object-fit: contain;
            width: 100%; 
            height: 100%;
          }          
        }
        @media (min-width: $pc-point) {
          min-width: 375px;
          max-width: 375px;
          height: 300px; 
          padding-bottom: 0;
        }
      }
      &-pagination{
        top: auto;
        bottom: 20px;
        right: 20px;
        left: auto;
        text-align: right;
        @include fontStyle($color-white, $fs-xxs, $fw-l, 1.3333);
        &-total{
          opacity: 0.7;
        }
      }
    }
  }  
}
/* 메인 띠베너 */
.banner_line{
  @include flexCenter;
  height: 40px;
  & > .inner{
    padding: 0 20px;
  }
  & > span{
    white-space:normal;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    overflow:hidden;
    @include fontStyle($gray-100, $fs-s, $fw-m, 1.357);
    letter-spacing: -0.28px;
    em{
      color:#ED7531;
    }
  }
}
/* 메인 반원 그래프 */
.half_progress {
  flex: 0 0 80px;
  width: 80px;
  height: 66px;
  position: relative;
  text-align: center;
  align-self: start;
  .percent {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    p{
      @include fontStyle($gray-950, $fs-23, $fw-b, 1.3913);
      font-family: $font-gotham;
    }
  }
  .bar_overflow {
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 66px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      border: 4px solid transparent;
      border-radius: 50%;
      border-color: #33ECA9;
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-sizing: border-box;
    }
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 4px solid $gray-100;
      border-bottom-color: transparent;
      transform: rotate(15deg);
    }
  }
  .left {
    z-index: 1;
    position: absolute;
    background: #33ECA9;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 9.6px;
    bottom: -2px;
    overflow: hidden;
  }
  .right { 
    position: absolute;
    background: $gray-100;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: 9.7px;
    bottom: -2px;
    overflow: hidden; 
  }
  &.orange{
    .left {
      background: #FF7E36;
    }
    .bar_overflow {
      &::before{
        border-color: #FF7E36;
      }
    }
  }
}

/* 카테고리 페이지 */
.page_category{
  .tab_menu ul, .tab_cont{
    max-width: 700px;
    margin: 0 auto;
  }
  .tab_cont{
    padding: 0;
  }
}
.cate{
  &_pro, &_tv{
    display: none;
    &.is_show{
      display: block;
    }
  }
  &_pro{
    .cate_list{
      padding-bottom: 50vh;
    }
  }
  &_tv{
    
  }
  &_tit{
    @include fontStyle($gray-600, $fs-s, $fw-m, 2.285);
  }
  &_wrap{
    @include flexStart;
    align-items: flex-start;
    height: calc(100dvh - 190px);
    overflow-y: auto;
  }
  &_nav{
    flex:0 0 125px;
    height: 100%;
    background-color: $gray-50;
    ul{
      height: 100%;
      overflow-y: auto;
      @include verticalScroll;
    }
    li.active{
      a{
        color: $gray-950;
        font-weight: $fw-sb;
        background-color: $color-white;
      }
    }
    a{
      display: block;
      padding: 8px 20px;
      transition: background-color .3s;
    }
  }
  &_list{
    @include verticalScroll;
    flex:1;
    padding: 0 22px 0 16px;
    height: 100%;
    overflow-y: auto;
    & > div{
      padding-bottom: 8px;
      &:last-child{
        padding-bottom: 24px;
      }
    }
    .list_tit{
      @include flexBetween;
      gap: 8px;
      margin: 0 0 4px 0;
      padding: 24px 0 16px;
      border-bottom: 1px solid $color-primary;
      span{
        margin-right: auto;
        @include fontStyle($gray-950, $fs-m, $fw-sb, 1.5);
      }
      .ico_24::before{
        background-color: $gray-950;
      }
      .ico_20::before{
        background-color: $color-primary;
      }
    }
    .cate_tit{
      display: block;
      padding: 8px 20px 8px 8px;
      color: $gray-950;
      line-height: 1.714;
    }
  }
  &_brand{
    li{
      background-image: url("../images/contents/img_prd_list_lg_01.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      >a{
        position: relative;
        @include flexCenter;
        justify-content: flex-start;
        height: 132px;
        padding-left: 20px;
        @include fontStyle($color-white, $fs-lg, $fw-sb, 1.4166);
        // &::before{
        //   z-index: -1;
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   background: rgb(0, 0, 0, 0.6);
        // }
      }
    }
    li+ li{
      border-top: 1px solid $color-white;
    }
  }
  &_service{
    padding: 4px 16px 0;
    .service_tit{
      display: block;
      padding: 12px 0 12px 20px;
      @include fontStyle($gray-950, $fs-sm, $fw-m, 1.143);
      a{
        display: block;
      }
    }
    .accord{
      &_list {
        &.is_plus {
          .accord_tit {
            flex-wrap: wrap;
            padding-right: 32px;
            white-space: normal;
          }
        }
      }
      &_cont{
        padding:0 0 16px 0;
      }
    }
  }
}
.tab_cont_item{
  .thumb_list{
    gap: 16px 5px;
    & > li{
      margin: 0;
      width: auto;
      flex: 0 0 calc((100% - 15px)/4);
      @media (max-width: $mo-point) {
        min-width: auto;
      }
    }
    @media (min-width: $pc-point) {
      justify-content: center;
      li{
        flex: 1;
        max-width: 80px;

      }
    }
  }
}
