/* Input */
@mixin inputGroup(){
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  min-width: 240px;
  label{
    position: relative;
    width: 100%;
  }
}
@mixin inputIcon(){
  label{
    & > i, & > button {
      @include pos_Ycenter;
      right: 12px;
      min-width: 24px;
      min-height: 24px;
    }
  }
}
.input {
  &_group {
    @include inputGroup();
    &.width_btn {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 12px;
    }
    .ico_close_circle{
      @include pos_Ycenter;
      right: 12px;
      width: 24px;
      height: 24px;
    }
    .time, .btn_sm {
      @include pos_Ycenter;
      right:12px;
      height: 30px;
      padding: 0 12px;
      border-color:$gray-400;
      border-radius: 4px;
      @include fontStyle($gray-600, $fs-s, $fw-m, 1.357);
    }
    label{
      @include fontStyle($gray-950, $fs-s, $fw-sb, 1.214);
      font-family: $font-aritadt;
      .line_red{
        color: $color-red;
      }
    }
    .time{
      @include fontStyle($color-red, $fs-sm, $fw-m, 2);
    }   
    &[class*="input_icon"] {
      @include inputIcon;
    }
    &.input_icon_left {
      .input_text {
        padding-left: 40px;
      }
      [class*="ico_"] {
        left: 12px;
      }
    }
    &.input_icon_right {
      .ico_close_circle{
        right: 48px;
      }
      input {
        padding-right: 56px;
      }
      i {
        right: 12px;
      }
    }
    &.with_time{
      .ico_close_circle{
        right: 67px;
      }
    }
    & + .input_group.with_time{
      padding-top: 6px;
    }
    .dash{
      color:$gray-200;
      text-align: center;
    }
    &.input_social_num{
      label{
        @include flexStart;
        gap: 6px;
        color:$gray-500;
      }
      .input_text{
        flex: 1;
        max-width: 40px;
        &.birth_date{
          max-width: 120px;
        }
      }
      .hidden_num{
        height: 10px;
      }
    }
    &.is_date{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap:6px;
      input{
        flex: auto;
        width: auto !important;
        min-width: 0;
        max-width: none;
        cursor: pointer;
        user-select: none;
        padding-right: 48px;
        background: url('../images/icon/ico_calendar_24.svg') center right 12px/24px no-repeat;
        @include fontStyle($gray-500, $fs-m, $fw-m, 1.5);
      }
      &.hidden{
        display: none;
      }
    }
    label.is_uploaded{
      @include inputIcon;
      .input_text {
        padding-left: 40px;
        color: $gray-950 !important;
        border-color: transparent !important;
      }
      button{
        z-index: 1;
        display: block !important;
        margin-left: auto;
      }
      .ico_clip {
        left: 12px;
      }
      .ico_close_circle{
        right:12px;
      }
      [class*="btn_"] {
        border-color: $gray-300;
        right: 48px;
      }
    }
    .file_wrap{
      width: 100%;
      .file{
        .name{
          @include fontStyle($gray-950, $fs-m, $fw-m, 1.5);
        }
        button{
          position: relative !important;
          transform:none !important;
          inset:auto;
        }
      }
      .ico_clip {
        inset: auto;
        margin-right: 4px;
      }
    }
    .uploader_wrap{
      margin: 2px 0 12px;
    }
    ul.dot_list{
      li.txt_alert{
        @include fontStyle($gray-700, $fs-xxs, $fw-m, 1.333);
        & + li{
          margin-top: 4px;
        }
      }
    }
  }
  //타입 텍스트,파일 업로드, 비번
  &_text[type="text"], &_text[type="file"], &_text[type="password"] {
    width: 100%;
    height: 50px;
    padding: 0px 12px;
    border: 1px solid $gray-200;
    border-radius: 4px;
    @include trans($prop: all, $duration: 0.2s, $type: ease-out, $delay: 0s);
    @include placeholder;
    @include fontStyle($gray-950, $fs-m, $fw-m, 1.5);
    font-family: $font-aritadt;
    &:focus {
      border: 1px solid $gray-950;
      & ~ button{
        border-color: $color-red;
        color: $color-red;
      }
    }
    &:disabled {
      color: $gray-600;
      background-color: $gray-50;
      & ~ button{
        display: none;
      }
    }
    & + .input_text {
      margin-left: 8px;
    }
    &.input_error {
      border: 1px solid $color-red;
    }
    &.input_success { 
      border: 1px solid $color-blue;
    }
  } 
  &_text[type="file"]{
    cursor: pointer;
    color: $gray-600;
    &::-webkit-file-upload-button {
      height: 100%;
      width: 0px;
      padding: 0;
      margin: 0;
      margin-inline-end: 0;
      padding-block: 1px;
      padding-inline: 0;
      border-width: 0;
    }
    &.is_square{
      width: 80px;
      height: 80px;
      .ico_close_circle{
        background-color: $color-primary;
      }
    }
  }
  //Textarea
  &_writing_group {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 240px;
    min-height: 140px;
    height: auto;
    padding: 12px;
    border-radius: 4px;
    border: solid 1px $gray-200;
    background-color: $color-white;
    outline: none;
    textarea {
      width: 100%;
      height: 100%;
      min-height: 96px;
      resize: vertical;
      @include placeholder;
      @include fontStyle($gray-950, $fs-m, $fw-m, 1.5);
      font-family: $font-aritadt;
    }
    &.disabled, &.disabled textarea {
      background-color: $gray-50;
      color: $gray-300;
      resize: none;
      .txt_count, .txt_count .current.zero{
        color:inherit;
      }
    }
    .txt_count {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      bottom: 12px;
      right: 24px;
      user-select: none;
      @include fontStyle($gray-600, $fs-xxs, $fw-m, 1.333);
      font-family: $font-aritadt;
      & > *{
        font:inherit;
      }
      .current {
        color: $gray-900;
        &.zero{
          color: $gray-600;
        }
      }
    }
  }
  &_label{
    position: relative;
    display: inline-flex;
    @include fontStyle($gray-950, $fs-s, $fw-sb, 1.214);
    font-family: $font-aritadt;
    &.required{
      &::after{
        content: '';
        position: relative;
        display: inline-block;
        top: 3px;
        right: -2px;
        width: 4px;
        height: 4px;
        background-color: $color-red;
        border-radius: 100%;
        vertical-align: top;
      }
    }
    .info_tooltip{
      order: 1;
      align-self: center;
      margin-left: 8px;
      &::before{
        background-color: $gray-400 !important;
      }
    }
  }
  //Etc
  &_etc{
    min-height: 92px;
    textarea{
      min-height: 66px;
    }
    &.hidden{
      display: none;
    }
  }
}
//툴팁박스
.tooltip_box{
  display: none;
  z-index: 1;
  position: absolute;
  max-width: 253px;
  padding: 20px 16px;
  margin-right: 16px;
  border: 1px solid $gray-800;
  border-radius: 8px;
  background-color: $color-white;
  &.show{
    display: block;
  }
}
//검색바
.search_bar{
  @include inputGroup;
  @include inputIcon;
  .input_text{
    height: 44px;
    border-radius: 8px;
    background-color: $gray-50;
    border: 0;
    &:focus, &:focus-visible{
      border: 0;
    }
  }
}
