
/*****  Layout *****/
//Breakpoint : (1024px ~)
//@media (min-width: $pc-point) {}
$pc-point:1024px;
//@media (max-width: $mo-point) {}
$mo-point:375px;
$moForm-point:740px;
//Bottom Tabbar Height
$btmbar-H: 90px;
//Header Height
$header-H:100px;
$subheader-H:61px;
//AppBar Height
$appbar-H:60px;

/*****  FONT *****/
// Font Family
$font-gotham: 'Gotham','Apple SD Gothic Neo','AppleGothic',sans-serif;
$font-aritadt: 'Arita-dotum','Apple SD Gothic Neo','AppleGothic',sans-serif;

// Font Size
///30/24/20/18/17/16/15/14/13/12 
$fs-xxs: 0.75rem;  //12 
$fs-xs: 0.8125rem; //13
$fs-s: 0.875rem; //14
$fs-sm: 0.9375rem; //15
$fs-m: 1rem; //16
$fs-md: 1.0625rem; //17
$fs-ml: 1.125rem; //18
$fs-l: 1.25rem; //20
$fs-lg: 1.5rem;//24
$fs-xlg: 1.875rem;//30
$fs-22: 1.375rem;//22
$fs-23: 1.4375rem;//23

// Font Weight
//Gotham: Book(figma-325)/Medium(figma-350)/Bold(figma-400)
//Aritadt: Medium/Semibold

$fw-t: 100; // thin
$fw-l: 300; // light, book
$fw-m: 400; // medium
$fw-sb: 600; // semibold
$fw-b: 700; // bold
$fw-bb: 900; // extrabold, black

/*****  Color *****/
// 주요 색상  
$color-primary: #2A3136;
$color-point: #FF2E00;

// 시스템 색상
$color-red: $color-point;
$color-green: #00B628;
$color-green-secondary: #E1FBE1;
$color-orange: #ED5828; 
$color-orange-secondary: #FFF2EE; 
$color-orange-light: #F18200;
$color-orange-light-secondary:#FFF5E9;
$color-blue: #1A63D9;
$color-blue-secondary: #DFEDFF;
$color-blue-tertiary: #EFF6FF;

$color-mint: #15AEB4;
$color-mint-secondary: #E8FAFA;
$color-yellow: #FFC107; 
$color-olive: #B5CC18; 
$color-teal: #00B5AD; 
$color-violet: #6435C9;
$color-purple: #A333C8;
$color-pink: #E03997;
$color-brown: #A5673F;

// Grayscale
$gray-50: #f6f6f6;
$gray-100:#eeeeee; 
$gray-200: #e2e2e2;
$gray-300: #dddddd;;
$gray-400: #bbbbbb;
$gray-500: #aaaaaa;
$gray-600: #888888;
$gray-700: #777777;
$gray-800: #666666;
$gray-900: #444444;
$gray-950: #222222;
$color-white: #ffffff;

$color-disabled-box: $gray-50;
$color-disabled-txt: $gray-600;
$color-box: $gray-50;
$color-box-2: $color-blue-secondary;
$color-input-border: $gray-200;

